[2018-05-30 22:22] NPBruce commented on #833
Thanks @redwolf2 .

[2018-05-30 22:22] #833 closed

[2018-05-30 22:47] NPBruce commented on #836
I can pull it from github, I will have a look when I can. You can check Valkyrie's memory usage to see if this is the problem. Note that it has to run on mobile devices anyway, so just increasing this limit is probably not a good solution (unless it is only required for the editor perhaps).

[2018-05-31 07:00] scrubbless commented on #836
It can be a little sluggish to end rounds towards the later rounds. But runs ok on my phone mostly.

I though it crashes when using the old journal item at the moment. I've been working on that.

[2018-05-31 09:46] scrubbless commented on #836
Ok so when I bring up the editor it spikes to 700mb memory usage:
![image](https://user-images.githubusercontent.com/32058089/40775097-22dccb5e-64bf-11e8-8dcd-86ab5ab1278d.png)

I did a save and tabbed out to work on other things no Valkyrie for a while, in that time it settled down to nearer 150-200mb.

I opened up a UI element, clicked to select an image and it went up to around ~300mb.

Once an

[2018-05-31 10:08] NPBruce commented on #836
I've had a quick look. I get the same memory usage, which is fine.

The interesting part is that performance for me is fine when it is on the starting 'Quest' component, but goes bad when a different component is selected. When it goes bad it is not just the component selection, the entire UI including scrolling, paning and zoming go bad. Also the CPU load is high when the window is in focus, but

[2018-05-31 10:09] scrubbless commented on #836
Just been using it with the Task Manager up and have noticed that when I click components, the memory spikes over 700mb and there is a delay. So I think it probably is memory usage:
![image](https://user-images.githubusercontent.com/32058089/40776574-093cf7d8-64c3-11e8-8582-5d8b2f9ef3cd.png)

[2018-05-31 10:12] scrubbless commented on #836
Yeh thats it. Once you hit the components menu it gets grumpy. I periodically save and close Valkyrie and go back in which helps. I suspect it is just because I have loads and load of components.

If I open up a new scenario from scratch its really responsive.

[2018-06-01 00:21] redwolf2 commented on #834
I will close that for now. You can still comment if you still have issues and we can reopen it.

[2018-06-05 23:07] redwolf2 commented on #836
When I clicked on "Components" it took 5 seconds to open. I found out, this is due to the amount of items, that are displayed, which is 2594. For each item, there is a UIElement, that will be created. I guess it is just to much for Unitys ui system. Maybe the fix is something list an infinite list (https://www.youtube.com/watch?v=uVTV7Udx78k).

![items](https://user-images.githubusercontent.com/41

[2018-06-05 23:27] NPBruce commented on #836
I am not convinced that is the problem. Even once the components list is closed unity runs terribly, including from frame to frame. The constantly running code on the Valkryie side is click/drag code (used everywhere and very light) and the spite pulser (only used for some component selections, and the problem exists when this isn't used).

This list shouldn't be too hard for unity, but perhaps it

[2018-06-05 23:51] redwolf2 commented on #836
I commented out the content of CameraController.FixedUpdate() for testing purposes. No more slowdowns.

![cameracontroller](https://user-images.githubusercontent.com/4141621/41008581-10e34f88-692c-11e8-81b1-5fd3ad008d82.PNG)

[2018-06-06 21:14] redwolf2 commented on #836
I think I found it.  Seems to be the ray casting inside FixedUpdate()

https://github.com/NPBruce/valkyrie/pull/838

[2018-06-06 22:48] NPBruce commented on #836
Great work!

[2018-06-06 22:48] NPBruce commented on #836
Merged for inclusion in 2.1

[2018-06-06 22:48] #836 closed

[2018-06-07 12:28] scrubbless commented on #836
Well done guys, look forward to testing in 2.1!

[2018-06-09 09:54] scrubbless opened #839 "Question - Campaign Screen / link external quests/Scenarios"
[###](url) Description of Problem or Question
Hi all,

I was considering looking into making a campaign mode for either a descent campaign, or mansions of madness. However I am curious how it works.

Would I create one quest as the campaign, then reference a second quest (aka a side mission or campaign mission) from there. Can I track variables between campaign missions.

Is there a tutorial for t

[2018-06-09 10:03] NPBruce commented on #839
That is exactly how it works.  There is an example available for D2E, but it would work the same under MoM, take a look here:
https://github.com/NPBruce/valkyrie-questdata/tree/master/source/D2E/campaign

Currently you can't link the quests in the editor, this has to be done manually.

The example above has the 'campaign' quest at the root level, and then other quests inside it. When creating a pa

[2018-06-09 10:54] scrubbless commented on #839
Thanks Bruce! I was considering a campaign mode that has story mode and  and uses existing scenarios as side quests.

Is it possible to link a 3rd party scenario (assuming I have the authors consent).

[2018-06-09 10:57] NPBruce commented on #839
It is, but you need the relative path. There is no way to search for it, if it was installed as a package in the same way then it should work, but future compatibility would be near impossible to control anyway.

I'd suggest packaging a version of the scenario (even if it is the same) with the campaign, in order to maintain control over the interactions.

[2018-06-09 23:00] spyxone opened #840 ""feature" request"
hello, sorry for my english but this is my first thought when playing game with oryginal app, found Valkyrie but the same issue for me.

Why text is so illegible

when we have make the "test" (roll the dice) the screen should look like:

roll (...)

when pass
(...)

when failure
(...)

not everything in one paragraph (!)
maybe some scenario creator read this

And again sorry for my english, I have

[2018-06-10 07:07] scrubbless commented on #840
Can you post a screenshot of what you mean?

[2018-06-10 08:55] scrubbless commented on #839
Thanks @NPBruce , I get it now. I thought it was something we had to do manually in the quest.ini but I was not exactly sure how. This is perfect!

[2018-06-10 08:55] #839 closed

[2018-06-10 18:52] scrubbless opened #841 "Horror Test Bug"
### Description of Problem or Question
I have a custom monster, with a custom horror check.

If you chose the custom monster to perform your horror check, when the event resolves and you click "continue" it ends the Horror Phase. This means that no other investigators can take Horror Checks (for example, if they are out of range of the custom monster or closer to something of higher threat).

I've

[2018-06-13 10:22] DelphiDie opened #842 "Save system problem during campaign play"
### Description of Problem or Question
From the feedback of multiple users and some tests of my own, it seems very likely that there is a problem with the way Valkyrie's saving/loading system works in regards to D2 campaign play.

While the campaign works absolutely fine in Valkyrie during play, a problem occurs after loading a save file. Then the game just stops at the point, where a new quest.in

[2018-06-17 19:37] andrex47 opened #843 "portuguese translation of the scenario: A glimpse of the past"
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2109313/Localization.Portuguese.txt)
### Description of Problem or Question
i have translated the localization file of this quest

### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyrie/MoM/Editor

[2018-06-17 22:29] NPBruce commented on #843
This scenario belongs to:
https://github.com/slycozzolino/

I suggesy you contact them.

[2018-06-18 21:59] Agerno opened #844 "New scenario"
New Scenario: "Las mujeres desaparecidas", for now only available in Spanish. It would be nice to have this scenario available for many people to play it, so I also request someone to translate it to English or other languages.
Valkyrie Version 2.0.1.
**Scenario:**
[LasMujeresDesaparecidas.zip](https://github.com/NPBruce/valkyrie/files/2113207/LasMujeresDesaparecidas.zip)

[2018-06-18 22:12] NPBruce commented on #844
Hi @Agerno , thanks for your work. Can you please follow the instructions here to get your scenario added:

https://github.com/NPBruce/valkyrie/wiki/QuestPublish

Let me know if you ahve any questions.

[2018-06-18 23:09] Agerno commented on #844
So I must make another issue just requesting my scenario to be added. And I must put a link to my repository including the package, like this https://github.com/Agerno/Valkirye-Las-mujeres-desaparecidas
and it's done, isn't it?

Or are there any problems with the package that I must fix?

[2018-06-18 23:12] NPBruce commented on #844
You can use this request, but the Valkyrie package be uploaded directly so it can be read in the application.

Please do not zip before adding to your repository. Note that it is already compressed, it does not need to be zipped again.

[2018-06-19 02:33] NPBruce commented on #844
As an asside, this is a frequent problem, I am open to suggestions on how to improve the instructions.

[2018-06-19 08:33] Agerno commented on #844
Ok, here it is the link to the package (not a Zip)
https://github.com/Agerno/Valkirye-Las-mujeres-desaparecidas/tree/master/LasMujeresDesaparecidas

[2018-06-19 08:40] Agerno commented on #844
Suggestions:
-Specify in the instructions that the package must not be a zip. I thought it must, since I tried to upload it in these issues and it didn't allow me, unless it was in some formats like a .zip or a docx, etc.

[2018-06-19 10:19] NPBruce commented on #844
Added.

[2018-06-19 10:19] #844 closed

[2018-06-19 15:01] redwolf2 commented on #843
@slycozzolino

[2018-06-19 15:03] redwolf2 commented on #708
This issue doesn't happen anymore. However, there is no message, that the connection failed.

[2018-06-19 21:58] slycozzolino commented on #843
I will add it. Thanks.

[2018-06-25 10:42] scrubbless commented on #836
Is there any easy hotfix I can do until 2.1 is released.

I am struggling to do anything on my scenario, as it takes up to 5 seconds every button press for Valkyrie to catch up, is making it almost impossible to work on any other machine than my gaming rig (which is still slow going).

[2018-06-25 17:35] andrex47 commented on #843
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2134087/Localization.Portuguese.txt)just updated it, a misplaced " was breaking the file

[2018-06-26 00:19] UberGooberGames opened #845 "Scenario Image"
I'm new to Valkyrie and I'm trying to choose a thumbnail image for the scenario.  I click "image" but it doesn't give me any choices.  I'm assuming I need to upload images somewhere (jpg, 200x200px) but no matter where I drag images they don't seem to show up here.

[2018-06-26 11:06] redwolf2 commented on #845
You have to change your quest.ini with a text editor

Have a look here:

https://github.com/NPBruce/valkyrie-questdata/blob/master/source/MoM/TheFallofHouseLynch/quest.ini

https://github.com/NPBruce/valkyrie-questdata/blob/master/source/MoM/TheFallofHouseLynch/hol.jpg

[2018-06-26 11:07] redwolf2 commented on #843
@slycozzolino

[2018-06-26 18:14] UberGooberGames commented on #845
Thank you!
I believe that solved the problem, or at least got me a step closer to
fixing it.  My first problem was finding the quest.ini in the first place..
:)

On Tue, Jun 26, 2018 at 6:06 AM, redwolf2 <notifications@github.com> wrote:

--
Thanks in advance for your time.
Steven E. Metze
512-496-0936
www.ubergoobergames.com

[2018-06-26 18:15] #845 closed

[2018-06-26 19:17] scrubbless commented on #845
Logo images will only show you custom images.

Drop your 200x200 logo image in the scenario location:

%appdata%Valkyrie\MoM\Editor\Scenario1

If you are following the guide I've updated the page to detail the location, sorry I missed it:
https://docs.google.com/document/d/1Gi5gTwKkw84Px0Lvk-bJ3Aml_vF3ZoljjB6a8FjWGt8/edit

[2018-06-26 19:19] scrubbless commented on #845
Once you've copied the file, when you click the box next to image it will show in the menu.

[2018-06-27 07:30] scrubbless opened #846 "Valkyrie hangs at "EndRound""
### Description of Problem or Question
My scenario has a lot of components and overlapping events.
It also makes quite extensive use of end/start rounds and Mythos triggers.

When play testing ending the round can be very slow, sometimes it can take up to 5 seconds to load and start the next phase.

While this isn't a problem when there are no monsters on the board, as the freeze happens after the

[2018-06-27 11:51] UberGooberGames commented on #845
Excellent!  That worked perfectly, thanks!

On Tue, Jun 26, 2018 at 2:19 PM, scrubbless <notifications@github.com>
wrote:

--
Thanks in advance for your time.
Steven E. Metze
512-496-0936
www.ubergoobergames.com

[2018-06-27 19:42] luizbgomide opened #847 "Where are the localizations stored?"
Where the localizations imported from Steam (spells, monsters, itens, etc) are stored, and can they be personalized or changed in any way? Is it possible to add new translations for stuff not yet localized?

[2018-06-27 20:56] luizbgomide commented on #847
Just found it at %appdata%\Valkyrie\MoM\import\text

[2018-06-27 20:56] #847 closed

[2018-06-27 23:35] scrubbless opened #848 "Razon - English Translation"
Hello, I am attempting to translate "RAZON!!" into English.

Does anyone know who the author so, I can reach out and give them the Localisation file when it is complete?

[2018-06-28 01:15] NPBruce commented on #848
https://github.com/EtiCarasoft

[2018-06-28 01:34] UberGooberGames opened #849 "Is there a way to Copy Events etc?"
Basically I'm looking for a way to repeat events with slight variations, and would like to copy them and make small edits v. retyping them from scratch every time.  Am I missing something very easy and obvious?

[2018-06-28 08:36] scrubbless commented on #848
Hey Bruce, thanks for that. Is the quest data in your report? If so how do I go about forking it and adding the file?

@EtiCarasoft just wanted to tag you in on this. I will attach a localisation.english file once I have completed the translation.

[2018-06-28 08:41] EtiCarasoft commented on #848
Perfect, thanks a lot for your work !!!

[2018-06-28 08:42] EtiCarasoft commented on #848
The original tittle is:  At 22.30 at the birds shop.

[2018-06-28 09:07] NPBruce commented on #848
This scenario was originally added before I had support for user controlled packages. I'd prefer not to update the existing one, other than to change it to the new system:
https://github.com/NPBruce/valkyrie/wiki/QuestPublish

[2018-06-28 15:57] redwolf2 commented on #849
No yet. I'm closing it, because it is a dublicate of https://github.com/NPBruce/valkyrie/issues/522

[2018-06-28 15:57] #849 closed

[2018-06-28 16:41] redwolf2 commented on #849
Not a big deal. If you are unsure, just open an issue.

[2018-06-28 21:08] scrubbless commented on #848
I do not speak Spanish,and I am translating using google translate and then cleaning it up. There a few bits that will probably not translate well, i'll do my best and ask here if I am not sure on something.

[2018-06-29 02:58] UberGooberGames opened #850 "BUG: {symbol} doesn't change to picture in Attacks against CustomMonster"
So the {agility} and {strength} etc. functions that turn them into pictures doesn't seem to work on the Custom Monster Investigator Attacks description windows.

[2018-07-01 23:59] LordPyrex commented on #846
Sounds more like a strain on Valkyrie! Is it possible to nest some of your events? Or is it possible that they could all take place at the end of the round? I guess what I'm imagining is something like an index pointer that runs at the end of the round and can have branches out after doing some test checks. Then if it runs an event, that event can change the variable and feed it back to the tree m

[2018-07-02 08:40] drinkinguranus opened #851 "New Scenario"
### Description of Problem or Question
https://github.com/drinkinguranus/LostMemories

### Valkyrie Version
https://github.com/drinkinguranus/LostMemories

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyrie/MoM/Editor

[2018-07-02 09:01] scrubbless commented on #851
Awesome, announce your scenario on the BBG thread, this will allow people to rate the scenarios and give feedback.
https://boardgamegeek.com/thread/1916430/fan-made-scenarios-reviews-valkyrie

I will create a poll for new scenarios when a couple more have been released (I want to avoid individual polls for individual scenarios!).

[2018-07-02 09:28] NPBruce commented on #851
Added.

[2018-07-02 09:28] #851 closed

[2018-07-03 07:51] scrubbless commented on #846
Haha yeah I have been flogging poor Valkyrie with this one.

I did think of that, I use incursive loops alot throughout the scenario. Some of the EndRound events are loops within themselves. I'll have a think of the best way to do it, but I think you're right.

Cheers for the assist.

[2018-07-03 21:46] BenRQ opened #852 "Add and Improve Valkyrie French translations"
Hello,

I have spotted some missing French translations, mainly related to MoM Packs.

My commit is almost ready, but I can't find the location of the translations for the boxed expansions "streets of Arkham" and "sanctum of twilight".

I looked for text "twilight" in the whole repo, and for MAD26 which seems to be the tag for the Sanctum of Twilight expansion but without any success.

Some guidan

[2018-07-04 00:07] slycozzolino commented on #843
Updated

[2018-07-04 08:11] scrubbless commented on #846
I've consolidated those events into one end round event, but it hasn't really helped.

I suspect there is a rogue EndRound event that I've kiss labelled and forgotten about. Is there an easy way to find events with EndRound in the ini files? I assume it'll be in events.ini, would it be as simple as searching for "EndRound"?

[2018-07-04 14:17] redwolf2 commented on #852
I guess the text of "Sanctum of Twilight"  and "Streets of Arkham" is taken from the texts, imported from the main app (PRODUCT_TITLE_MAD25 for example).

https://github.com/NPBruce/valkyrie/blob/master/unity/Assets/StreamingAssets/content/MoM/soa/content_pack.ini

So there should be no need to translate those.

[2018-07-04 15:02] BenRQ commented on #852
Thanks for the feedback !

Maybe the import is not taking into account the language selection then.
I have the MoM official app configured in French, and the title of the expansions are available in French too (at least one is : street of Arkham)
![image](https://user-images.githubusercontent.com/40794717/42284032-91934c38-7fab-11e8-9414-4ae8909bf1f5.png)

But I still have the text in English in V

[2018-07-04 15:10] BenRQ commented on #852
Maybe the issue is only for streets of Arkham.

The other one "Par-delà le seuil" (Beyond the threshold) is properly translated.

And Sanctum of twilight is not yet available in French :'(

I will commit my changes then.

[2018-07-04 16:16] BenRQ commented on #852
Commit and pull request is done.

[2018-07-04 18:38] scrubbless commented on #846
Ok I am officially at a loss. I completely disabled my massive EndRound event, thinking it might be that. But no luck.

I turned off all of my StartRound, EndRound and Mythos triggered events, searched the .ini for all "Triggers" and all that are there are "Eliminated" and some "DefeatXXX".

Now when I End Turn, the normal Mythos Event pops up and then it takes 5-10 seconds to proceed to the Inves

[2018-07-04 20:18] redwolf2 commented on #852
https://github.com/NPBruce/valkyrie/pull/853

[2018-07-04 21:38] BenRQ opened #855 "At 22.30 at the birds shop : French translation"
Hello

I have started the translation of "At 22.30 at the birds shop." in French.

20% is done, I expect the rest to be done in the next days.

@EtiCarasoft I may have a few questions, as I'm not fluent in Spanish.
I will post them here.

@indoy, I saw you did a lot of French translations for other quests.
It would be great if you can have a look at my translation before it is published.
Or even b

[2018-07-04 23:36] NPBruce commented on #846
Not likely to be based on file size. More likely to do with the number of elements that are displayed (tiles, tokens, UI). Hopefully some of the speed improvements will fix this. Sorry I haven't had much time lately, I will investigate when I can.

[2018-07-05 06:49] scrubbless commented on #846
No need to apologise @NPbruce.

[2018-07-08 17:21] Bakajao opened #857 "D2e- Individual Hero Exp points"
### Description of Problem or Question
Hi all!!

Awesome work Bruce.
I`d like to know if its posible to give individual experience points to certain heroes. I cant see any individual exp var into the pool var.
I remenber seen that in RTL campaing its posible.

Thanks a lot for the answers..

### Valkyrie Version
2.0.1

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%

[2018-07-08 22:15] NPBruce commented on #857
Currently no way to do this, feature is being tracked here:

https://github.com/NPBruce/valkyrie/issues/375

[2018-07-08 22:15] #857 closed

[2018-07-09 21:43] scrubbless commented on #848
Hi @EtiCarasoft ,

I am having trouble translating this line:

Here is my first attempt, but I am not sure I have the context correct.

Is Pajarito a name?

[2018-07-10 09:14] EtiCarasoft commented on #848
I see it pretty cool!

Pajarito is little bird

[2018-07-10 16:20] scrubbless commented on #848
I tried to add a bit of poetic licence I hope you don't mind:

The line translated to:
I am you and you are me, now you will see it.

I made it:
I am you and you are me, now you will see what we both can see.

I felt the creepy child would work well with a creepy poem! Haha.

When it's done I'd appreciate if you would read it over to make sure I've got the correct context for events. Google transl

[2018-07-10 18:22] Bakajao commented on #553
Hi all...i had the same problem about the boxes text fit...i investigated why happens and i discover that it fix changing the languaje in quest.ini file....
I hope that solution solve the problems

[2018-07-10 21:09] BenRQ commented on #553
Hi @Bakajao, I have the same issue and I tried to change the default language but it did not fix the issue.
I set DefaultLanguage to French, and my text is in French.
Valkyrie version 2.0.1

Can you give more details on your fix ?

![momtextsize](https://user-images.githubusercontent.com/40794717/42537834-52994074-8496-11e8-87c2-a46b4d5482de.png)

[2018-07-10 23:23] BenRQ commented on #855
First of all, I have to say that this scenario is really really good.
Well done @EtiCarasoft !
I tried to keep the dark atmosphere, and the elegance of your writing, I hope I did an OK job :)

It is also quite difficult, which is good as you need to play it more than once to succeed.

So here is my first version of translation.
@Indoy, feel free to try it out
I think there are a lot of things that

[2018-07-10 23:33] BenRQ commented on #848
@scrubbless don't know if you have seen it, but I just realized there are some pending changes here for this scenario : https://github.com/NPBruce/valkyrie-questdata/pull/34/files

And BTW, I'd like to have a look at your translations too, if you don't mind.
It could help me improve my version in French and I may have some comments as I may have a different understanding on some part.

[2018-07-10 23:47] BenRQ commented on #848
A quick suggestion for your translation:
"you appear to be asleep and where you would expect someone to be crying at your side, you realise that you are alone, in the middle of nowhere."
I would suggest:
"you appear to be asleep and you think you hear someone crying by your side, but you are alone, in the middle of nowhere."

I'm not fluent in english but I know the first version did not sound so

[2018-07-11 07:13] scrubbless commented on #848
Thanks for the tip, I agree with you there. I'm not sure if it was intentional orif it has just translated strange.

The dialogue appears to suggest that in your 'consciousness' mind you expect to be next to the child, but whatever phychosis you are experiencing now depicts you alone.

[2018-07-11 07:15] scrubbless commented on #848
And BTW, I'd like to have a look at your translations too when you are done, if you don't mind.
It could help me improve my version in French and I may have some comments as I may have a different understanding on some parts.

Absolutely, I'd appreciate that!

[2018-07-11 07:20] scrubbless commented on #855
@EtiCarasoft
I would suggest that you publish your latest version to a new repo ans have Bruce publish the new location.

This will give you full control to push your own changes and add the localisation files.

[2018-07-11 08:07] EtiCarasoft commented on #855
I'm translating the latest guide to spanish and getting myself back to Valkyrie and new sistem i will fix it and reload it let's see if the issues are solved this way.
@BenRQ we have a problem with one mythos trigger we have to look back on variables to see how to fix it but it's kind of a bug.

EventRegresoMythos6.text
You get the first horror card that remains face up from the horror deck.

Toke

[2018-07-11 21:06] redwolf2 commented on #852
Pull request was replaced by this here: https://github.com/NPBruce/valkyrie/pull/856

[2018-07-12 17:56] BenRQ commented on #553
@NPBruce @redwolf2 I have a fix to propose on this one.

It seems that Unity may not provide a correct height when using GetPreferredHeight in some cases.
I tried to attach the object and use Canvas.ForceUpdateCanvases(); to see if it was related but it's not.

It does work fine when using the UIElement that you are going to display though.
So I changed the functions so they are not static anymore

[2018-07-14 00:59] BenRQ opened #859 "Improve placement and look of button bar"
Hi,

This is a proposal for some small evolutions of the button bar displayed while playing a game.

I have spotted some points that could be easily improved regarding these buttons / texts :
 - the arrow for 'next phase' is not so pretty '->', and you have to guess the purpose
 - buttons are very small, makes it almost impossible to translate properly
 - no difference between phase description, a

[2018-07-15 12:13] scrubbless commented on #841
Hi @NPBruce ,

I have noticed something else with this, the custom Horror activation's on Custom Monsters also skip "EndRound" trigger events.

[2018-07-16 16:25] BenRQ commented on #859
Hi @NPBruce, do not hesitate to tell me if you are not fine with this kind of design changes.
And I'm trying to test as much as possible but I may miss something.

[2018-07-16 16:35] BenRQ opened #860 "Discussion about future fix / feature : discord now available !"
Hi @NPBruce, all,

Do you have a place where we can talk about new features, issues assignement, development questions and ideas to solve issues ( #111 for example)?
I would gladly help on a few topics on this nice project.

I'm thinking about a forum / channel in a place like Reddit or Discord.

It would also be nice for people to exchange tips when creating quests.

[2018-07-16 17:06] BenRQ commented on #859
I've done one additional change: removing this button bar while we are on the prologue.
It looks quite nice I think.

![image](https://user-images.githubusercontent.com/40794717/42772514-fc12cd4e-892a-11e8-981f-9c5a12e60913.png)

![image](https://user-images.githubusercontent.com/40794717/42772522-013fbae8-892b-11e8-9acc-63e81f70dc32.png)

I wait for the first tile to be displayed to display the s

[2018-07-16 20:15] scrubbless commented on #860
Discord is not a bad shout, I talk to a couple on IM within BGG but a forum for this might be handy.

Though I think a proper quest distribution and social platform is what's being discussed in #111.

I imagine somewhere where you can upload quests and then mods can approve to release them to the Valkyrie lists.

Also a place dedicated to rating and commenting on scenarios.

[2018-07-16 20:29] scrubbless commented on #859
This is quite cool, did you code this in Unity or mock it up with an editing tool?

[2018-07-16 20:33] scrubbless commented on #848
Sorry for the delay, I would usually make quicker progress. However I am trying to push my latest scenario to a near final polish before my last major play test.

Assuming that goes well I'll probably be releasing it and will have more time to work on this translation.

I also plan to take another parse on the tutorial once this translation is done, as I have some really cool techniques s I'd like

[2018-07-16 22:38] NPBruce commented on #860
I personally am not in a position to engage in any real time communication (IM/audio/video). Happy for others to do so. I'm not against a forum/reddit, but I'm not sure that it will add a lot over the use of issues for discussion (like this one) and will fragment content between here and another place.

Perhaps scenario development specifically is a good case for discussion to live somewhere else.

[2018-07-17 08:48] EtiCarasoft commented on #848
Have anyone of your test been succesful on getting trhow the scenario? I mean winning? @scrubbless, @BenRQ ? This weekend my partner and I made a few ideas for the second one. We'll be writting the script this august to program it as son as posible. We also think on downgrading the difficulty of the scenario. The events are very narrative, but are not so random so having to repeat it much will mak

[2018-07-17 12:58] BenRQ commented on #848
Hi @EtiCarasoft

I did not successfully finish it yet, but I'm planning to try it again with some friends this Thursday.
I agree it is very difficult as it is, but I did expect a least one investigator to get 'LOCO' (mad) before the end of the game

Also I'm wondering if the difficulty depends a lot on the number of players.
I tried it with 2 investigators, and will try it with 4 next time.
I gues

[2018-07-17 13:24] BenRQ commented on #860
A forum/reddit would be good for sure for players, and for content creators : those who do not want to create an account on a strange development website like 'github' :)

I agree it is not so good for developers as issues should be all listed on github.
A chat system like discord would be interesting for developers though.

BGG forum is good mostly to do some promotion of content, I guess, but di

[2018-07-17 13:32] BenRQ commented on #859
I did this in visual studio. Moving buttons is in my level of expertise   :P

Next ticket I plan to work on may prove to be more difficult :  #430

[2018-07-17 13:44] BenRQ opened #861 "Debug with Unity"
Hi

I have one simple question on Unity development.

Is it possible to debug directly in Unity and/or Visual studio ?
I mean add breakpoints, go step by step, see logs in Console.

The only way I found to test my changes was to "build & run" from Unity.

[2018-07-17 14:30] EtiCarasoft commented on #848
It does a hide action i'll look to make it appear as nothing happens makes sense.

... Cocina is a mistype i've fixed it. Changed.

Soft03 should be random I add it in spanish. Changed

I don't know why it changed the tile it should be SideYard2. Changed.

HABOUT Should Be Damage instead of Horror. Changed.

EventRezaryLlorar = "Parece que no sucede nada, però te sientes aliviado." -

Translation

[2018-07-17 14:36] EtiCarasoft commented on #848
Maybe only once it is a bit to extreme as 'all other investigator are dead'.
It could be changed to 'all investigator get X horrors', as it would made everyone mad, but the game would not be ended by one bad decision.

This is the previous to last mythos phase this adventure doesn't let you stay in random events, it also makes sense when your taking the last talk. Just don't worry much about this

[2018-07-17 15:23] BenRQ commented on #848
OK makes sense then :) :)

[2018-07-17 17:47] scrubbless commented on #848
@eticarasoft

Did you know you can use {c:TileTheTilesNAME} to display the tile, the game will enter the tiles name and icon for you.

E.g

The tiles name is Tile001 is the study.

You'd use {c:Tile001} in the text and it would display (in the correct language) the tiles name.

You can do the same with items:
{c:QItemTheitemsName}

[2018-07-17 19:21] redwolf2 commented on #861
1. Install Visual Studio 2017 Community Edition, make sure to add the unity Extension.
1. In your valkyrie folder, open libraries\libraries.sln or double click on Game.cs inside unitys project explorer.
1. Press the play button (centered at the top inside the unity editor)
1. Inside Visual Studio press the play button "Attach to Unity"

If there is a problem, like break points that show a warning

[2018-07-17 19:30] redwolf2 commented on #859
I like it. Maybe use an arrow that is not so thick, like ➔ or →

https://unicode-table.com/de/sets/arrows-symbols/

[2018-07-17 19:57] BenRQ commented on #861
OK thanks a lot, I was able to make it work.
Maybe it is my unity version, but I can't open Game.cs from the Unity project explorer.

Selecting it manually from windows explorer does the job though.

[2018-07-17 19:57] #861 closed

[2018-07-17 21:19] BenRQ commented on #859
I agree the arrow can be improved.

And the vertical alignment was not perfect either.
It actually depends on the character displayed.

Here are a few arrows with the different alignement, which one do you prefer :

![image](https://user-images.githubusercontent.com/40794717/42845958-ca87589c-8a17-11e8-85fb-9cbf04bc2d04.png)

[2018-07-17 21:24] BenRQ commented on #859
A few more:
![image](https://user-images.githubusercontent.com/40794717/42846131-59d5bcd2-8a18-11e8-9b53-b545a667897f.png)

I like the two with the shadow, but alignement would be a problem here.

[2018-07-17 21:53] scrubbless commented on #859
The only one not effected by alignment issues is:
![image](https://user-images.githubusercontent.com/32058089/42847521-2fe6dedc-8a14-11e8-9bf0-892ddaa2ed30.png)

If you can fix alighnment - then I personally prefer
![image](https://user-images.githubusercontent.com/32058089/42847532-41749e3c-8a14-11e8-909c-1d0acea7bc76.png)

[2018-07-17 22:08] NPBruce commented on #861
I will add that break points in Unity+VS are super buggy. It will randomly get stuck forcing you to stop the unity execution and start again. This normally happens when stepping though code and is very annoying.

[2018-07-18 11:19] BenRQ commented on #848
@EtiCarasoft I'm planning to play it tomorrow evening, so would be interesting to have the latest version.
Can you please share your latest version here so that I could test?
A zip or the package is good enough for me for this test.

And if you agree, I will try to apply the change proposed by Scrubbless regarding tile names, it should look nicer.

[2018-07-18 14:20] EtiCarasoft commented on #848
shure no problem @BenRQ .
@scrubbless That script i didn't know it existed when i created the scenario first time.

[EditorEscenario1.zip](https://github.com/NPBruce/valkyrie/files/2206118/EditorEscenario1.zip)

This is the lattest version. I'm working on a bug i think i've found with some vars with the blue light door. I've solved one of the problems, but i have to research a little how to solve

[2018-07-18 16:08] redwolf2 commented on #859
That "paper plane arrow", that @scrubbless preferes looks nice. There could be some padding or a margin involved, that fucks up the alignment.

[2018-07-18 16:49] scrubbless commented on #848
There's a good chance that it didn't when you created yours, the earlier versions of Valkyrie didn't have as many features! Ive seen Razon on my list ever since I started using Valkyrie!

[2018-07-18 22:07] BenRQ commented on #553
Pull request #866

[2018-07-18 22:08] BenRQ commented on #852
Pull request #865

[2018-07-18 22:08] BenRQ commented on #859
Pull request #867
work still ongoing

[2018-07-18 23:48] BenRQ commented on #859
OK this is done.
I had to tweak the border and button size a bit, it's dirty, but it works.

![image](https://user-images.githubusercontent.com/40794717/42913309-92c52960-8af4-11e8-91d1-ebb0a16a4757.png)

[2018-07-19 00:01] BenRQ commented on #848
Thanks @EtiCarasoft, I've now integrated your changes on difficulty in the French translation.
I will play with these changes.

[2018-07-19 21:35] scrubbless commented on #859
Looks clean, I like it

[2018-07-21 11:31] BenRQ commented on #859
Thanks @scrubbless, it is all available now in my pull request.

Waiting for code review, comments if there are any :)

[2018-07-22 14:03] scrubbless commented on #848
The secrets doors do not snap the same was as doors so have to be manually placed, which is a nightmare!

[2018-07-22 18:19] EtiCarasoft commented on #848
**HUGE SPOILER**
There are only 5 mythos Hard it ends after those.

I've fixed the free position of the wall, thanks @scrubbless It's been difficult to align.

_TokenPuertaVerde01.text,Una puerta con la luz verde debajo explicat bé
I can't translate 'explicat bé'. Is it a typo ?_

_With the last question from the cat, to provide an object, there is an option to "recapitular" ( TokenBastEntrega01.b

[2018-07-23 21:30] BenRQ commented on #848
You are welcome @EtiCarasoft.
I like that you have this choice available 👍

Looks like it works in the editor, and not in the game, doesn't it ?
Maybe we can help you fix this.
(Also an easy way to fix this would be to just open each door after each button is pressed, and never close it again, but that's maybe not what you want).

Also I've seen one small improvement:
The skill symbol for the puzz

[2018-07-23 21:53] BenRQ commented on #855
@EtiCarasoft @Indoy
My latest version for the translation in French.
[Localization.French.txt](https://github.com/NPBruce/valkyrie/files/2221180/Localization.French.txt)

[2018-07-24 15:34] redwolf2 opened #868 "MoM: Integrate Horrific Journeys"
https://www.fantasyflightgames.com/en/news/2018/7/2/horrific-journeys/

Manual:
https://images-cdn.fantasyflightgames.com/filer_public/f6/71/f671c831-b06a-40db-95d3-05b8f89b6262/mad27_rules.pdf

[2018-07-24 17:55] EtiCarasoft commented on #848
I think I've solved all the bugs ^^!! The doors solution is not super elegant but i think it works.
We have also come across with an idea to fix the ending and lapsing to the next scenario.

Forget about TokenPuertaVerde01.text this token is deleted.
My partner is working on 2 new text to improve the scenario. We are thinking on adding a Qitem with interaction and a QUI to explain the idea. I'll p

[2018-07-24 19:10] BenRQ commented on #848
@EtiCarasoft very good news  👍
I'm ready to translate !  :)

[2018-07-25 18:01] BenRQ commented on #430
I have worked on this, and I have something working.
The result is quite good and add to the ambiance.

The 2 screens are fixed (no animation), and last for 3 seconds.
I don't think we really need a skip button, as 3 seconds is a very short time but feel free to try it out and tell me :)

Please note that there are no additional actions required by the players, the screens just come and go at the

[2018-07-26 22:41] BenRQ commented on #430
Hi @FASTNAVi , ok,  I will do that no problem.

[2018-07-28 15:30] nzocrato opened #869 "Stress and Strain - Translation to portuguese -"
Hello, I am attempting my first translation  into Portuguese_BR. on valkyrie, i decided to start with "Stress And STrain", because its one of the best rated scenarios on BGG

@scrubbless , i hope you can help me in case of any doubts.

Let's go Valkyrie

[2018-07-28 16:06] scrubbless commented on #869
I am here if you need me! Thanks @nzocrato

[2018-07-29 12:40] danielfrancelino opened #870 "Translations into Portuguese"
### Hello, I've just installed the latest valkirie for windows and noticed that just one scenario is available in Portuguese. So I'd like to translate the scenarios into Portuguese. Could you walk me through how should I proceed to create the translation? I'm not a developer, I'm actually a technical writer, but I know a lot of people in Brazil would use valkirie if we had more scenarios translate

[2018-07-29 19:45] scrubbless commented on #870
Hi @danielfrancelino,

@nzocrato is working on a Portuguese translation of "Stress and Strain" and may have some tips for you.

I have added a section to my Valkyrie guide regarding translating scenarios (Page 130 onwards):
https://docs.google.com/document/d/1Gi5gTwKkw84Px0Lvk-bJ3Aml_vF3ZoljjB6a8FjWGt8/

[2018-07-29 22:15] nzocrato commented on #870
Hi @danielfrancelino,
This is great i have started working to translate the scenarios for the same reason, i think once we have them published on portuguese the brazilian community will embrace valkyrie.

As @scrubbless have said im working on Stress and Strain, i think you will realize its pretty simple to translate following the guide, any questions u have just PM me and i'll be glad to help.

I

[2018-07-29 22:29] scrubbless commented on #870
In the Dark would be a great choice, also the creator @NicolaZee is always very responsive and helpful if you reach out to her.

@nzocrato  you seem to be fluent in English, you could always play the scenario 2 player on your own in before translating. Least then you will get a spoiler free view of the scenario. Also it might help you understand the narrative of the scenario.

I am translating Raz

[2018-07-30 11:04] danielfrancelino commented on #870
It's a deal then! I'll start with In the Dark. As @scrubbless said, before I'll try this scenario in English, so I can have a better feeling before starting to translate.
@NicolaZee is it ok if I translate this scenario into Portuguese?

[2018-07-30 12:58] NicolaZee commented on #870
Be my guest.
It's a very good idea to try it in English first as I will admit 'In the Dark' is not so forgiving or accessible as 'Stress and Strain'.  It really is a 5 star difficulty.  As James put it it's a mind-melter!

The good news is even after playing it many many times I still find difficulty working out the mystery!
As you will discover there is a lot going on beneath the surface.

[2018-07-30 18:15] BenRQ commented on #870
Hi all,
here is my personal method for translation, as I realize it is quite different.
Maybe it can benefit some of you.

I agree it's important to try the scenario first, and understand the flow of events.

But I find it quite hard to do the translations from the editor, or from a text file.
First of all, I think it takes a lot of time to rewrite all text, and to try to find the right translatio

[2018-07-30 18:28] nzocrato commented on #870
@BenRQ This sounds great, and apparently its faster than the inside translation. Can u give a walkthrough on how to separate the event name and text and create the spreadsheet?

Thanks!

[2018-07-30 18:29] danielfrancelino commented on #870
Hi @BenRQ !
That seems to be a very efficient process. Would you mind helping me to create the spreadsheet to In the Dark scenario?
Google has improved the Portuguese translation a lot. Although it still does to be 100% verified, it's much easier than rewriting everything.

[2018-07-30 18:38] nzocrato commented on #870
@BenRQ @danielfrancelino @scrubbless @NPBruce

 I just thought that if this way really works and proves to be faster. We could great one google sheet for each scenario this way, and leave it open for translation into any language. Each column one different language, that would accelerate the process even more since we would be even able to work together in the same scenario, and of course look to

[2018-07-30 18:45] danielfrancelino commented on #870
@NPBruce seems great!!
And also would be easy to make corrections in future, in case somebody finds an issue in the translations (happens very often in my area of work).

[2018-07-30 18:46] BenRQ commented on #111
Hi all,
I see this ticket as been voted as quite important, and it's true it would help to build a community to have better communication between players and authors.

But technical implementation is not moving much, mainly because of the amount of different request stacked on this topic.
I agree it would be great to do it all, but I would suggest to do it step by step.

I would divide all request

[2018-07-30 18:49] BenRQ commented on #870
Sure let me prepare a step by step, while I'm doing it on the in the Dark scenario.

[2018-07-30 18:54] BenRQ commented on #870
@scrubbless you tutorial is really great.

The wiki is good, but this document would be a great addition to the existing documentation.
Is it available in the Wiki ?

It could even be listed in the main page of the GitHub as I guess a lot of person are looking for this kind of 'step by step' doc.

[2018-07-30 19:39] BenRQ commented on #870
**To create the spreadsheet:**
1) Open the txt file in a txt editor, like Notepad++
2) replace the ',' between event name and text, by a character that is not used anywhere else : I used 'tab' (as it is recognized by most tools to separate column in step 4).
Here is the regexp: ^([a-zA-Z0-9]*\.*[a-zA-Z0-9]*)\,
![image](https://user-images.githubusercontent.com/40794717/43418013-f43cdaac-943c-11e8-

[2018-07-30 19:50] danielfrancelino commented on #870
Awesome! Mine is Danielfrance@gmail.com

[2018-07-30 19:57] scrubbless commented on #870
I'll give this a shot for Razon, looks  much easier.

[2018-07-30 19:58] scrubbless commented on #870
I'm just putting the final bug fixes in for "Strain of Reality" my next scenario. But it's mammoth task, 70,000 words in the localisation file at last count!

[2018-07-30 20:29] BenRQ commented on #870
I'm glad I could help :)

@nzocrato, @scrubbless  tell me if you need help to create the doc.

@danielfrancelino, file is shared now, you can also share it yourself if you wish.

[2018-07-30 20:33] BenRQ commented on #860
I have created a discord : https://discord.gg/yrVeSVt
Please join :)

It would be great to share it on the README.md (GitHub first page).

Let's see if anyone comes and want to discuss :)

[2018-07-30 20:58] danielfrancelino commented on #870
Thanks a lot @benrq. Certainly made our job a lot easier.

[2018-07-30 22:44] NPBruce commented on #111
I don't have capacity to work on this (as you have no doubt noticed I'm not on top of core development).

I am happy for anyone else to take this on. I don't entirely agree that doing things inside the app is the first step. I would suggest starting a web interface first, even if very basic, and the form that it takes will shape how the data is stored and how the app interacts.

Though I guess you

[2018-07-30 22:47] NPBruce commented on #860
I added to the main wiki page (readme.md just links to it).

[2018-07-30 22:55] NPBruce commented on #870
When saved with the current version of Valkyrie the language files should be csv compliant (in so far as that is a thing). Can you try just renaming to .csv and open directly?

Would it be better to change the default extension?

[2018-07-31 00:26] danielfrancelino commented on #870
This is where I have to tell you I'm feeling a little stupid. I don't have all expansions and I didn't realize that I needed the Suppressed Memories expansion for playing In the Dark. At this point, the only real problem is keeping consistency with the already translated tiles, cards and monsters for this expansion.
@nzocrato do you happen to have Memórias Reprimidas expansion? If so, is it too mu

[2018-07-31 00:33] nzocrato commented on #870
@danielfrancelino Hi Daniel. Guys im gonna answer this one in portuguese.

Oi Daniel, então esses elementos Cartas, peças de tabuleiro, monstros e tudo mais você não precisa traduzir, justamente para não causar esse tipo de falta de consistencia. O valkyrie extrai esses nomes da tradução original da Galapagos, quando ele extrai os dados do app oficial.

Quando você ta montando um mapa no valkyrie

[2018-07-31 00:47] danielfrancelino commented on #870
@nzocrato deixa eu ver se consegui compreender. No arquivo em excel, por exemplo, temos uma entrada em inglês como a seguir, sem as aspas:
"{action} <i>Is Eric Colt a Dark Druid?</i>"
O nome do monstro seria Dark Druid, em inglês. Mas na entrada em inglês, não está entre chaves {}. Você diz então que, se eu colocar entre aspas, ele vai procurar por uma tradução deste monstro? Desta forma a seguir?

[2018-07-31 00:52] nzocrato commented on #870
Nesse caso acredito que não está referenciando um monstro e não irá procurar pela tradução, pois é apenas um campo de texto. Dark Druid, o app não está chamando o monstro, ou movendo o monstro, eventos com o monstro.

Nesse seu caso se o texto do cenário está se referindo a monstros sem referenciar então realmente seria um problema.

Vou dar uma olhada aqui, me da share no arquivo
nzocrato@gmail.c

[2018-07-31 00:56] danielfrancelino commented on #870
Compartilhei! Os textos tachados são aqueles que já conferi!

[2018-07-31 01:05] nzocrato commented on #870
Sim, estou vendo aqui:

O caso que eu me referia era tipo neste caso : " If you have the {c:QItemCultSigil} Item you may use an {action} to get it out and hold it up to the door grille "

Perceba que a referencia {c:QItemCultSigil} já vai traduzir automaticamente o nome do item, pq ta chamando ele da base de dados. Agora nestes outros casos você realmente tem que traduzir o nome.

Não sendo uma re

[2018-07-31 06:44] BenRQ commented on #860
Thanks @NPBruce

[2018-07-31 06:52] BenRQ commented on #870
@NPBruce as commas and semicolon are used in the text itself, it would create many columns instead of two, and modify the text by removing those characters, if you would open it in directly a spreadsheet editor like Google sheet or excel.

If you would replace the first comma by a 'tabulation' in the editor and it every translation, it may work though.

[2018-07-31 19:50] BenRQ commented on #111
Hi @NPBruce ,
I'm happy to help and I have to say that the code is really well thought and structured.
It's really nice to work on this project also for this.

To answer your question:

I agree, and I have done a first draft of Google forms.
Here it is : https://goo.gl/forms/sCiwEojsoK6yWNSk1
feel free to have a look and comment
This form will be almost fully filled automatically by the app, excep

[2018-07-31 20:45] NPBruce commented on #111
Assuming you can submit google form data with a simple http request that look easy enough.

[2018-07-31 22:32] BenRQ commented on #111
Yes, it should be easy enough with a single HTTP Post request.
Form result will be pushed to a spreadsheet that will have its own script attached.
This script will generate a JSON with the rating, numbers of play session for each scenario. Generation will be done automatically.
Json file will be free to access, but read-only.

Full spreadsheet will be available in read-only to authors, via authent

[2018-08-01 11:55] nzocrato commented on #870
@danielfrancelino Hi, did u find a solution for that problem?

[2018-08-01 12:03] danielfrancelino commented on #870
@nzocrato Hello, you are still referring to the consistency in terminology? I'm translating the names that are not in a {} and keeping them the same throughout the various dialogues, but I still would like to use the same translation as Galapagos. I asked in a MoM group if somebody has a list or photos of their expansions. Worst case scenario is that, after published, people will complain about te

[2018-08-01 12:13] nzocrato commented on #870
@danielfrancelino hmm, i have a idea. Find a way to highlight all these itens and monsters that you have doubt about the Galapagos translation, when you're done, ill look into my copy of Memorias Reprimidas and check if your translation matches theirs. If not ill just do a find and replace in the entire text to match the galapagos.

[2018-08-01 18:41] nzocrato commented on #870
Yeah, no problem, we can do it that way. Just call me when its done ! Looking forward to play In the Dark ( No escuro? )

[2018-08-01 18:50] BenRQ commented on #870
Hi,
if you are looking for the official game translations of objects, tiles, spells ... and so on, they are available in a text file in the official app.
Valkyrie imports it.

File is here  :
C:\Users\[your_username]\AppData\Roaming\Valkyrie\MoM\import\text

[Localization_pt.txt](https://github.com/NPBruce/valkyrie/files/2250739/Localization_pt.txt)

[2018-08-01 19:32] BenRQ commented on #870
I did not install the expansion on the official app, as I don't have it.

Maybe you need to install the extension on your computer in the official app, and import content again?

[2018-08-02 18:36] andrex47 commented on #870
It is really great to see people putting effort in those translations, right now i'm translating "Believe Or Die - The Search For Ashcan Pete"

[2018-08-02 18:45] scrubbless commented on #870
Hi guys,

On the topic of tile names, instead of translating the tile name, you could simply replace it with the component name.

For example
The hall 2 tile is placed in an event and the dialogue says:
"Hall 2 {MAD20}"

Then in the "add components" section a tile is added with the component name "Tile1".

In the dialogue you can replace that with the tile components name, {c:Tile1}. That will per

[2018-08-02 18:45] andrex47 opened #871 "Portuguese Translation of The Scenario "Believe Or Die - A Search For Ashcan Pete""
### Description of Problem or Question
I began to translate this scenario, if you would like to help you can acess the file here:
https://drive.google.com/drive/folders/1OVdutsxHP9omgDW4oSiJ-Ie0Rn0q6TRw?usp=sharing

### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyri

[2018-08-02 18:54] nzocrato commented on #870
Hi Scrubbles,

Yeah, our discussion its based on that, i noticed you did that, and thought every scenario would be that way, so i just said to daniel that he didn't had to translate those parts, but then we found out that if the creator of the scenario didn't put it that way its a extra work to translate.

Its a good practice to do it all just using references i guess u should add that in your gui

[2018-08-02 19:10] scrubbless commented on #870
I did! :D
![screenshot_20180802-200816_docs](https://user-images.githubusercontent.com/32058089/43605365-00e90ad2-9690-11e8-8ded-00d3d372011e.jpg)

[2018-08-02 21:11] FASTNAVi commented on #871
Thank you very much! I will happy upload your translation when will be done. Also I will welcome improve of english version.

Second scenario is still under construction (and will be minimal to the end of the year) and I will also appreciate the translation. =)

[2018-08-03 07:05] NicolaZee commented on #870
There seems to be some confusion about what is being discussed in regards to names.
With 'In the Dark' the **tile** names do use the {c:TileName} reference.

The issue is with the monster names - in particular the name  'Dark Druid'.
In hindsight it might have been better to use the monster reference name.
With the 'Dark Young' monster, I should have used the monster reference.

But with the term

[2018-08-03 08:43] scrubbless commented on #870
They are all new techniques to me Nicola! If you work it out, let me know and i'll add it to the guide.

[2018-08-03 08:56] NicolaZee commented on #870
Hello James

I'm going to add a new Valkyrie issue as I can't figure out how to access EXPLORE_MOVE.

[2018-08-03 09:03] NicolaZee opened #872 "Accessing the text in the MoM Import Folder Text File"
There is a lot of useful text in the FFG localization text file in Mom\import\text.
For example the following text is used in every scenario  "EXPLORE_MOVE,You may move 1 space into the explored area."

Is there any way of referencing such text item from a Valkyrie MoM Scenario?
If not, please can this functionality be added.
e.g. like {MoMImport:EXPLORE_MOVE} would automatically reference EXPLORE

[2018-08-03 10:08] NPBruce commented on #872
I don't want to directly expose the FFG text, because it could change, specifically how it is referenced and if some parts of it are arguments.

I could make exceptions on a case by case basis, but you might be better off just copying the text you want into your scenario, and referencing it that way.

[2018-08-03 11:41] NicolaZee commented on #872
OK it's your call.
:)

I'll close the issue.

[2018-08-03 11:41] #872 closed

[2018-08-03 12:20] nzocrato commented on #870
Hi @NicolaZee, i thought that ! Since In the dark is so subtle i think it will be a huge challenge to translate it keeping every clue in the way they were in the original version. Well its up to @danielfrancelino now!

[2018-08-03 12:48] NicolaZee commented on #870
Without a doubt, 'In the Dark' is the hardest scenario to translate.
This is not because there is huge amounts of text.
The text file is smaller in size than 'Stress and Strain'.
Th problem is that it resembles a little bit a 'Sherlock Holmes Consulting Detective' scenario because every clue contains a clue and in some cases multiple clues.
It might help if I typed up the background underlying sto

[2018-08-03 12:57] danielfrancelino commented on #870
It'll take some time, but I'm really excited to put the translated version into test. I hope the translation does not become a challenge for the players, rather than the scenario itself.

[2018-08-03 16:49] antontimmermans opened #873 "left-allign list of events and tokens"
### Description of Problem or Question
A small but for me very convenient change request would be to change the display of events and tokens a little. Currently the eventnames can be sorted but are centered but if would be great if they are left-alligned. Why?
I have named tokens + events systematically and  related to their location (tilename) to deal with a complex scenario. When you browse trho

[2018-08-04 01:32] GwanGwanish opened #874 "New Scenario - The Stand"
### New Scenario to add to Mansions of Madness 2d Edition. Valkyrie.
### URL is https://github.com/GwanGwanish/Mansions2/tree/d6e9a52aadc818d80dad60a276b03840d95eb870

### Valkyrie Version. 2.0.1.

[2018-08-04 23:20] scrubbless opened #875 "New Scenario - A Strain on Reality"
Also known as - A Strain on Valkyrie ;)!
Can you please publish my latest scenario. The URL is as follows:

https://github.com/scrubbless/PublishedScenarios/tree/master/StrainOnReality

### Valkyrie Version
2.01

@NPBruce I know you're a busy man, but I would appriciate it if you could add this and the other Scenario in #874

[2018-08-05 10:17] NPBruce commented on #874
We've hit a problem here, the directory name is used to uniquely identify the scenarios, and both this and Lost Memories use "EditorScenario3".

I'm afraid you'll have to rename the directory and repackage to get a unique name (I suggest using TheStand).

[2018-08-05 10:24] NPBruce commented on #875
Added. You have some large PNG files, most of them would be better off recompressed as JPG, something to consider.

[2018-08-05 10:24] #875 closed

[2018-08-05 11:53] scrubbless commented on #875
I use a lot of transparency and have use PNG optimiser, but I'll see what o can convert. Cheers Bruce

[2018-08-05 22:26] BenRQ commented on #111
I've been spending some time on this :
 - unofficial Valkyrie google account created
 - Google form : DONE
 - Google sheet shareable file with live results : AVAILABLE (can be shared with authors in read-only)
 - Google script to generate JSON, every hour : DONE (JSON is available on a google drive)
 - Class creation to push content from Valkyrie to Google form : DONE (with Unity lib)
 - New 'rati

[2018-08-05 23:40] NPBruce commented on #111
Asking if you won is interesting, as 'winning' is not a concept Valkyrie is aware of, there may be different endings.

I think including the log would be a great help for scenario developers, they could see exactly what choices are made and what happened. This may be what you mean by 'data from ongoing QUEST'.

[2018-08-06 08:00] BenRQ commented on #111
Yes exactly, all player choices will be recorded and sent to the form, and it will be available to quest authors.

Also the number of players, name of investigators, language and of course scenario id.

Scenario id will be the filename as I think it is unique and it does not change with the language selected.

[2018-08-06 12:41] danielfrancelino commented on #870
In the dark translation is 50% done!

[2018-08-06 14:17] danielfrancelino commented on #870
@nzocrato , can you gimme a hand? Could you check in your collection if you have the "Dark Druid Monster"? If you do, can you check the name in Portuguese?

[2018-08-06 14:52] NicolaZee commented on #870
In the localisation text file Localization_pt.txt  the translation of Dark Druid is:
MONSTER_DARK_DRUID,Druida Sombrio
So, I think FFG uses the term Druida Sombrio
FFG's translation seems to me to be more Spanish but more than likely I'm confused.
I tried Google automatic translation and the term Dark Druid translates as Druida Escuro.
To maintain consistency with the rest of the text used by FFG

[2018-08-06 15:24] nzocrato commented on #870
![p_20180806_122030](https://user-images.githubusercontent.com/10546003/43725683-906c6a38-9973-11e8-8a6f-9d6ffc82a813.jpg)

@danielfrancelino I took a picture of The monsters reference guide.

[2018-08-06 15:45] GwanGwanish commented on #874
Will do. Thanks. Try to take care of that this evening.

On Sunday, August 5, 2018, NPBruce <notifications@github.com> wrote:

[2018-08-06 16:04] NicolaZee commented on #870
Excellent Idea.
So Druida Sombrio it is then!

:)

[2018-08-06 19:09] EtiCarasoft opened #876 "MoM tutorial into spanish"
### Translation for Valkyrie MoM tutorial into Spanish

Hi @scrubbless
I've translated your MoM tutorial into spanish, for the user's maybe you want to share it here.

https://docs.google.com/document/d/1yogKLaSEFFZvnJ0VdVDMKzohv2k0XPsHlVxW30qha8g/edit?usp=sharing

Also one extra question : Do you give me permission to disseminate the translated file? Obviously without any lucrative intention, jus

[2018-08-06 19:11] scrubbless commented on #876
I absolutely give you permission, didn't write it for credit. Just as long as it's free to all share away.

[2018-08-07 17:50] EtiCarasoft commented on #848
It's been a while, sorry we made a few changes to improve the scenario. We set a $mythosMajor between basement Event and the Greenhouse making the greenhouse the end triggerer.
Fixed Some bug based on this changes and make a new search token which gives a Qitem with precious information to conclude the mision ;).

List of events and text changes:

TokenzzINFO
EventResolucionPuzzleBast
EventDesarro

[2018-08-07 22:10] BenRQ commented on #848
Hi @eticarasoft,
Nice ! We will have a unique drawing for this scenario :)

Do you think you are done with all the other changes you wanted to make?
I will work on the translation when I'm back home in two weeks.

[2018-08-08 02:05] GwanGwanish commented on #874
Ok, I updated the folder to no longer be "EditorScenario3." There are now
two folder versions, one where just the folder name is changed to "The
Stand." The copy folder has all references to "EditorScenario3" changed to
"EditorScenarioTheStand."

https://github.com/GwanGwanish/Mansions2/tree/master/The%20Stand

Hopefully that fixes the unique identifier issue?

On Mon, Aug 6, 2018 at 11:45 AM, Gwa

[2018-08-08 03:34] NPBruce commented on #874
https://github.com/GwanGwanish/Mansions2/tree/master/The%20Stand%20-%20Copy

This what I need. However, unfortunately spaces have been added to the path which is a problem.

It sounds like you have manually edited the generated files, it will be easier to rename the directory in %appdata%\Valkyrie\MoM\Editor and then repackage.

[2018-08-08 11:41] zifeixu85 opened #877 "Can you support the Chinese UI for Android version?"
First of all, I am very grateful to the author's tools. Secondly, my English is not very good, please forgive me.

Can the software interface support Chinese? I see that there is chinese in the menu option but I can't choose.
We have friends who translated Chinese scenario, but the UI and Mythos Phase are still in English.

Thanks!

[2018-08-08 13:42] NPBruce commented on #877
Here is the file that needs to be translated:

https://raw.githubusercontent.com/NPBruce/valkyrie/master/unity/Assets/StreamingAssets/text/Localization.English.txt

If I can get that in chinese I can turn it on. Alternatively I can enable Chinese without this and it will use the FFG translations, but most of the menu items will be in English.

[2018-08-08 15:10] GwanGwanish commented on #874
Oy vey. Alright. I'll remedy this evening. Will title "TheStand" with no
spaces.

On Tue, Aug 7, 2018 at 11:34 PM, NPBruce <notifications@github.com> wrote:

[2018-08-08 21:53] danielfrancelino commented on #870
@nzocrato I have only the MoM 2nd edition and I didn't even had curiosity of opening the conversion kit for 1st edition that actually comes with the 2nd edition. I opened it today and guess what? It comes with the monster tiles whose translated names I was looking for...

[2018-08-08 23:43] danielfrancelino commented on #870
@nzocrato would you mind helping me again with a translation? Did  you happen to find the Portuguese translation for the Thrall monster?
![image](https://user-images.githubusercontent.com/41863856/43869853-19ef35aa-9b4b-11e8-8a2a-7b1b118486f2.png)
That's the last term I need to finish the translation of the In the Dark scenario.

@BenRQ , could you help us again with converting the excel file into

[2018-08-08 23:47] nzocrato commented on #870
@danielfrancelino  Thrall = Thrall

=)

[2018-08-09 00:08] danielfrancelino commented on #870
So I guess I'm done!

[2018-08-09 01:46] GwanGwanish commented on #874
Ok. I re-uploaded with no spaces. No more "editorscenario3". Tried it
locally. It seems to work now and is recognized by Valkyrie when moving
into %appdata, etc.

Hopefully smooth sailing from here.

On Wed, Aug 8, 2018 at 11:10 AM, GwanGwanish <gwangwanish@gmail.com> wrote:

[2018-08-09 02:40] NPBruce commented on #874
Thanks, sorry for the trouble. I will do this when I am home (unless @scrubbless wants to test their new power before I get there).

[2018-08-09 07:01] BenRQ commented on #870
Hi @danielfrancelino,

I did the first one but you will probably need to do it again if you play-test it with some friends.
Here is how you can do it
 1) you copy/ paste the column A and B into a text editor
 2)  replace all TAB with ','  (you should copy paste the tab character from the text, between event id and translation)
 3) save file with the right name translation.portugese.txt
It's done.

[2018-08-09 07:46] scrubbless commented on #874
Ok I think I did it. Can you check I've not broken anything @NPBruce. Is there an easy way to get the "raw.githubusercontent.com link? I just used the other as exoles to build Gwans. But have noticed some have the branch (master) at the end. I assume those just have the initial in the root of the branch?

[2018-08-09 09:15] NPBruce commented on #874
There is a "Raw" button when you are looking at the file ie:

https://github.com/GwanGwanish/Mansions2/blob/master/TheStand/EditorTheStand.ini

Next to "Blame" and "history".

You have an invite pending for permissions on this repo (note that it is different to the master file itself, because that is hosted on a different repo).

[2018-08-09 09:15] #874 closed

[2018-08-09 10:40] EtiCarasoft commented on #848
I think I'm done with the chages with this last one I attach HERE:
[Localization.Spanish.txt](https://github.com/NPBruce/valkyrie/files/2273838/Localization.Spanish.txt)
On Qitem was changed.

We have tested some critical points with no bugs detected ;)

[2018-08-09 11:13] danielfrancelino commented on #870
@NicolaZee I've finished translating In the Dark into Portuguese.
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2273928/Localization.Portuguese.txt)

What would be the next step? I'd like to run this scenario in Valkyrie to validate the translation (find possible mistakes). What would you recommend?

[2018-08-09 13:51] NicolaZee commented on #870
Locate your app data editor folder
%AppData%\Roaming\Valkyrie

Open Quest.Ini using a text editor.
Add the line Localization.Portuguese.txt to the [QuestText] section of the file.

[QuestText]
Localization.English.txt
Localization.French.txt
Localization.Portuguese.txt

Run Valkyrie
Click the 'Options' button in Valkyrie and set your language to .Portuguese.

Good Luck and please don't hesitate to

[2018-08-09 14:05] NicolaZee commented on #870
Hello danielfrancelino

Have you printed out the crib sheet that goes with the scenario.
If not, I strongly recommend you do so.

I'd, also, recommend making notes as well.

There is only so much information most people can cope with!

[2018-08-09 15:06] scrubbless commented on #870
May be worth translating that document too if its got a lot of text on it.

[2018-08-09 15:17] scrubbless commented on #841
Another oddity that seems to be linked to this. If you have an item with an inspection event. Should you use that during the horror phase, it will end the phase also.

[2018-08-09 17:15] danielfrancelino commented on #870
Hi @NicolaZee , I located the folder %AppData%\Roaming\Valkyrie\Mom\Editor\InTheDark
But it seems empty. Are the files hidden or something?

[2018-08-09 18:05] danielfrancelino commented on #870
@NicolaZee and @scrubbless , here it goes the crib sheet translated into Portuguese as well:
[InTheDarkClueCribSheet-Portuguese.pdf](https://github.com/NPBruce/valkyrie/files/2275337/InTheDarkClueCribSheet-Portuguese.pdf)

[2018-08-09 22:19] scrubbless commented on #874
That's odd @npbruce. I only got an invite email for the Valkyrie-store.

Is there a way I can see pending invites in GitHub?

[2018-08-10 00:49] NPBruce commented on #874
Try this?

https://github.com/NPBruce/valkyrie/invitations

[2018-08-10 02:28] GwanGwanish commented on #874
The scenario appears to function normally. Just ran through the scenario a
couple times.

On Thursday, August 9, 2018, NPBruce <notifications@github.com> wrote:

[2018-08-10 07:27] scrubbless commented on #874
@NPBruce  that worked thanks!

[2018-08-11 15:07] bluefishj opened #878 "Updated my scenario and now it seems to have been removed from the download list"
Just tried to update the title, though the root folder should have been the same name, so I'm not sure why it's not showing up on the list.

https://github.com/bluefishj/TheExperiment

[2018-08-11 21:45] scrubbless commented on #878
Did you change the folder location in the repo by any chance?

Try now! Seems to be working.

[2018-08-11 21:45] #878 closed

[2018-08-12 16:04] zhengrx commented on #877
hello,
I have put this file into Chinese. Hope it can be useful to you.
you can use it and turn it on.

[https://pan.baidu.com/s/1cIMMgCZrZYBfWcrAnXdoFQ](url)
Thanks!

[2018-08-13 14:01] Fataelis opened #879 "Valkyrie unable to locate MoM (Windows10)"
Hello !
Just discovered Valkyrie and was eager to try it, but some issue appeared right up front :
"Unable to locate Mansions of Madness, install via Steam"
![valkyrie problem](https://user-images.githubusercontent.com/42347398/44035675-4e36df2a-9f10-11e8-8594-12aa6da4cd15.png)

Though Mansions of Madness IS installed on Steam (and works just fine)

MoM version 1.5.1 (it's kept up to date by Steam

[2018-08-13 14:56] redwolf2 commented on #879
Please run the valkyrie.exe as Administrator (right click → Run As administrator)

[2018-08-13 15:34] redwolf2 commented on #879
Yes, try to copy the dir over. Copy the content of

`C:\Program Files (x86)\Steam\steamapps\common\Mansions of Madness\`

to

`C:\Program Files\Steam\steamapps\common\Mansions of Madness\`

Let me know what worked for you.

[2018-08-13 15:39] scrubbless opened #880 "Save Functionality is not working"
### Description of Problem or Question
Hi All,

The save function does not appear to work on my latest scenario. If you save at any point in the scenario and then try to load it, it opens to a blank screen.

### Valkyrie Version
2.01

### Attach Save, Quest or Scenario
Strain on Reality (v1.3) - Start the scenario and run the intro sequence. Hit save, then exit to the main menu. Click Load and sel

[2018-08-13 18:14] Fataelis commented on #879
Re,
Sorry for the slow answer from me (><)

So I did what you suggested, to no avail... When i looked at the new output_log, I saw it mentioned a D:\Program/Mansions of Madness_data folder, which didn't existed.
So I created also one, and copied again the content of the other "Mansion of Madness" folders, and re-launched Valkyrie, but nothing more (with or without the -import).

Here is the output

[2018-08-13 20:14] bluefishj commented on #878
Thanks!

[2018-08-14 01:10] GwanGwanish commented on #874
Sorry to bother, but I made an important fix to the scenario and uploaded
it to Github as version 1.2. The file name is now "TheStand2." Could
"TheStand2" be swapped in for "TheStand" on Valkyrie? It seems you guys are
manually uploaded, so I apologize for the hassle. A player discovered that
one of the optional events has a bug, so I fixed it. Also made some edits
to the Scenario Description and

[2018-08-14 03:57] NPBruce commented on #874
This isn't a great idea. Changing this in the download list will show up as a new scenario, with the old one removed rather than an update to the old one. If the user downloads it they will have 2 copies of The Stand in their scenario list.

The better way to handle this is to just update the files already referenced. If you use Valkyrie's package tool it will identify the change and the user's do

[2018-08-14 09:07] redwolf2 commented on #879
Not a problem at all, if someone else will run into this trap, we have this case documented here.

[2018-08-14 09:07] #879 closed

[2018-08-14 12:28] GwanGwanish commented on #874
Hmm,

So I should have retitled the version number in the title of Valkyrie App,
repackaged win the edits, replaced the ini and Valkyrie file of my original
local folder ("TheStand") and then used GitHub to push out the update?

Apologies for all the hassle.

On Monday, August 13, 2018, NPBruce <notifications@github.com> wrote:

[2018-08-14 12:41] scrubbless commented on #874
From inside the editor, click "Tools" and then "Create Package" it will then spit out the compressed scenario into a folder on the desktop.

[2018-08-15 07:52] scrubbless commented on #876
Thanks for your kinds comments at the end @EtiCarasoft :) I had to Google translate it ;)

[2018-08-16 01:00] redwolf2 commented on #877
Integrated it an created a pull request: https://github.com/NPBruce/valkyrie/pull/881

[2018-08-18 20:59] BenRQ commented on #111
Here is a preview of the rating screen.
Please tell me if you have any suggestion for improvements :

![image](https://user-images.githubusercontent.com/40794717/44303188-45d7c780-a33a-11e8-8f64-6bf2bf91dcb5.png)

[2018-08-19 23:38] BenRQ commented on #111
Hello
I just finished implementing the core functions of the rating system in Valkyrie
Design is not final yet, it is just here for test purposes (I don't really like the 'hearts')
but here is the quest list with rating, , number of play session, average win ratio:
https://cdn.discordapp.com/attachments/473586525477666826/480880321806598175/unknown.png

And the end game rating form look like this

[2018-08-20 17:58] redwolf2 commented on #876
I added it to the wiki https://github.com/NPBruce/valkyrie/wiki/ExternalSites

[2018-08-20 17:58] #876 closed

[2018-08-22 17:17] danielfrancelino commented on #870
Hi @NicolaZee ! Following your instructions, I did a few playtests and corrected all issues I found. I also renamed the scenario to v3.5.
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2311354/Localization.Portuguese.txt)
Do you believe we need more testing? From my side, we are good with the translated version above. What do you think?

[2018-08-22 20:17] BenRQ commented on #859
One bug detected following this dev: there is an overlap when too many monsters are present:

![image](https://user-images.githubusercontent.com/40794717/44488454-10dcb500-a659-11e8-90a7-802906ce3d41.png)

Would be nice to improve the arrow  characters here too.

[2018-08-22 23:15] BenRQ opened #882 "Build issue for test release"
Hi,

I'm trying to build an alpha release to share with a few testers.
I followed the wiki : https://github.com/NPBruce/valkyrie/wiki/DeveloperGuide#prerelease

But I've been going through some compiling issues.
First one is now fixed : steam path was hardcoded, and not valid in my computer.
I did some changes in the scripts, please see the commit.

Now I can build the windows release, but I still

[2018-08-22 23:30] BenRQ commented on #882
Sorry for the useless commits, I'm getting crazy with git once more.......

[2018-08-23 05:47] NicolaZee commented on #870
Hello danielfrancelino

Language can be very ambiguous.
It is very easy to get a few words here and there a bit wrong and the mystery becomes incoherent.
The translation to French took Indoy hours of work and testing was very hard.
Much harder than the other scenarios he worked on.

So my main question is did the scenario make sense?
Did the printed out pdf sheet make sense?
Did you manage to win?

[2018-08-23 11:11] NicolaZee commented on #870
Hello danielfrancelino

Have you tried it with more than 3 investigators?
If you play with more than 3, there is a 2 in 3 chance of a plot twist.

[2018-08-23 11:45] danielfrancelino commented on #870
Well, for me it took a lot of time indeed. And the playtest made me change many sentences I already translated, so they would make more sense. Besides all wrong tags, extra spaces, missing spaces and so on.
I won exactly on my third attempt. And only managed to win after using the pdf for notes. After that I had a few defeats, this time on purpose, aiming to check other dialogues.

[2018-08-23 11:56] danielfrancelino commented on #870
But I always used only 2 investigators. So I didn't see the plot twist.
I think it's a great scenario. Of course it's hard. It's mansions of madness. ;)
I'd say it's my preferred type of scenario. Investigation rather than pure fighting monsters.
I love eldritch horror, for example, but if you don't do the role-playing, it' just tossing dice and praying for the next mythos card don't execute every

[2018-08-23 12:56] NicolaZee commented on #870
I'm very glad you enjoyed my scenario.
That's a relief as otherwise it would have been a waste of the time you spent translating it.
With 5 star scenarios, you get out what you put in.
In addition (because of the complexity and variation) if you don't play it for a few months (especially with 4 investigators) you'd be surprised how much of a challenge the scenario can still be.
I call it 'the Beas

[2018-08-23 17:11] danielfrancelino commented on #870
You got me curious. I'll try it first with four investigators :)

[2018-08-24 13:17] Ashgur opened #883 "MacOS: Wrong scenario name causes editor issues"
I was working with the 1.6.1 - version on my MacBook up until today.
After reimporting my MoM - Game - Data i had a problem with all the markers in my scenario when i was opening it in the editor (wrong image was shown, for example all my exploration markers were shown as character markers).
So now i downloaded the actual version (2.0.1) and that solved the problem. But now something really strang

[2018-08-24 16:04] danielfrancelino commented on #870
@NicolaZee I guess I'm pretty confindent with the translation! Did a couple more of playtests today.
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2319056/Localization.Portuguese.txt)
If you don't mind releasing it, I guess my job with with scenario is done. It's a pitty that translating it and playing that many times kind of spoil the fun. However, I'm gone try it again

[2018-08-24 23:08] BenRQ commented on #882
OK for the build issue, it was not too complex: I did not install the right modules in Unity....
👎

[2018-08-25 07:14] NicolaZee commented on #870
Hello danielfrancelino

Thanks for your praise.
Great work on the translation - especially on the play-testing
Any feedback is gratefully received.
Please don't forget to vote on the poll in BGG!

I am very happy to release your translation.
Playing many times does spoil the fun.
You are likely to find the next scenario you do is a lot less work!

[2018-08-25 11:58] BenRQ commented on #883
Hi Ashgur,

I tried to load your scenario in the editor, add an event, save&test.
It all works fine for me.

The directory name from your archive is a bit strange though, I don't know why, and you should probably change it.

I suggest you just rename your directory to a proper name, and remove (or move and save somewhere else) any other scenario you have in the same directory so you can be sure yo

[2018-08-25 13:20] Ashgur commented on #883
Thank you so much!! ;-)

I just renamed the folder and all over sudden everything is working fine again!
Thanks for your help, buddy! Really much appreciated!

All the best!
Ashgur

[2018-08-25 21:38] BenRQ commented on #883
Cool, it was an easy fix :)

I see your scenario is already quite advanced.
Do you plan to translate your scenario in English too, or any other language ?

People here can help translate it, but having the English version would help a lot to translate it to other languages.

[2018-08-25 22:59] BenRQ commented on #882
Android, Linux build are now available.

Android build has to be switched to Internal, as Grade build system is failing due to this issue:
https://answers.unity.com/questions/1480075/gradle-build-error-when-update-from-564p4-to-20173.html

Mac OS X build is still failing (working in Unity, but failing through the script).

[2018-08-26 06:42] Ashgur commented on #883
I guess i will need about three more weeks to finish the scenario.

Yes, i would love to do a translation afterwards! =)
But im not sure whether my english is good enough for a nice translation.
Maybe I could create an english version and hand it over to a native english speaker in this forum to make a revised version...
We will see ;-) I will first put my focus on finishing the scenario and i gue

[2018-08-26 22:08] BenRQ commented on #111
The ratings are now available :
![image](https://user-images.githubusercontent.com/40794717/44633542-fffbae80-a98c-11e8-93d9-beab66f9d4ac.png)

Even with some tentacles !

Please join in the Discord if you would like to alpha test the version.

[2018-08-27 09:50] NicolaZee commented on #709
Hello Indoy

Please can you translate the following crib sheet into French?

https://github.com/NicolaZee/In-the-Dark/blob/master/InTheDarkClueCribSheet.docx

[2018-08-27 10:02] NicolaZee commented on #870
Hello danielfrancelino

Portuguese Translation now released as version 3.5

[2018-08-27 15:57] redwolf2 commented on #883
That's what I did before. Just hand it over to a native speaker for prove reading.

[2018-08-28 21:27] scrubbless commented on #880
Ohh thanks Ben.

I have a ton of music and sound effects in the scenario.

Where do I get the prerelease to test this?

[2018-08-28 21:33] scrubbless commented on #880
Ohh great, I tested this on your version of Valkyrie and the save seems work.

I'll do some more testing at different stages of the scenario. Look forward to seeing this incorporated into the next release.
Can you do Valkyrie pre-releases or is that just Bruce?

[2018-08-29 16:32] BenRQ commented on #882
Last issue with Mac build is solved.
I had to change the build option from
"%ProgramFiles%\Unity\Editor\Unity.exe" -batchmode -quit -projectPath %~dp0unity -buildOSXPlayer ..\build\macos\Valkyrie.app
to
"%ProgramFiles%\Unity\Editor\Unity.exe" -batchmode -quit -projectPath %~dp0unity **-buildTarget OSXUniversal -buildOSXUniversalPlayer** ..\build\macos\Valkyrie.app

[2018-08-29 16:51] BenRQ commented on #880
I can do pre releases and releases from my branch ' Valkyrie Brynhildr '.
But that won't be 'official' Valkyrie releases.

Also please note that the issues listed in the official Valkyrie from Bruce are attached to a target version numbers, as a roadmap.
My versions is a separate branch so I'm not working specifically on those issues, even if I may fix some here and there :)

It is not the perfect

[2018-08-30 08:16] MrTantum commented on #880
@BenRQ could you maybe also check if the bug #842 also occurs because of the nullpointer error?

We had to [pause](https://boardgamegeek.com/article/29641694#29641694) our "Shadow Rune" project because of this bug. Would be fantastic if you could find a fix for this. I'll also try to check your branch version on the weekend.

[2018-08-30 10:09] BenRQ commented on #880
@mrtantum I'm pretty sure it is not the same issue.
But I can have a look and try to fix it for next release if this is a blocker.

[2018-08-30 18:41] BenRQ commented on #842
Hi @DelphiDie @MrTantum

I do not reproduce the issue.
Loading time takes some time but it loads for me.

I did this:
 - start "Shadow rune act 1" and save immediately
 - load the quest
 - 'defeat' all monsters, said 0 zombies escaped
 - pressed continue
 - wait 10 seconds : it loads the next quest

Did I miss something ?

[2018-08-30 19:18] BenRQ commented on #842
Can you please share your savegame so I can try with your file ?

[2018-08-31 10:37] DelphiDie commented on #842
Hello BenRQ,

thanks for looking at this.

It sounds like you tried the quest "The Shadow Rune - Act 1 The Cardinals Plight".

This quest was not made by us, and I'm unsure if the problem can be reproduced here, since this seems to be a single quest.

Could you please try it again with the Quest "The Shadow Rune"?

If needed I can provide you a savegame, but it's pretty easy to reproduce.

[2018-08-31 21:12] BenRQ commented on #842
After a quick investigation, it seems that the save system only copies the current quest.
As the current loaded quest is running in a temporary directory, you can't access any other quest from there.

I have the explanation but not the fix, and I can't say how complex it will be to fix it.
There is probably a reason for not using the quest content in the original directory but use everything in th

[2018-08-31 21:56] BenRQ commented on #842
OK I see : the app extracts all packages content everytime you open the list of quests by pressing "start quest". That's why it takes a bit of time to load.
When loading the savegame list, it loads only the savegame packages which is incomplete.
This savegame is NOT extracted in the same directory by the way : AppData\Local\Temp\Valkyrie\Load\quest

Savegame packages should definitely hold the ful

[2018-08-31 22:26] redwolf2 commented on #842
A reason not to bundle all scenarios in the valkyrie package could size and complexity. Another reason might be, that the full scenario is still not complete and some quests will be completed by the scenario editor, later.

[2018-09-01 00:40] BenRQ commented on #842
I see three 'small' changes in the feature design that would fix this issue, issue #809 and @scrubbless performance issue on his last scenario :
 1) extract only required files when displaying the quest list ( thanks for the way to do it @redwolf2 )
 2) save only the save.ini without the quest package **(risk of incoherence with the scenario when the quest is being updated)**
 3) extract the full

[2018-09-01 00:57] BenRQ opened #887 "Text translation for next release: NEED HELP"
Hi guys,

I need your help to translate the new texts below required for the statistics and rating feature for Valkyrie next 'unofficial' release with the rating capabilities on scenarios.

I need translation for Portugese (@danielfrancelino, @nzocrato) , Chinese (@zifeixu85), German, Italian, Polish, Spanish (@EtiCarasoft)

French is already done by me.
Feel free to fix the English if required (

[2018-09-01 01:01] BenRQ commented on #873
Hi @antontimmermans

as I'm not a big scenario writer I prefer getting some other opinions before doing it.
It's quite easy to do, so I can include it in next release if everyone is OK with this.

@scrubbless,  or any other scenario author, what do you think ?

[2018-09-01 01:17] nzocrato commented on #887
STATS_WELCOME, Muito obrigado por jogar este cenário. Por favor deixe sua avaliação e compartilhe sua experiência para os próximos jogadores. Suas ações no jogo serão compartilhadas com o autor para ajudá-lo a melhorar este cenário.
STATS_ASK_VICTORY,Você venceu esta partida?
STATS_ASK_VICTORY_YES,SIM!
STATS_ASK_VICTORY_NO,Não...
STATS_ASK_RATING, Como você avaliaria este cenário?\n(1:Horrível  10

[2018-09-01 01:44] redwolf2 commented on #887
GERMAN

[code]

[2018-09-01 03:05] redwolf2 commented on #842
I like the changes.

Android would also benefit from deleting the temp scenario dir after the scenario is no longer in use. Storage space can be sparse, especially internal storage. This is not a huge priority, but could prevent problems in edge cases.

Before an update you could have a warning, that there are save files that may not work or only allow the update if the save is killed.

https://gi

[2018-09-01 15:28] antontimmermans commented on #873
Hi @BenRQ

Thank you for considering this change. If you manage to hide this behind a sorting button like there is now for alfabetic sorting then it probably iks acceptable to all. since people then have an option to use it .. or not.
 @scrubbless , would that work? (or any other scenario author?)

[2018-09-01 17:28] BenRQ commented on #887
Thank you guys !

[2018-09-01 18:05] BenRQ commented on #873
I would rather do something simple.

When sorted by number: text is centered
![image](https://user-images.githubusercontent.com/40794717/44948669-0de48000-ae22-11e8-8146-bcf957561d53.png)

When sorted by name : text is left aligned
![image](https://user-images.githubusercontent.com/40794717/44948670-150b8e00-ae22-11e8-9d1d-99422cd5c342.png)

By default text will be centered (as it is today).
Pleas

[2018-09-01 19:29] BenRQ commented on #762
Hi,
I did the change described here, at the same time as the change in #873

[2018-09-02 07:30] scrubbless commented on #887
I'd replace 'him' with 'them'

[2018-09-02 12:02] antontimmermans commented on #873
A perfectly acceptable solution for me, it looks realy good. I am looking forward to see the update.
@BenRQ, Muchas gracias. Thanks!

[2018-09-02 23:16] BenRQ commented on #842
I spent some time on this, and I think I now have something working.
It will be available for test in the beta Valkyrie Brynhildr_2.1.0a.

I did not implement any warning when deleting/updating quest.
It's a small dev, but I'd rather concentrate on releasing the beta for now.

[2018-09-02 23:40] BenRQ commented on #846
To be tested with the changes I did on #842.
Automatic savegames do not save the full archive, so if it was the issue, it should be MUCH faster.

[2018-09-03 10:57] DelphiDie commented on #842
Thanks for your efforts BenRQ.

Once we have an official release I will update the quest structure in our campaign.

Regards
Delphi

[2018-09-03 15:52] scrubbless commented on #848
I've not forgotten about this, I am working on the mythos events and will check I have the latest version before I start error checking.

Works been manic and the small amount of time I've had has been tied up with A Strain on Reality!

[2018-09-03 22:10] BenRQ commented on #111
Beta test version available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

You can see rating when browsing quests.
You can rate, comment a scenario at the end of the game.
Authors can access statistics and comments from player in a Google sheet.

To access the file, you should create a new issue and tag me, I will share the read

[2018-09-03 22:11] BenRQ commented on #887
Beta test version available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

I keep this issue open until official release, if someone wants to provide some more translations.

[2018-09-03 22:12] BenRQ commented on #430
Beta test version available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

Please close this issue, if you are happy with this fix.

[2018-09-03 22:12] BenRQ commented on #859
Beta test version available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

[2018-09-03 22:14] BenRQ commented on #873
Beta test version is now available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

[2018-09-03 22:14] BenRQ commented on #762
Beta test version is now available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

Please close this issue if you are happy with the fix.

[2018-09-03 22:16] BenRQ commented on #882
Beta test version is now available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

[2018-09-03 22:16] #882 closed

[2018-09-03 22:18] BenRQ commented on #842
Beta test version is now available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

I suggest you point out the required Valkyrie version in the description of the scenario, when version is officially released.

Also please close this issue if you are happy with the fix.

[2018-09-03 22:18] BenRQ commented on #852
Beta test version is now available with implementation of this issue:
https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

[2018-09-04 08:08] scrubbless commented on #882
Awesome, cheers @BenRQ.

I'll use this for testing scenarios and playing any if I get the opportunity!

[2018-09-04 08:59] DelphiDie commented on #842
Hello @BenRQ,

I reworked the quests to point to absolute paths, and they work flawlessly with the beta release. Also saving and loading does no longer break the campaign and works as expected.

This is such good news. I already prepared a new campaign release and can push it as soon as there is a new official Valkyrie release. Thanks so much for fixing this problem!

Regards
Delphi

[2018-09-04 09:01] DelphiDie commented on #809
Due to the new path system the problem should be fixed. Thanks a lot.

[2018-09-04 09:18] EtiCarasoft commented on #887
STATS_WELCOME, Gracias por jugar. Por favor comparta y puntúe su experiencia para futuros jugadores. Sus acciones de juego se compartirán con el autor para ayudarle a mejorar el escenario.

STATS_ASK_VICTORY, Habéis conseguido vencer?
STATS_ASK_VICTORY_YES,¡SÍ!
STATS_ASK_VICTORY_NO,No...
STATS_ASK_RATING, ¿Cómo puntuarías este escenario?\n(1: horroroso  10: espectacular)
STATS_ASK_COMMENTS,Q
¿Quer

[2018-09-04 12:07] EtiCarasoft commented on #855
I have to do the package I can do it for spanish and french later on for english when @scrubbless is done.
After that i don't know exactly what is the next step if anything changed since last time i uploaded files for the mission.

[2018-09-04 14:28] redwolf2 commented on #883
I will close it for now, since this is a problem due to os restrictions and not Valyrie and it has been identified and solved.

[2018-09-04 14:28] #883 closed

[2018-09-04 19:55] BenRQ commented on #855
Once the package is done, it needs to be uploaded to internet.
Your own Github repository is probably the best place to upload, and to manage the version of your scenario easily.
You should then provide the link to your package, so @scrubbless can add it in the list of scenarios (and remove the old one).
After this, if you have an update, you can just update the package on your github when you wan

[2018-09-04 19:56] BenRQ commented on #887
No problem, thank you @EtiCarasoft !

[2018-09-05 14:38] redwolf2 commented on #873
Reopen, because it is fixed in Brynhildr, but not in Valkyrie. I created the label "Brynhildr" to track, what is covered by it.

[2018-09-05 14:39] redwolf2 commented on #859
Reopen, because it is fixed in Brynhildr, but not in Valkyrie. I created the label "Brynhildr" to track, what is covered by it.

[2018-09-05 14:39] redwolf2 commented on #852
Reopen, because it is fixed in Brynhildr, but not in Valkyrie. I created the label "Brynhildr" to track, what is covered by it.

[2018-09-05 14:39] redwolf2 commented on #842
Reopen, because it is fixed in Brynhildr, but not in Valkyrie. I created the label "Brynhildr" to track, what is covered by it.

[2018-09-05 14:41] redwolf2 commented on #809
Reopen, because it is fixed in Brynhildr, but not in Valkyrie. I created the label "Brynhildr" to track, what is covered by it.

[2018-09-05 18:13] antontimmermans commented on #873
I checked it on Brynhildr and I am a fan.

[2018-09-05 20:35] NettleTea opened #888 "Event-based custom "Investigator Attacks""
### Description of Problem or Question
For custom monsters it is possible to add custom investigator attacks in dialogue-form for each type of attack. While this is nice It would provide more freedom if instead the custom attacks were event-based. A suggestion is to use the same system as for evade and horror. Having each attack-type pointing to a custom event: Bladed weapon-->Event_CustomAttack_B

[2018-09-06 11:49] DelphiDie commented on #842
Thanks @redwolf2 & @BenRQ. Would you happen to know is there is a new official release in development?

@BenRQ: Could I distribute the Brynhildr release as a workaround via direct download (for ease of use), or would you prefer that I link to your release section?

Regards,
Delphi

[2018-09-06 11:55] NettleTea commented on #873
Me too

[2018-09-06 13:19] redwolf2 commented on #842
@NPBruce is busy at least this year. After that he might pick up where he left. So no official releases until he is back. Development continues in @BenRQ branch, which Bruce might just mere into his (I know I would).

[2018-09-06 16:36] DelphiDie commented on #842
Thanks to both of you. I guess I will post a Link to the Brynhildr Release then. The OS is indeed something I hadn't thought about and a very valid point.

[2018-09-06 18:59] BenRQ opened #889 "Add a text notification, on first screen when a new Valkryie version is available"
Hello,

It would be great to have a small text notification, or even better a link, to tell the users that a new Valkyrie version is available.
Something non intrusive, we already have enough "please update" popup as it is in all other applications :)

I'm thinking about putting this as a small red text, in the first screen (where you choose the type of game you want to play).

What do you think a

[2018-09-06 19:14] redwolf2 commented on #889
Good idea.
Also have a look at this. https://github.com/NPBruce/valkyrie/issues/501

[2018-09-06 19:55] BenRQ commented on #889
Thanks @redwolf2, I guess this is a duplicate then.
Closing it, and I will share my updates on the other issue.

[2018-09-06 19:55] #889 closed

[2018-09-10 02:55] GwanGwanish opened #890 "New Scenario"
### New Scenario - Footsteps in the Dark. Uploaded to my Github account. Hyperlink posted below.

### https://github.com/GwanGwanish/Mansions2/tree/master/Footsteps

### Valkyrie Version 2.0.1

[2018-09-10 07:47] scrubbless commented on #890
Hi Gwan

I'll get this added when I get to a PC (it's a pain to do on a phone!)

[2018-09-10 07:54] scrubbless commented on #890
Scratch that, I did I :)

It's showing in the download list now.
![screenshot_20180910-085259_valkyrie](https://user-images.githubusercontent.com/32058089/45283905-0c2c5380-b4d7-11e8-95ec-451e6341a12c.jpg)

[2018-09-10 07:54] #890 closed

[2018-09-10 19:18] FASTNAVi commented on #871
@andrex47 Hi! Just for you information, i just recently changed and add several texts in this scenario. I hope that it is no problem for you. Thank you for your support! =)

[2018-09-10 19:58] BenRQ opened #891 "Tokens being covered by object (door, furniture, painting ...) after save/load or undo"
This bug is easily reproduced, when you have token on top of doors and furniture component.
Token should always been on top of objects as you need to click on them to be able to activate them.

Steps to reproduce :
1) start a scenario with  token on top of doors and/or furniture component (example: A strain on reality)
2) do any action, then **undo** it
3) token are now under the furniture compone

[2018-09-10 21:58] BenRQ commented on #501
Here is the new button look and placement.

![image](https://user-images.githubusercontent.com/40794717/45326819-4ccab200-b555-11e8-830a-571f84432934.png)

[2018-09-11 20:20] scrubbless commented on #891
I've seen this in 1.6.1 for sure.

[2018-09-12 00:02] andrex47 commented on #871
i was done half of the translation so far, i will check the scenario changes and see if i can make use of at least part of the old translation i was working on

[2018-09-12 11:20] Mattias-G opened #892 "Monster breaks investigator phase"
While working on a MoM scenario I ran into a problem where the investigator phase would be skipped entirely. Apparently it happens if the monster can't perform its activation event (because its has a failing test). In other situations this just skips the event but here it breaks the game. Having a test on the activation event was a mistake on my part so the issue doesn't affect me, but is still no

[2018-09-12 13:32] andrex47 commented on #871
the translation is good, i have checked and the new lines were added to the end of the document, right now i have 20 out of 42 pages

[2018-09-12 15:42] redwolf2 commented on #877
@zifeixu85 @zhengrx You may want to check out the latest release of @BenRQ, which has the chinese translation in it. https://github.com/BenRQ/valkyrie/releases/tag/release%2F2.1%2FBrynhildr_2.1.0b

[2018-09-12 15:55] FASTNAVi commented on #871
@andrex47 great news! But beware, I also changed a few old texts. I will try to findout which ones and let you know ;-)

[2018-09-12 16:15] FASTNAVi commented on #871
I hope that this list of changed texts will help you:

SpawnEugene_ulice.text
SpawnEugene_klub.text
Eventnalezeni_brokovnice.text
Eventvratitsosky1.text
Eventdvere_Ashcan2bezklice.button1
Eventdvere_Ashcan2bezklice.text
Eventdvere_Ashcan1bezklice.button1
Eventdvere_Ashcan1bezklice.text
EventdvereAshcan1_bezklice.button1
EventdvereAshcan1_bezklice.text
EventKlub_Eugene_cosedeje.text

I am not 100%

[2018-09-12 18:11] andrex47 commented on #871
thanks a lot

[2018-09-12 19:26] scrubbless commented on #892
Is this a custom monster? I found that custom events that run during mythos or horror phase end the round. Like if you look at a QItem that has an inspection event during the horror phase it ends the horror phase automatically

[2018-09-13 21:14] BenRQ commented on #891
So first of all, this issue happens when UNDOing, and when loading a quest.
This is basically the same action.

When loading a quest, the application is using the token order provided in the save file.
The first item loaded is on the bottom, the last one is on top.

For example : if a token of action is defined before a token of door, then the token of door will be on top.

**It means the order us

[2018-09-13 21:35] BenRQ opened #893 "Savegame menu is not displayed properly the first time"
When saving a game for the first time, the save menu shows 4 slots instead of the usual 3.
It is because the autosave is also displayed.

You may save on autosave in that case, and get your save game overwritten.

This is just a small issue, and it is now fixed.

[2018-09-13 22:03] scrubbless commented on #891
The doors are placed in events then the tokens. But token order in the editor is listed based on when tokens were created.

That's a lot of reordering to do.

Could you bring all tokens that have events assigned (event=xxxx) to the top?

[2018-09-13 22:12] scrubbless commented on #880
Fixed in bryhildr, thanks BenRQ.

Hi @NPBruce tagging you for visibility when you're back.

[2018-09-13 22:17] BenRQ commented on #891
I would prefer to find a way to save the token items in the same order that they are displayed while playing.
I'm afraid reordering based on the event assigned may break something for someone else.

[2018-09-13 22:20] BenRQ commented on #880
Hi @scrubbless, please do not close issues fixed in Brynhildr .

After discussion with @redwolf2 we decided to keep those open until they are fixed in the official release.

[2018-09-14 10:05] scrubbless commented on #880
Oh, you asked for it to be closed. No worries though

[2018-09-14 10:09] scrubbless commented on #891
The problem is, how do you find this out? Tokens and Events are not sequencial and you can't always follow the event chain order to find a sequence.

Some event chains will place the same token too.

I guess you could just tag tokens every time they are placed with a number.

Then place them in lowest to highest order

[2018-09-14 21:13] BenRQ commented on #891
After some time thinking and a bit of documentation reading, I found out the reason for this issue and the fix.

The reason : the type Dictionary<T1, T2> used to store the list of board items does not retain order.

The fix : The class OrderedDictionary does not exist unfortunately.
So I've added a 'sister' List of object name, and use this to write the savegame.

Tested and approved on "a strain

[2018-09-15 10:02] Mattias-G commented on #892
Yes, it's a custom monster. You are likely right that it's a similar issue to the ones you described.

[2018-09-15 22:03] BenRQ commented on #809
@redwolf2, I think this one is missing the Brynhildr tag

[2018-09-15 22:13] BenRQ commented on #683
For this request, it would make sense to display a warning dialog only if the player press the "next phase" button, and no horror check have been done yet for this round.

And we could also add an option in the settings to disable it.

[2018-09-15 22:28] BenRQ commented on #892
I have a fix available for issue #841 , and probably this issue too.
I would like to test it on this issue to make sure the fix is working.

Could you please share a test-scenario where I can reproduce the issue ?

[2018-09-16 08:12] scrubbless commented on #846
It's rapid! Well done

[2018-09-16 21:06] scrubbless commented on #848
Hi @EtiCarasoft, i've nearly finished the english translation, however I can't work out what the following line is:

-Pensaba que estaría enrollado entro. Esto no es lo que estoy buscando, no me hagas perder el tiempo.

It translates to:

<i> -I thought it would be coiled in. This is not what I'm looking for, do not waste my time .- </i>

[2018-09-16 23:27] scrubbless commented on #848
Ok here is the first draft, I need to play it through a bit to make sure it flows (and to add that translation above)

[Localization.English.txt](https://github.com/NPBruce/valkyrie/files/2387104/Localization.English.txt)

[2018-09-17 08:49] Mattias-G commented on #892
I've made a small test-scenario with a single custom monster that should trigger the bug. It looks like the issue might be a little different from #841 because the phase doesn't seem to end. Rather the problem is that it _doesn't_ end as it normally would when all monsters have performed their actions (I guess it's still waiting for the monster to do something, probably a flag that needs to be set

[2018-09-18 10:20] scrubbless opened #894 "[Android, Mac, Linux] Images/Sounds in Subfolders do not load"
### Description of Problem or Question
Images (and I assume sounds) do not load when they are nested in sub folders on Android. Works fine on Windows.
![image](https://user-images.githubusercontent.com/32058089/45681162-ba1daa80-bb34-11e8-8ee0-3690e81dd0a5.png)

Just get a blank UI load and then can't click anything.

### Valkyrie Version
2.01

[2018-09-18 20:54] redwolf2 commented on #894
I found it. The reason is the backslash in the image path.

[code]

Created a pull request with the fix: https://github.com/BenRQ/valkyrie/pull/21

[2018-09-18 20:58] scrubbless commented on #894
Cheers Redwolf, I figured it was a Linux/Windows (or Linux\Windows) divide thing

[2018-09-18 21:43] BenRQ commented on #892
Thanks a lot Mattias, it is now fixed.
It was a different issue, as you suspected.

The state machine of phases in Valkyrie is not so simple, it took me some time to find the fix for this one!
Should be quite robust now.

[2018-09-18 21:47] BenRQ commented on #841
Fixed!

I have also authorized interaction with items while in horror phase.
Otherwise, items would be displayed but you would not be able to click any UI button.

Only tokens can't be accessed while in horror phase.

This is the default behaviour in the official app.

[2018-09-19 07:37] EtiCarasoft opened #895 "Spanish Translation for "The Truth" Scenario"
### With the help of some other users we've translated the truth scenario into spanish.

I'm looking for the creator @SlyCozz or maybe @redwolf2 the first in translation order.
We've cheched without seeing any problem.

[Localization.Spanish.txt](https://github.com/NPBruce/valkyrie/files/2395883/Localization.Spanish.txt)

I attach the file, for the translation text use the nick: Aruok it's a name

[2018-09-19 07:40] EtiCarasoft commented on #848
downloaded it. changed the Quest.ini
We have the black of the illustration missing, my partner is inking it i hope it's done soon. As soon as it's done i'll change the file, do the package and update the adventure.

info also for @BenRQ

[2018-09-19 07:51] Mattias-G commented on #892
Sweet. Thanks for looking into it!

[2018-09-19 10:35] redwolf2 commented on #895
Only @slycozzolino can integrate it, but I am sure he will ;-)

[2018-09-19 10:39] EtiCarasoft commented on #895
thank you i didn't find the correct user name

[2018-09-19 10:39] redwolf2 commented on #895
Be aware, that the scenarios by @NPBruce and "Robbery of the Kanakian Idol" are not maintained, so focussing on scenarios by other creators would be preferable.

[2018-09-19 10:40] EtiCarasoft commented on #895
I'll take it into account, thanks again.

[2018-09-19 22:10] scrubbless commented on #848
Hi @EtiCarasoft
Can you help with the translation above my last message. I have done some proof reading and corrected some parts. But I will need that translation to finish it off.

If you have a repo could I pull(?) That and do much changes on your scenario? Will mean I'm working on your latest version.

[2018-09-20 09:34] EtiCarasoft commented on #848
The translation is correct, coiled in or coiled inside i found both to be correct i will also correct the spanish one a D letter is missing.

thx @scrubbless

[2018-09-20 12:46] scrubbless commented on #848
I thought it (the item the cats after) would be coiled _inside_.. Now I understand!

[2018-09-23 13:38] slycozzolino commented on #895
Added
Thank you for translating.

[2018-09-23 14:54] Mattias-G opened #896 "New Scenario - A Night In Wiltshire"
Hi all! Here is a new scenario for MoM 2nd editions. It'd be fantastic if you could add it to the listing. Thanks!

https://github.com/Mattias-G/MansionsOfMadness/tree/master/NightInWiltshire

P.S. Working with Valkyrie has been a great experience, it's a really neat engine!

[2018-09-23 17:32] #895 closed

[2018-09-23 22:58] scrubbless commented on #848
Hi @EtiCarasoft

Here is the latest translated file:
[Localization.English.txt](https://github.com/NPBruce/valkyrie/files/2409240/Localization.English.txt)

[2018-09-24 11:17] redwolf2 commented on #896
@scrubbless Can you add it in?

[2018-09-24 14:28] V0r1an opened #897 "New Scenario // Nuevo escenario"
https://github.com/V0r1an/mansiones

Thanks for your job!

Edit the new name "https://github.com/V0r1an/La_Mascarada"

[2018-09-24 15:09] redwolf2 commented on #897
Please give your folder and files a unique name (like `LaMascarada` for the folder, `LaMascarada.ini`, `LaMascarada.valkyrie`) and provide a rectangular image for the scenario.

[2018-09-24 15:39] V0r1an commented on #897
Now?

[2018-09-24 15:43] V0r1an commented on #897
Nop :)… i Will try more late

[2018-09-24 15:51] V0r1an commented on #897
I think that now it´s ok...
Thanks RedWolf :)

[2018-09-24 16:33] redwolf2 commented on #897
The image https://github.com/V0r1an/La_Mascarada/blob/master/La_Mascarada/5285_view.jpg is still not rectangular ;). It must have the same width and height.

[2018-09-24 18:57] V0r1an commented on #897
Red... sorry, what is the route for "put" images in valkyrie (i dont remenber it)
Ty

[2018-09-24 19:14] Mokiton commented on #584
Tried to import the Road to Legends content from my RtL steam installation on Ubuntu 18.04 to Valkyrie Brynhildr 2.1.0b and initially it did not work. I pointed to the "Road to Legend_Data" folder that contains the "ressources.assets" file.
You need to point to the parents folder instead. So my console command to start and import was `sudo ./valkyrie.x86_64 -import "/home/username/.local/share/Ste

[2018-09-24 20:49] scrubbless commented on #896
Added!

[2018-09-24 23:40] redwolf2 commented on #897
@V0r1an
You still may want to change it to a sqare image and remove the file  5285_view.jpg from the root of the repository.

@scrubbless
Can you add it in?
https://github.com/NPBruce/valkyrie-store/pull/4

[2018-09-24 23:40] #896 closed

[2018-09-25 09:00] V0r1an commented on #897
The file 5285_view. Jpg is not regular (square)? Because i changed It yo
300*300 px (i think...). This is the unique imagen that my scenary need...
The problem can be in the other imagen🤣🤣🤣 that i should delete... And
maybe Change the name of 5285_view 😋
Ty red

El mar., 25 sept. 2018 1:40, redwolf2 <notifications@github.com> escribió:

[2018-09-25 10:57] redwolf2 commented on #897
Not a problem at all. Seems great now.

[2018-09-25 16:29] V0r1an commented on #897
thank you very much! I just hope that there are not many failures and that
people enjoy playing, as I have enjoyed doing it.

El mar., 25 sept. 2018 12:57, redwolf2 <notifications@github.com> escribió:

[2018-09-25 17:59] redwolf2 commented on #897
No problem, @scrubbless will add it in, when he has time for it. I don't have the rights to do so.

[2018-09-25 20:09] scrubbless commented on #897
Added :)
![image](https://user-images.githubusercontent.com/32058089/46040101-546a8900-c107-11e8-9d64-c4af7b4a1073.png)

[2018-09-25 20:10] #897 closed

[2018-09-25 21:33] scrubbless commented on #896
It is worth posting an announcement in the following bgg thread. I'll get a new poll added with the newest scenarios soon.

https://boardgamegeek.com/thread/1916430/fan-made-scenarios-reviews-valkyrie

[2018-09-25 21:34] scrubbless commented on #897
It is worth posting an announcement in the following bgg thread. I'll get a new poll added with the newest scenarios soon.

https://boardgamegeek.com/thread/1916430/fan-made-scenarios-reviews-valkyrie

[2018-09-25 22:13] BenRQ commented on #584
Thanks @Mokiton for the update !
@redwolf2 Do you think we should close this issue ?
It seems to work fine in Mokiton environment for "Descent" at least.

[2018-09-25 23:30] #584 closed

[2018-09-26 16:44] #871 closed

[2018-09-28 06:38] Mattias-G commented on #896
Thanks for the tip, I'll do that right away.

[2018-09-29 21:33] BenRQ commented on #796
Hi @scrubbless,
can you please provide a small scenario to reproduce that problem ?

[2018-09-29 22:31] BenRQ commented on #224
@redwolf2 should be fixed in next Brynhildr version

[2018-10-03 16:42] maxrojale opened #898 "Valkyrie unable to locate Mansions of Mansions when DLC is installed - Windows 10"
### Description of Problem or Question
Valkyrie was unable to locate Mansions of Madness when I had the DLC "What lies beneath" installed. After disabling the DLC and reinstalling the game, it finally worked.

### Valkyrie Version
2.0.1

### Attach Save, Quest or Scenario
N/A

[2018-10-04 02:12] redwolf2 commented on #898
That probably not a problem with the DLC, but the registry information. Can you reactivate the DLC and confirm that the Problem is back?

[2018-10-04 07:29] scrubbless opened #899 "Promoting Brynhildr"
### Description of Problem or Question
BenRQ has fixed a lot of bugs in his version of Valkyrie. I've been using this (and the alpha) for a while and it seems stable, added cool features and fixes a lot of issues (importantly save/perf issue and adding the in game reviews).

I've seen some negitive comments from the community, due to the lack of progress.

I know you are busy with RL @npbruce (con

[2018-10-04 09:14] NPBruce commented on #899
I'm sorry I've dropped the ball on this. At this stage I don't see much changing until next year.

As I am not capable of even reviewing other people's work at this stage, I have an alternative proposal:

Would you @scrubbless or @BenRQ be interested in taking over the project?

I would be happy to leave it hosted under my user (as there are a lot of links to here) or provide links to the new home

[2018-10-04 11:15] scrubbless commented on #899
No need to apologise, it's a personal project not a job! :D

I'm happy to maintain what I can and promote it to the community, but I have nowhere bear any skills with unity (or anything outside the editor to be honest).

I would not feel comfortable "taking it" over wholesale. But would more than happy to help maintain and administer it in your absence.  If you want to,  grant permissions to the r

[2018-10-04 18:52] BenRQ commented on #899
Hi @NPBruce, I'd be happy to 'take over' with the time I have.
I'm not yet familiar with everything you did for this wonderful project but I'm slowly getting there.

Also @redwolf2 has been of great help to get me started, and he still is today for a lot of topics.
There is definitely work for two or more people !
And I think he already got all the rights.

Thanks for the great job you did @NPBruc

[2018-10-04 22:45] BenRQ commented on #820
Fixed!
It will be available in next official release.

Thanks for the detailed explanation and example, it helped me a lot.

[2018-10-04 23:09] #870 closed

[2018-10-04 23:32] BenRQ commented on #689
Merged into Brynhildr for next release

[2018-10-05 08:56] DelphiDie commented on #820
Thank you very much for fixing this @BenRQ

[2018-10-05 10:59] scrubbless commented on #899
Thanks guys, I'll close this issue. We can discuss on discord how to proceed with merging your beta BenRQ

[2018-10-05 10:59] #899 closed

[2018-10-05 17:36] BenRQ commented on #821
I would need more explanations to help on this, as I'm not an expert of the editor.

With your example, and from I can read in the wiki, I don't see anything that would forbid the app from spawning duplicate.
See here monster and traitpool : https://github.com/NPBruce/valkyrie/wiki/QuestIniSpawn

So this issue is not a bug, but more of a feature request ?

[2018-10-05 17:37] BenRQ commented on #821
@scrubbless you are an expert with the editor so your feedback is welcome here :)

[2018-10-05 17:41] BenRQ commented on #805
This is definitely a bug.
Also I'm surprised nobody reported the white text on yellow background for the price :P

[2018-10-05 17:47] BenRQ commented on #817
Maybe there is an easy way to do it without any code change.
@scrubbless don't you have dynamic choices for text in your scenario?

[2018-10-05 17:52] BenRQ commented on #898
@maxrojale How long ago did you install Mansions of Madness ?
Maybe first versions of MoM where not using the registry.

It will be confirmed by @redwolf2 suggestion for a test with the DLC after reinstalling.

[2018-10-05 17:53] BenRQ commented on #818
Hi @redwolf2 , does this issue makes sense to you ?

[2018-10-05 17:58] BenRQ commented on #750
@scrubbless could you please explain how we should integrate those variables in the editor ?
If you can for example tell me if there is an equivalent "entry type" that I can copy for this.

[2018-10-05 18:15] BenRQ commented on #761
Hi @NicolaZee, if you can send me the updated mythos.ini file, I will integrate it in next release.

Regarding [PerilIronCurse], I'm not sure I understand why this should be indoor? and why this is a problem with your scenario?
I don't want to block the change of course, but I just want to understand why this is a problem for you.

Finally regarding the list of mythosEvents selection, I think it n

[2018-10-05 18:50] BenRQ commented on #708
I have implemented an error message :
![image](https://user-images.githubusercontent.com/40794717/46554368-563f0400-c8e0-11e8-9f85-ab1a53a7677f.png)

[2018-10-05 19:16] redwolf2 commented on #818
Most random method in frameworks return a value that is 0 or somewhere between 1. Like 0.8399493 but not 1, never 1 but that might cause some problems. There is the slight chance that unitys Random.Range function will return max value, which would lead to problems there.
We should replace:
https://docs.unity3d.com/ScriptReference/Random.Range.html
with
https://docs.unity3d.com/ScriptReference/Rang

[2018-10-05 19:31] BenRQ commented on #818
Thanks for the explanation, it makes sense now.
I see in the doc that the float function is inclusive but the int function is exclusive.

Good news is : we are already using int function for every random calls, as we always have an int as input.

![image](https://user-images.githubusercontent.com/40794717/46556090-dc117e00-c8e5-11e8-84f7-65181604b4ec.png)

![image](https://user-images.githubuserco

[2018-10-05 19:33] redwolf2 commented on #818
Haha, just found that overload, too.

[2018-10-05 19:33] #818 closed

[2018-10-05 19:33] BenRQ commented on #818
Nice HP citation by the way :)

[2018-10-05 19:41] BenRQ commented on #821
Just to be clear, in Descent, you should be able to generate a group of monsters even if it already exists.
I'm just starting in Descent as I have done 2 games so far, but I had a quest where it happened (spider spawning again).

You need an appropriate text to do it, but some scenario are doing it.

Or do you mean that you had multiple instances of groups on the right side of the screen?
This is

[2018-10-06 00:31] redwolf2 opened #900 "Scenario Editor: Expansions can be added multiple times"
### Description of Problem or Question
Expansion requirements can be added multiple times

### Valkyrie Version
2.0.1

[2018-10-06 00:55] BenRQ commented on #805
@DelphiDie what would be the maximum number of  Leather Armor and Iron Shield ?
I will try to support that.

Also I'm pretty sure you can have a new leather armor or iron shield in the shop, even if one hero has it in his inventory.

[2018-10-06 01:46] BenRQ commented on #805
Potential fix available, just waiting for your feedback regarding the quantity

[2018-10-06 01:47] BenRQ commented on #821
We have now understood that monsterlist with traitpool should be excluded.
I will investigate in a few days with the demo quest that @redwolf2 has done for this.

[Uploading EditorQuest1.zip…]()

[2018-10-06 01:58] redwolf2 opened #901 "Monster Spawn needs an overhaul"
### Description of Problem or Question

There is no easy option to spawn monsters from a list at random. The whole options are not very intuitive.

It would be better to be included like:

* By list
  * Option for "ordered", "random", "rolling".
* By trait
  * Option list to expclude monsters
* By traitpool
  * Option list to expclude monsters

And look like:
[code]

Note: the GUI does not allow t

[2018-10-06 08:50] DelphiDie commented on #821
Sorry I didn't make this clearer. If you need any additional information I'm happy to provide a demo quest.

[2018-10-06 08:53] DelphiDie commented on #805
The quantity for the leather armor and the iron shield is 2.

Another exception might be the "Lucky Charm" item. The thief class has this one as starting gear, but there is also one in the shop item deck.

[2018-10-06 11:29] scrubbless commented on #900
You will need to cater for RN / Cotw & FA if making exclusions.

Since adding these only add the variables #expansion = 1. Duplicates in this don't matter that much

[2018-10-07 19:17] BenRQ commented on #805
Fixed.
For lucky charm, it's already working as class and act item are two different items.

I have also changed the background color for class/act and price.
![image](https://user-images.githubusercontent.com/40794717/46585830-40fbde00-ca76-11e8-9d2f-8fe889668d73.png)

[2018-10-07 21:31] BenRQ commented on #821
Hi @DelphiDie ,
I was not able to reproduce the problem in more than 50 monsters spawns.
Can you please provide a test scenario and try it in valkyrie beta 2.0.2 ?

[2018-10-07 22:43] BenRQ commented on #850
Hi @UberGooberGames ,
can you please provide a test scenario for this issue ?
I tried to reproduce and was unable to see the issue, but I may have missed something.

We are scoping out next version, so if you can provide this quickly, the fix will be in it.

[2018-10-07 22:46] BenRQ commented on #783
From what I can read, a workaround is available.
I'm removing this from 2.1 scope.

@Maverick4jc, feel free to tell us if you think this issue should be fixed urgently.

[2018-10-07 22:59] BenRQ commented on #271
I guess we should test this.
This looks like a nice improvement, and required for Descent campaigns with multiple quests.

[2018-10-07 23:01] BenRQ commented on #816
Related to #271

[2018-10-07 23:04] BenRQ commented on #775
Hi @scrubbless, shall we postpone this to 2.2 or do you think that it would be a major addition to 2.1 ?
Also if you can use your photoshop talent to show me what you expect here, it would be nice :)

[2018-10-07 23:51] BenRQ commented on #620
Cherry-picking the commit from Bruce in dev branch

@redwolf2 how I can know the original FFG name for the missing translations ?

I see that a few lines are still missing in the following file:

content\D2E\base\content_pack.ini
content\D2E\ck\aod\content_pack.ini
content\D2E\ck\d1e\content_pack.ini
content\D2E\ck\dq\content_pack.ini
content\D2E\ck\promo\content_pack.ini
content\D2E\ck\toi\conten

[2018-10-07 23:55] BenRQ commented on #609
Hi @scrubbless, shall we postpone this to 2.2 or do you think that it would be a major addition to 2.1 ?

[2018-10-08 00:13] #111 closed

[2018-10-08 00:13] #224 closed

[2018-10-08 00:13] #430 closed

[2018-10-08 00:13] #553 closed

[2018-10-08 00:13] #689 closed

[2018-10-08 00:13] #708 closed

[2018-10-08 00:13] #762 closed

[2018-10-08 00:13] #805 closed

[2018-10-08 00:13] #809 closed

[2018-10-08 00:13] #820 closed

[2018-10-08 00:13] #841 closed

[2018-10-08 00:13] #846 closed

[2018-10-08 00:13] #852 closed

[2018-10-08 00:13] #859 closed

[2018-10-08 00:13] #873 closed

[2018-10-08 00:13] #877 closed

[2018-10-08 00:13] #880 closed

[2018-10-08 00:13] #891 closed

[2018-10-08 00:13] #892 closed

[2018-10-08 00:13] #893 closed

[2018-10-08 00:13] #894 closed

[2018-10-08 00:16] redwolf2 commented on #271
Ok, then thats what dev-untested was for... I will check it out.

[2018-10-08 09:57] DelphiDie commented on #821
Hello @BenRQ ,

I modified a quest where I had the issues.

Instructions:
- For best results deactivate all Descent expansions (to reduce the amount of possible monster groups)
- Start the quest
- The first monster group is a randomly chosen dragon group, but since only the base game is available these will be shadow dragons.
- The following 4 spawns use the traits dark and cave, which would allow

[2018-10-08 10:40] DelphiDie commented on #821
I created a second version of the quest which was intended to be a bit more convenient by allowing to restart the setup process ingame. There I noticed, that the randomizer always chooses the same random monster if the same spawn instruction is called at a later time.

This in itself at least allows to reinforce the same random monster at a later point, but it unfortunately breaks down once you ne

[2018-10-08 10:53] DelphiDie commented on #821
I was able to reset the randomizer by recalling the quest.ini instead of just manually restarting the running quest. With this version you will be able to test the behavior in an easy way.

[SpawnDemo_v3.zip](https://github.com/NPBruce/valkyrie/files/2455614/SpawnDemo_v3.zip)

[2018-10-08 20:21] UberGooberGames commented on #850
Hello there.  I got frustrated with the software and haven't gone back to
it recently.  When I do, I will put together some screenshots to show what
I am talking about.

On Sun, Oct 7, 2018 at 5:43 PM BenRQ <notifications@github.com> wrote:

--
Thanks in advance for your time.
Steven E. Metze
512-496-0936
www.ubergoobergames.com

[2018-10-09 02:48] GwanGwanish opened #903 "New Scenario - Delve Too Deep"
### New scenario titled "Delve Too Deep."
### HTML is https://github.com/GwanGwanish/Mansions2/tree/master/DelveTooDeep

### Valkyrie Version 2.0.1.

[2018-10-09 02:50] GwanGwanish commented on #888
Agreed.

Also, I noticed that when I do the current format for custom attacks, the programming appeared to not recognize the coding for using symbols instead of words.

For example: "Gwangwanish swings at the monster ({strength}; 2)." The strength symbol would not appear; instead, it would just be the text of "{strength}." Version 2.0.1. of Valkyrie.

[2018-10-09 09:39] DelphiDie commented on #901
Hello Redwolf,

Sorry, but I'm not entirely sure what you exactly want to accomplish by your suggestions. Which monster would your example produce?

[code]

From my point of view there are 2 features which are absolutely essential to make use of random monster groups:

Preventing duplicates of monster groups while spawning: It would be ideal if random (trait based) monster spawns would always take

[2018-10-09 16:41] scrubbless commented on #903
You're really kicking these out! Well done!

I'll add it when I get to a pc.

[2018-10-09 17:51] BenRQ commented on #888
Hi @GwanGwanish , I think you are talking about issue #850
If you can provide a short sample scenario to demo the issue, I should be able to fix it quickly.
I tried but was unable to reproduce the problem.

Regarding your request @NettleTea, I understand the purpose of this is to limit the number of time you have to duplicate this action.
Is there something more to it ?
In term of implementation,

[2018-10-09 17:58] BenRQ commented on #850
@UberGooberGames I understand it can get frustrating without a bit of guidance.
We now have the Discord where you can directly ask your questions to experienced authors.
When you get your motivation back, feel free to join us here : https://discord.gg/yrVeSVt

Also @scrubbless has created a nice tutorial document, which is a kind of 'advanced tutorial' for MoM scenario creation.
You can find it he

[2018-10-09 18:19] BenRQ commented on #821
Thanks to the demo you provided, I've spotted the issue.

When you exclude a monster, you only exclude the base type.
So if you want to be sure to exclude all the monster of this base type, you also need to exclude the custom Monster of this same type.

In your example, you need to replace :
monster=MonsterShadowDragon
by :
monster=CustomMonsterShadowDragons MonsterShadowDragon

There is still the

[2018-10-09 19:53] scrubbless commented on #903
I've added the scenario.

[2018-10-09 19:53] #903 closed

[2018-10-09 21:41] #501 closed

[2018-10-09 21:41] BenRQ commented on #501
Available in next release

[2018-10-09 22:33] NettleTea commented on #888
So the reason I requested this feature originally is because I would like to record damage dealt to a monster through a certain investigator attack for example. If the custom investigator attack would work like an event it would be possible to save a damage value to a variable for later use. Perhaps a monster takes the final hit from something else than an investigator and if the game knows the mo

[2018-10-09 23:55] BenRQ commented on #620
I found the translations here : $USER\AppData\Roaming\Valkyrie\D2E\import\text\Localization_*.txt
and added the missing translation.

[2018-10-09 23:55] #620 closed

[2018-10-10 00:08] BenRQ commented on #821
In current implementation, the list of selected monster is created at scenario creation.
If during the game you spawn a base or customer monster of type "zombie" for example, the selection won't change.
So you could very well have zombies "selected" and trying to spawn in your random selection.
This needs to change I think if you confirm we don't want to spawn the same monster twice.

[2018-10-10 10:33] DelphiDie commented on #821
Hello BenRQ,

thanks for taking the time to analyze this, this explains a lot.

To answer your questions: We definitively do not want to have the same monster spawning twice.

If you imagine the monster pool from which random spawns are selected as a cup and each monster group as a token with a number (let's say 1 to 9 to simulate the base game monster groups). If you manually use monster number 3

[2018-10-11 01:06] GwanGwanish commented on #903
Thanks!

I'll probably cool it at this point. Need to let the creative juices
marinate for a bit.

On Tuesday, October 9, 2018, scrubbless <notifications@github.com> wrote:

[2018-10-11 17:18] Grieverouz opened #904 "Opening custom scenario bugged"
### Description of Problem or Question
Hi! I've been working on my own homebrew scenario for MONTHS now, and suddenly when i saved my progess, the editor closed and went to valkyrie main menu. I tried to open my scenario again and it keeps taking me to the main menu. Is the scenario gone? The other scenarios are working on the editor just fine but my main scenario which i've been working for month

[2018-10-11 17:30] BenRQ commented on #904
Hi @Grieverouz, can you share the scenario here ? I will have a look.
I hope I can fix it for you !

[2018-10-11 17:37] Grieverouz commented on #904
Hi! Thanks for the fast answer, but how do i share it. Can't drop the whole "EditorScenario"-file here...

[2018-10-11 17:40] BenRQ commented on #904
You need to zip the directory, and share it here.
If it's too big, you can use https://wetransfer.com/ or any other filesharing system.

[2018-10-11 17:51] BenRQ commented on #904
I have it. I'll try to start it in debug mode, and see if I see anything.

[2018-10-11 17:51] Grieverouz commented on #904
Thanks alot mate. I'll wait for the results

[2018-10-11 18:35] BenRQ commented on #904
You have two spawn events with "undead" and "Fleshless" required traits.
No monsters have those two traits, so the app cannot find any monster, and goes back too main menu.
To fix this in your scenario you should open the spawns.ini file, and fix this with a text editor.

Please note that app behaviour (going back to the main menu) is a bit extreme.
I will change that to just add a warning in the

[2018-10-11 18:36] BenRQ commented on #904
Also don't forget to remove the .rar file in your scenario ;)

[2018-10-11 18:53] #904 closed

[2018-10-11 19:10] BenRQ commented on #888
Thanks for the explanation @NettleTea, I understand and it would be a nice evolution.

As this is an improvement, this is targetted for 2.2 version.
2.1 will be released soon, and I want to include only bug fix for now.

[2018-10-11 19:18] scrubbless commented on #796
Example Scenario Attached.
[ExampleCustomM.zip](https://github.com/NPBruce/valkyrie/files/2470378/ExampleCustomM.zip)

[2018-10-11 19:29] BenRQ commented on #821
I think it's clear, thanks Delphi.
It will require a major change, as random monster should be generated during gameplay, and not at quest startup like it is today.

I will postpone this to 2.2.

For 2.1, I have done a temporary fix, so you don't get the same monster twice  in the list of spawn monsters.

[2018-10-11 20:30] BenRQ commented on #796
Thank you for the example, it is now fixed.

[2018-10-11 20:31] BenRQ commented on #796
Will be available in release 2.1

[2018-10-11 20:31] #796 closed

[2018-10-11 20:34] BenRQ commented on #271
Moving this to 2.2 as it will require a bit of testing

[2018-10-11 20:54] BenRQ commented on #727
Hello @prilogon,

would you have some time to extract your scenario in your own github fork?
The method to publish is described here :
https://github.com/NPBruce/valkyrie/wiki/QuestPublish

That way you would be able to manage all the updates and translations, without going through the Valkyrie team.

It would be a pity if Indoy work was done for nothing :(

[2018-10-11 21:00] BenRQ commented on #848
Hello @EtiCarasoft
would you have some time to copy your scenario with English and French update in your own repo ?

Valkyrie Release 2.1 is coming out very soon, and I was thinking about sharing the info with the French community. As your scenario is a very nice, I wanted to list it in my "commercial for Valkyrie" on forums :)

[2018-10-11 21:29] BenRQ commented on #775
After discussion with scrubbless, we postpone to 2.2, to release 2.1 earlier

[2018-10-11 21:29] BenRQ commented on #750
After discussion with scrubbless, we postpone to 2.2, to release 2.1 earlier

[2018-10-11 21:30] BenRQ commented on #609
After discussion with scrubbless, we postpone to 2.2, to release 2.1 earlier

[2018-10-11 22:47] BenRQ commented on #826
Thank you for the demo quest, I was able to fix the issue thanks to that.

The roundCountroller was not resetted after starting a new quest.

[2018-10-11 22:49] BenRQ commented on #826
Fix will be available in next release 2.1, planned in the next few days.

[2018-10-11 22:49] #826 closed

[2018-10-11 23:08] Grieverouz commented on #904
Wow, thanks alot dude! You just saved my scenario :)

[2018-10-11 23:10] BenRQ commented on #904
You're welcome 👍

[2018-10-11 23:17] GwanGwanish commented on #888
Yea. Reads like issue #850.

Attached is a demo scenario that illustrates the problem. If you run the
scenario and spawn the customer monster with the interact token, none of
the attacks will display the skill symbol. They'll all read {strength},
{observation}, etc.

On Thu, Oct 11, 2018 at 3:10 PM BenRQ <notifications@github.com> wrote:

[2018-10-11 23:19] BenRQ commented on #888
Hi @GwanGwanish, thanks but I don't see the attachment?

[2018-10-12 08:07] DelphiDie commented on #821
Thanks a lot, this sounds promissing :)

[2018-10-12 08:10] scrubbless commented on #850
Here is an example Scenario.

![image](https://user-images.githubusercontent.com/32058089/46856567-b3feaf00-cdfe-11e8-9848-f4b42690f439.png)

[CustomAttack.zip](https://github.com/NPBruce/valkyrie/files/2472182/CustomAttack.zip)

[2018-10-12 13:09] andrex47 commented on #871
sorry for the delay but here it is
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2473146/Localization.Portuguese.txt)

[2018-10-12 15:41] andrex47 commented on #871
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2473697/Localization.Portuguese.txt)
finally done

[2018-10-12 15:43] andrex47 commented on #871
@FASTNAVi i just finished testing the scenario, everything ok here

[2018-10-12 15:48] andrex47 commented on #871
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2473721/Localization.Portuguese.txt)

[2018-10-12 15:49] andrex47 commented on #871
The only problem i have seen is the introduction of the scenario, the text doesnt fit the screen

[2018-10-12 16:05] andrex47 commented on #871
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2473786/Localization.Portuguese.txt)

[2018-10-12 16:40] FASTNAVi commented on #871
Hi Andrex47. Thank you very much. I will check it in Sunday. I will try to do something with the introduction ;-)

[2018-10-12 18:12] BenRQ commented on #850
@scrubbless Fixed, thanks for the demo scenario

[2018-10-12 18:12] #850 closed

[2018-10-12 18:12] BenRQ commented on #888
@GwanGwanish #850 is now fixed, Scrubbless has provided a demo scenario.

[2018-10-12 18:15] BenRQ commented on #887
Thank you @StevenP94, you are right on time, next version is almost ready to be released.
It will include your translations.

[2018-10-12 18:19] BenRQ commented on #761
Release 2.1 is coming.
Moving this to 2.2

[2018-10-12 20:40] redwolf2 commented on #271
The branch dev-untested does contain both the quest data. First step would be to seperate them both into feature branches. Then complete the var-comments branch and merge it in.

[2018-10-13 07:24] DelphiDie opened #911 "Problem with dialogues in combination with the shop interface"
### Description of Problem or Question
I just noticed, that there is a problem with dialogues in combination with the shop interface. If you accidentaly buy or sell an item while a dialogue window is open this window gets set to a lower layer, and the buttons become unavailable. This leads to a situation where the game is no longer responding on other button clicks (like menu) and has to be closed

[2018-10-13 07:58] DelphiDie commented on #821
Just to inform you:

I tested spawning a bit with Valkyrie 2.1.0 and the new system works a lot better :)

But when I added all expansions again, I sometimes got duplicate spawns with MoM2 markers. This shouldn't happen, but I guess it might be due to your temporary fix?

Screenshot:
![spawns](https://user-images.githubusercontent.com/26790002/46902962-7ff2bf00-cece-11e8-830e-dd4b431c4976.jpg)

[2018-10-13 08:17] BenRQ commented on #911
Hi @DelphiDie
So I fixed the problem, but I'm pretty sure it was already there in 2.0.1.

[2018-10-13 08:17] #911 closed

[2018-10-13 11:50] andrex47 commented on #871
thanks a lot, the introduction i am talking about is the line
UIuvod_text.uitext

[2018-10-13 11:58] andrex47 commented on #869
hey there, can i offer you some help with the translation?

[2018-10-13 12:53] scrubbless commented on #888
This is a separate feature request. Having custom attacks in a similar way as evade and horror checks would give authors the flexibility to add variables, tests and even chain events from them.

[2018-10-13 15:06] DelphiDie commented on #911
Yes, I'm also pretty sure that the problem was there before, but I simply never encountered it. Thanks for fixing this :)

[2018-10-13 15:08] DelphiDie commented on #821
Thanks for your explanation, I think I was able to grasp the issue.

[2018-10-13 23:11] scrubbless opened #912 "Editor - Save Function does not remove menu"
### Description of Problem or Question
When you click "menu" and then "Save" in a scenario, it saves but the menu does not disappear. This makes it look like the changes have not been saved.

To repoduce, just create a new scenario. Open it, click Menu, then click "Save".

### Valkyrie Version
2.1.0

[2018-10-14 13:52] antontimmermans opened #913 "End the game in monster phase"
### Description of Problem or Question
In my scenario investigators have a limited ammount of turns until a StarSapwn spawns. And when it spawns they have a limited amount of rounds until the monster reaches a certain location.
In the monster phase the investigatiosn have the usual option to attack or evade that monster but also the option to select that the Monster has reached the end location.
W

[2018-10-14 17:28] BenRQ opened #915 "Button bar does not appear on some scenarios / some hardware"
On some scenario, and for some hardware, the button bar does not appear.
Button bar should appear with the first tile being displayed.

reproduced by BenRQ:
 - scenario InTheDark
 - Hardware Samsung Galaxy Tab S 10
 - Not reproduced on Android phone, and windows PC
 - not reproduced on other scenarios tried

Reproduced by 'Pi' (reported on Discord):
 - scenario " lair of rim shaikorth "
 - hardwar

[2018-10-14 18:06] #915 closed

[2018-10-14 18:10] scrubbless commented on #913
Not addressing the bug, but you could make the monster moves event trigger at End round or start round. This might fire a little better. Also you could even track the monsters movement with variables so you don't have to even ask the investigators where the monster is.

[2018-10-14 18:48] BenRQ opened #916 "Black screen after monster appearance, in "InTheDark""
Valkyrie version 2.1.0

After the monster DarkYoung is being generated, there is a succession of dialog box.
When the last popup is displayed, the app gets blocked, and a black screen appears.

A quick investigation shows there is a stack overflow at this point.

[2018-10-14 20:58] BenRQ commented on #916
In this scenario (in the dark), the author used an empty event to manage the custom monster activation.

[code]

It is used only here :

[code]

I don't understand why, but I made sure to ignore empty events in monster activations so it does not mess with the state machine of Valkyrie.

@nicolazee I'm closing this issue, but if you have some time to explain why you did that, I'm interested :)

[2018-10-14 20:58] #916 closed

[2018-10-14 21:25] BenRQ opened #917 "Log menu cancel monster attack"
Checking the log menu during an enemy attack cancelled out their attack menu and i couldn't get it back.

### Valkyrie Version
Valkyrie 2.1.0

Note:
This was reported with the rating and comments of a game session, in the comments for the author.
Thanks to the reporter :)

[2018-10-14 21:29] #912 closed

[2018-10-14 21:42] #917 closed

[2018-10-14 21:53] BenRQ commented on #913
Hi @antontimmermans , I tried to reproduce the issue with your scenario but the scenario is quite big, and I've got stuck with the bell UI after a while, and the clear button doing nothing.
I've not reached the part you have described here in your issue.

And I'm not reading text too much, as the scenario looks quite good, and I don't want to spoil myself too much :)

Would you be able to do a min

[2018-10-15 09:15] antontimmermans commented on #913
Thank you,

I wasn't aware that the testsessions would be recorded too. I thought only the published version would be recorded. My apologies. I was not trying to fake good score.

________________________________
Van: BenRQ <notifications@github.com>
Verzonden: maandag 15 oktober 2018 00:20
Aan: NPBruce/valkyrie
CC: antontimmermans; Mention
Onderwerp: Re: [NPBruce/valkyrie] End the game in monster

[2018-10-15 09:45] antontimmermans commented on #913
Thank you for your suggestion. The end round or start round trigger might work, I will look into it. Tracking the monsters movements with variables could have been a clean option if the end turns are really fixed. The problem is that the investigators have the option to slow down the progress of the monster (not stopping) by engaging it. Through some items (I believe the .45) they even have the op

[2018-10-15 10:06] antontimmermans commented on #913
In fact, I have a test button (a little hidden clue token just above the townsquare) to trigger/test end conditions. I have disabled it in the attached version but can easily be added during the EventTownSquarePlace tile sequence (first tile).
The turn in which the StarSpawn Spawns is set in the EventQStart and depends on the number of investigators. So this issue can be reproduced by patiently cl

[2018-10-15 17:36] antontimmermans commented on #913
As promissed a test version. After you go through the intro you will notice a clue token north of the townsquare. That token allows you to select the option "spawn Big Bad". After you selected that, end the turn and you will get the monster dialogue where you select "monster reached the town square".
This will trigger the end-dialogue where you cannot click the end-turn button , or the continue bu

[2018-10-15 19:40] BenRQ commented on #913
Hi @antontimmermans,
I'm testing with version 2.1.2 (fresh from today).

I don't see the issue, as you describe it: if I press continue I just see the end screen rating (if the quest is in a valkyrie package), or I go back to menu (if the quest is not packaged, and is played from a directory).

So from my point of view, it is the expected behaviour.

Can you please test again in 2.1.2 ?
Please tel

[2018-10-15 21:12] DelphiDie opened #920 "Descent Quest Editor tile allignment problem"
### Description of Problem or Question
The value "xposition" of the snap indicator for tile "TileSide60A" is off by 0.5 in the Descent quest editor.

### Valkyrie Version
2.1.2

### Attach Save, Quest or Scenario
![indicator](https://user-images.githubusercontent.com/26790002/46978623-bf3c2e00-d0cf-11e8-9cf1-4b708634d2f1.jpg)

[2018-10-16 17:49] antontimmermans commented on #913
Tested on 2.1.2. It seems to work properly now.
Clicking the UI Continue button in the final graphics brings me back to the main menu as expected.
Thanks.

[2018-10-16 19:54] BenRQ commented on #913
Cool, I hope I can test it soon :)

[2018-10-16 19:54] #913 closed

[2018-10-17 11:11] scrubbless opened #921 "UI Button - Background"
UI Boxes (like text boxes) allow for a boarder to be added and the text and board colour ("colour" in screenshot) to be set, however it does not allow for a background colour.

![image](https://user-images.githubusercontent.com/32058089/47082488-9a49d700-d205-11e8-9ffe-08671e9895f8.png)

Therefore all buttons have a transparent background.

![image](https://user-images.githubusercontent.com/320580

[2018-10-17 19:20] redwolf2 commented on #701
Most of the sluggishness was due to the auto save feature. This is fixed since version 2.1.0.

[2018-10-17 19:20] #701 closed

[2018-10-17 19:25] redwolf2 opened #922 "Continue Arrow doesn't show up on Android"
### Description of Problem or Question
Arrow does not show up on a HTC m8 with Android 7.1.2.

### Valkyrie Version
2.1.2

![screenshot_20181017-211937](https://user-images.githubusercontent.com/4141621/47111029-b1fb7c80-d252-11e8-8e1e-168d9c3f2152.png)

[2018-10-17 19:32] #860 closed

[2018-10-17 19:40] redwolf2 commented on #898
The steam registry was used from early on, but sometimes or somehow the registry key is gone. Maybe due to registry cleaner tools or something. It happened to me, even though I don't use registry cleaners for obvious reasons (they suck and produce problems).

[2018-10-17 21:21] BenRQ commented on #922
The character may be missing from the font somehow ?
Is it your phone @redwolf2 or someone else ?

[2018-10-17 21:27] BenRQ opened #923 "Display/modify monster life during monster activation phase"
During monster activation the official app has the option to assign damage.
Valkyrie does not.

### Valkyrie Version
2.1.2

![image](https://user-images.githubusercontent.com/40794717/47117124-ceec7b80-d263-11e8-951b-676b746e7b8b.png)

![image](https://user-images.githubusercontent.com/40794717/47117224-16730780-d264-11e8-84d7-f9aa6572745f.png)

[2018-10-18 01:01] redwolf2 commented on #922
My phone

[2018-10-18 11:38] Samurai83ITA opened #924 "Upload scenarios"
### Description of Problem or Question
It's possible to upload a scenarios that i create? thanks... (I create a lot of scenarios)

### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyrie/MoM/Editor
[La Follia di Arkham.zip](https://github.com/NPBruce/valkyrie/files/2491

[2018-10-18 12:49] scrubbless commented on #924
Hi @Samurai83ITA

It is better if you create a repository for your own scenarios, I wrote a guide that has a section on using GitHub. This will be your best option, since you already have a GitHub account.

Once you have it on GitHub post the link and I can add it to the manifest for download.

The reason this is better, is that if you update your scenario you can automatically push those changes

[2018-10-18 13:51] Samurai83ITA commented on #924
https://github.com/Samurai83ITA/Scenari-Valkyrie
This is the repo, i use the desktop software...

[2018-10-18 13:55] scrubbless commented on #924
![image](https://user-images.githubusercontent.com/32058089/47159417-be7ce500-d2e5-11e8-841a-0b3b26c3aaa7.png)

Did you commit and push the changes? I can't see the files.

[2018-10-18 13:55] scrubbless commented on #924
I assume the repository is public?

[2018-10-18 13:58] Samurai83ITA commented on #924
Yes it's public... try now

[2018-10-18 14:14] scrubbless commented on #924
Wow you've done lots of them!

[2018-10-18 15:02] NicolaZee commented on #916
Thanks for doing a hot fix for this issue.
The empty event CustomEventOff looks wrong (as logically it should not be doing anything) but as I'm sure you'd agree Valkyrie can be quirky in the way it processes Mythos Events! : )
The underlying issue is the Dark Young is not spawned using a spawn event because it may appear in four places and it can move off the board and reappear on the board at a l

[2018-10-18 15:21] NicolaZee commented on #916
This issue of appearing and disappearing monsters is covered in the following issue.

https://github.com/NPBruce/valkyrie/issues/594

[2018-10-18 16:35] BenRQ commented on #916
Thanks a lot for the explanation @NicolaZee makes sense to me.
#594 has some suggestions for solutions too, I will think about it for next release.

[2018-10-18 16:57] BenRQ commented on #922
We have the font inside the app, so there shouldn't be any problem on that side.
You can try this in any case : https://docs.unity3d.com/ScriptReference/Font.HasCharacter.html

But I think the better solution would we use the font embedded in the app, instead of the system font.

[2018-10-18 17:20] BenRQ commented on #922
or maybe ... it is just a matter of lower / upper case :

Can you please replace "fonts" with  "Fonts" in GameType.cs ?

        return (Font)Resources.Load("Fonts/MADGaramondPro");

[2018-10-18 17:40] redwolf2 commented on #922
Will try, when I manage to update my unity version.

[2018-10-18 22:54] BenRQ commented on #821
I have done a potential fix, but it needs to be heavily tested

[2018-10-18 22:54] #821 closed

[2018-10-18 23:48] BenRQ commented on #923
done for 2.2

[2018-10-18 23:48] #923 closed

[2018-10-19 20:51] BenRQ commented on #924
@Samurai83ITA you can also share the repo access with me and @scrubbless, so we can do this renaming.
Then you will be able to update the scenarios later if required.

Access rights can be shared from the settings, collaborators, add collaborator :

![image](https://user-images.githubusercontent.com/40794717/47243148-7a770680-d3f1-11e8-87c4-4073a7bb5fae.png)

[2018-10-20 11:25] antontimmermans opened #925 "Scenario ready for Publishing: Disturbance at the docks"
### Description of Problem or Question
The scenario "Disturbance at the Docks" is ready to be published. This scenario can be played with the game Mansions of Madness 2nd edition and does not require any expansions.

It is our first attempt at writing a MOM scenario. Your feedback is much appreciated.

### Valkyrie Version
2.1.2

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Sav

[2018-10-20 16:30] scrubbless commented on #925
Published, thank you!

[2018-10-20 16:30] #925 closed

[2018-10-20 16:31] scrubbless commented on #922
Shows up on my Samsung Edge 7

[2018-10-22 12:35] redwolf2 commented on #922
Got some problem with the build using the latest Unity Version 2018.3.13. IJava.Lang.ArrayOutOfBoundsException.

[2018-10-22 19:10] redwolf2 opened #926 "Sign the APK"
### Description of Problem or Question
Between Version 2.0.1 and 2.1 the APK couldn't be updated without a manual deinstallation of the APK. The reason is, that the 2.0.1 release was build on the machine of @NPBruce and the 2.1.0 release on the machine of @BenRQ. In order to avoid having to uninstall the APK to update, we have to sign it and ship the keyfile with the project, so that every builder

[2018-10-22 19:13] redwolf2 commented on #922
With the "Internal" build, instead of Gradle, it works just fine.

[2018-10-22 20:34] BenRQ opened #927 "Rename the scenarios EditorScenarioX"
Hello @Agerno @drinkinguranus @scrubbless

The rating system is only trigger for scenarios with a name different from the standard editor name: "EditorScenarioX".

It's important to not use those names, because it helps identify the rating for each scenarios in the document gathering all ratings and feedback (BTW any scenario author can have access to this file, please ask if you want access!).

S

[2018-10-23 01:49] redwolf2 commented on #922
Made the fix: https://github.com/NPBruce/valkyrie/pull/928

[2018-10-23 11:43] NicolaZee commented on #817
There is no easy way to do dynamic choices with more than 3 choices without a code change.
To code dynamic choices it is currently necessary to code separate events for each separate combination of choices.
So if there are 3 choices there needs to be
Choice 3, Choice 2, Choice 1
Choice 3, Choice 1
Choice 3, Choice 2
Choice 2, Choice 1
etc.

In the example screenshot, there are 4 choices.  Coding e

[2018-10-23 14:02] NicolaZee commented on #817
@scrubbless has a good description of how to implement dynamic choices in his very well put together guide in the section: Person Token with Several questions.
There are 7 events to cope with 3 choices which works out as 3!+1
With 4 events, the events would be 4*3*2*1 + 1 = 25
With 5 events, the events would be 5*4*3*2*1 + 1 = 121
etc

https://docs.google.com/document/d/1Gi5gTwKkw84Px0Lvk-bJ3Aml_v

[2018-10-24 02:34] GwanGwanish opened #929 "Valkyrie crash when editing scenario. MoM"
### So I mistakenly deleted the local version of my scenario "Delve too Deep." I pulled the scenario folder back off my locally saved Github repository, moved it back into the %appdata MOM folder. The scenario shows up in Valkyrie. It seems to play fine. However, when I try to edit it, it instantly crashes.

### Bit of a bummer, as I was in the middle of adding a third alternate story. Managed to

[2018-10-24 07:01] BenRQ commented on #929
Can you please try with version 2.1.2?

If it does not fix your problem, please share your scenario in this ticket and I will have a look.

[2018-10-24 22:34] redwolf2 opened #930 "[Linux] Valkyrie -import fix : to be tested"
### Description of Problem or Question

### Valkyrie Version
2.1.2

[2018-10-25 18:29] zcaalock commented on #929
i want to translate Stress and Strain scenario and it crush when i want to open it with editor. Editor is crushing in any downloaded scenario

[2018-10-25 21:01] redwolf2 opened #932 "Scenario Editor: Copy allows to copy downloaded scenarios"
### Description of Problem or Question
The Copy button of the Scenario Editor allows to copy any downloaded scenario, if you copy your own scenario via the button once and hit Copy again.

### Valkyrie Version
2.1.2

[2018-10-26 09:31] mk1lolo opened #933 "Qitem random"
### Description of Problem or Question

how can i do items random? the items are repeats in the app. How is the variable configured?
### Valkyrie Version 2.1.2

[2018-10-26 11:54] zcaalock commented on #933
describe problem and what you want to archive and the context.

in the traits section of item window you can set for example "weapon" and game will pick random weapon

[2018-10-26 11:58] antontimmermans opened #934 "Test variable: add OR condition"
### Description of Problem or Question
Following request is an enhancement request for creating scenarios in Valkyrie.

For my new scenario I am thinking about one story with different board layouts (selected random at start) and a random selected correct outcome. To complicated for me to just start building in Valkyrie, so I actually started designing it first on paper before I put it in Valkyrie

[2018-10-26 12:18] redwolf2 commented on #934
We could have to option to use [lua](https://en.wikipedia.org/wiki/Lua) to script conditions, that way me have two paths for conditions, the current system and a more advanced, complex one, that allows for even more crazy conditions.

[2018-10-26 18:18] BenRQ commented on #926
@redwolf2 merge is done, can I close this issue or do you still want to improve it ?

[2018-10-26 18:19] BenRQ commented on #922
Now merged, closing.

[2018-10-26 18:19] #922 closed

[2018-10-26 18:34] redwolf2 commented on #926
We can close it.

[2018-10-26 18:34] #926 closed

[2018-10-26 18:37] redwolf2 commented on #929
Just to document it here, we fixed @zcaalock problem by extracting the .valkyrie file manually using a zip extractor and found this issue along the way: https://github.com/NPBruce/valkyrie/issues/932

[2018-10-26 20:33] redwolf2 opened #935 "Polski characters like ą can't be typed"
### Description of Problem or Question
Characters like ą can't be typed by using the binary release of Valkyrie 2.1.2. It works with the development branch 2.2. With Unity version 2018.3.13, so I think this is a unity regression, which can be solved using a later version @zcaalock also confirmed the fix.

### Valkyrie Version
2.1.2

[2018-10-26 20:54] BenRQ commented on #935
Issue is related to Unity 2.10 version.
Fix is available in 2.12.
See here :
https://issuetracker.unity3d.com/issues/korean-ime-certain-combinations-of-korean-letters-get-deleted-from-the-inputfield-upon-typing?_ga=2.237819077.411153477.1540585948-585765968.1531335322

This will require a new build

[2018-10-26 20:57] BenRQ commented on #929
The problem was related to the "copy" of local packaged scenario.
Now fixed.

@GwanGwanish  your problem may be similar if you tried to "copy" your scenario in Valkyrie before editing.

[2018-10-26 21:10] BenRQ commented on #932
With fix in #929 we now support copying existing scenario for edition.
I guess we can close this one then, as we now support the copy of downloaded scenarios.

What do you think ?

[2018-10-26 22:21] redwolf2 commented on #932
Ok, we can close it as it is a dublicate. I found another issue that might be related and will create a seperate one for it.

[2018-10-26 22:21] #932 closed

[2018-10-26 22:27] redwolf2 opened #936 "Copied scenarios causes a crash"
### Description of Problem or Question
Copied scenarios might cause a crash. Here is one of those.
[EditorScenario3.zip](https://github.com/NPBruce/valkyrie/files/2521193/EditorScenario3.zip)

The copy only seem to contain the some of the inis, txts, and scenario images

![grafik](https://user-images.githubusercontent.com/4141621/47596276-79ac1a80-d985-11e8-8821-210aad433b31.png)

### Valkyrie Ver

[2018-10-27 07:59] mk1lolo commented on #933
The one only way to the app no repeat item is...

List = 0

$restock = 1

Now i am not in my computer. Then i confirm...

[2018-10-27 08:09] BenRQ commented on #936
Looks similar to issue #932 : the scenario is copied with only the partial data coming from temp directory.

Have you tried to reproduce since I did the patch on #932 ?
I made sure that the scenario copied are first fully extracted.

[2018-10-27 11:48] Samurai83ITA commented on #924
Ok, i renamed all scenarios now... sorry for late...
I add you like collaborators too

[2018-10-27 17:30] DelphiDie commented on #934
Not to disregard your idea @redwolf2 , but I think it would be better to somehow get the "OR" checks done in the simple system, instead of creating essentially a second syntax for more complex checks.

[2018-10-27 19:31] redwolf2 commented on #936
I checked out the latest development 2.2 branch and the problem is not reproducable there. Sorry for the stir up.

[2018-10-27 19:31] #936 closed

[2018-10-27 19:34] redwolf2 commented on #934
You are right.

[2018-10-27 20:53] newusergettingnuts opened #937 "New user. Trouble with many things"
### Description of Problem or Question:

Problem N°1: When copying a scenario to use it with scenario editor all attempts crashes.

Problem N°2 Cant seem to find how to avoid getting a loop with first round mythos phase and starting all from beggingn upon returning to investigator phase.

Problem N°3 Cant find a way

### Valkyrie Version
2.1.2

[2018-10-27 21:01] DelphiDie commented on #934
I don't think I'm necessarily right (or that you are wrong), it's just my opinion.

But since you are one of the programmers and have a lot more knowledge about the inner workings of Valkyrie I think you are much more qualified to form an opinion than me. So I don't want to discourage you to think of new way to improve Valkyrie.

[2018-10-27 21:11] BenRQ commented on #937
Hi

it's a known issue ( #936 ), will be fixed in next release

The tutorial from @scrubbless is a good start for scenario creation.
You should have a look at it :
https://docs.google.com/document/d/1Gi5gTwKkw84Px0Lvk-bJ3Aml_vF3ZoljjB6a8FjWGt8

Please pick a madness card now ^^
![image](https://user-images.githubusercontent.com/40794717/47609378-88560880-da3d-11e8-83d5-f069ef918f77.png)

[2018-10-27 22:44] newusergettingnuts commented on #937
:) great, many thanks

So problem n° 1 solved (get a clue token)
Problem N° 2 i guess i solved it too..the structure so far goes like....QUEST....EVENT TO SHOW UI PROLOG (IMAGE, TEXT AND CONTINUE BUTTOM THAT LINKS TO FIRST TILE, TOKENS, etc.

Already placed also first mythos...structure goes like this...rename Mitos round 1....insert dialog (will test 2 or suffer 1 horror facedown)....trigger mhyt

[2018-10-27 23:04] BenRQ commented on #656
I pushed my dev for this issue in branch dev_2.2.
The red button saying to install MoM/D2E is now also a button to select a directory manually.

This is only available for Windows, Mac, Linux as the file browser https://github.com/gkngkc/UnityStandaloneFileBrowser is not available for Android.

Tested on windows: it works fine for me.

I think we need to do some tests before closing this one.
I wo

[2018-10-27 23:51] newusergettingnuts commented on #937
well i cant seem to get it done..i am sharing an image of both mythos events so if anyone knows how to make them appear ordered will help a lot

<a href="https://ibb.co/kwyqLq"><img src="https://preview.ibb.co/mTYPfq/Mythos.png" alt="Mythos" border="0"></a>

[2018-10-28 12:31] redwolf2 commented on #934
No, you are right, it is better to flesh out the simple conditions first before adding something like scripting. I sometimes tend towards looking at a bigger, golden hammer instead of focussing what is the more simple route.

[2018-10-28 23:41] scrubbless commented on #937
I'll give this a better read tomorrow and respond.

For you insight, 'mythos' trigged events will always run. I think it's random in which order they are picked.

Personally I use one event and put the mythos trigger on it. The event is left empty and then chain i events from it, using a 'test' on each event to indocate if it is 'on' or 'off'.

This way you know your triggered mythos event will al

[2018-10-28 23:51] scrubbless commented on #924
Thank you @samurai83ita.

I don't see the changes, did you commit the changes and push them to your online repo?

[2018-10-28 23:52] scrubbless commented on #921
Hey @BenRQ  not sure if you saw this one.

[2018-10-28 23:54] BenRQ commented on #921
Yes, I'm actually working on it. It's a good start for me to try to do some changes in the editor.

I wanted to do it quickly, but it's a bit more complex than I thought .....
I'm still working on it.

[2018-10-29 00:03] newusergettingnuts commented on #937
Many thanks benrq and scrubbles! Get a clue token each! {action} Can close the issue if you have the key item :)

![image](https://user-images.githubusercontent.com/44534194/47623859-d417b900-daf4-11e8-875c-226469d9d696.png)

Problem N°1: Solved exporte de zip file and manually located it in the MOM editor file

Problem N°2 Solved, finally used one event for each mythos phase.-

trigger: Mythos
Bu

[2018-10-29 00:07] BenRQ commented on #937
Happy to help  👍

Join us on Discord if you want to chat :)
https://discord.gg/yrVeSVt

[2018-10-29 00:07] #937 closed

[2018-10-29 00:18] BenRQ commented on #924
@scrubbless I see the changes in the repo of @Samurai83ITA :
See the commit :
https://github.com/Samurai83ITA/Scenari-Valkyrie/commit/efe74d50d53e3777569c4208fa9e860df95cc8e5

[2018-10-29 01:28] redwolf2 commented on #656
I fear not. We can test on a VM machine though.

[2018-10-29 08:36] Samurai83ITA commented on #924
@scrubbless Yes I did it

[2018-10-29 10:57] scrubbless commented on #937
Yeh, always happy to help :)

[2018-10-29 11:01] scrubbless commented on #924
For example, I need to take this path:
https://raw.githubusercontent.com/Samurai83ITA/Scenari-Valkyrie/master/Il%20Manufatto%20Conteso%20-%20Competitivo/Il%20Manufatto%20Conteso%20-%20Competitivo.ini

And Import it in. The Manifest will not allow any path with **%20** in it.

![image](https://user-images.githubusercontent.com/32058089/47645802-eda71800-db69-11e8-91b4-4b97a6993ff2.png)

[2018-10-29 11:05] scrubbless commented on #921
No worries @BenRQ I wasn't sure if you missed it (or assumed I was trying to fix it) when I added the enhancement label.

[2018-10-29 11:13] scrubbless commented on #869
I've not heard anything about this translation.

@nzocrato did you start/are you working on this?

[2018-10-29 12:12] Samurai83ITA commented on #924
renamed all :)

[2018-10-29 15:12] EtiCarasoft commented on #848
Hi I've been quite busy on work, This night i'll pass here the package to uploaded  I think it will be the fastest way to get it to work properly.

[2018-10-29 21:49] EtiCarasoft commented on #848
[escenario package.zip](https://github.com/NPBruce/valkyrie/files/2527200/escenario.package.zip)
[Escenario full info.zip](https://github.com/NPBruce/valkyrie/files/2527201/Escenario.full.info.zip)

@BenRQ I upload here the package and the full folder with all the scenario information just in case you need it to solve any problem with it.

Thks for the patience.

[2018-10-30 18:14] scrubbless commented on #924
Thanks @Samurai83ita

They have all been added to the manifest. You should see them in the download section of Valkyrie.

[2018-10-30 18:14] #924 closed

[2018-10-30 18:39] redwolf2 opened #938 "Download quest optimizations"
Our download process is using a master file that links to all scenario meta files. This requires for all meta files to be requested in a HTTP call for every scenario in order to show all available scenarios in a list. This is a slow process that will get even slower, when more scenarios are involved.

Instead of requesting each meta file, we could generate one masterfile or one zip archive with al

[2018-10-30 20:07] Samurai83ITA commented on #924
Ok thanks

[2018-10-30 20:13] NPBruce commented on #938
FYI Valkyrie itself already supports this.

Also worth considering how large the thumbnail images are.

The files to download could be done all at the same time and the images could be displayed when they are ready.

[2018-10-30 22:01] redwolf2 commented on #938
Ok, I will have a look at the download mechanism. Images could be a lazy loaded, when the requests returns, much like the browser does it.

[2018-10-30 23:10] newusergettingnuts opened #939 "Looking for spanish betatesters for scenario."
### Description of Problem or Question
Greetings everyone, i have finished my first scenario, betatested it a few times but prior to uploading it i would be pleased to share it with some spanish betatesters to get opinions and advice.

If anyone is interested contact me so i can share the scenario.

many thanks!
cheers

### Valkyrie Version
2.1.2

[2018-10-31 11:31] EtiCarasoft commented on #939
Me apunto ;)

I put on the list

[2018-10-31 11:34] EtiCarasoft commented on #848
@NPBruce or @BenRQ I don't have the desktop application and the scenario was created before some major changes. How do we can upload all this new files?
Maybe the best way is to delete the old one and upload it again.

[2018-10-31 13:58] newusergettingnuts commented on #939
genial eti ahí vi que sos de barcelona, yo soy de argentina, el escenario esta completo y hemos testeado los tiempos y resultado con un par de partidas pero antes de subirlo me gustaría recibir feedback respecto de lo siguiente:

Turnos empleados para el escenario:
Tiempo empleado de juego: En horas y minutos
Resultado de la partida: Ganaron perdieron?
Opinión general (disfrutaron...no disfrutaron

[2018-11-02 07:51] scrubbless commented on #869
Hi @andrex47 I think it's safe to work on the translation, since we've heard nothing from @nzcrato in over 3 months

[2018-11-02 16:45] newusergettingnuts opened #940 "Tokens that appear only if "X" or more investigators are playing"
### Description of Problem or Question:

Question and Idea

First idea:

Just sharing this idea that maybe everyone already use.-

In this way it is possible to increase somehow the difficulty of the scenario without touching the mythos.

I am thinking on adding custom tokens for the scenario and so far for what i tested i works well.

The idea is to have several tokens or events spread acrros the

[2018-11-02 16:58] newusergettingnuts commented on #609
Was thinking the same. With a test #heroes >=< than "x" we can increase or decrease the qtty of starting to better handle the scenarios variable difficulty.

Awesome to have it in radar for 2.2 release.

Great work!!

[2018-11-02 20:40] mk1lolo opened #941 "Install sceneario manually"
### Description of Problem or Question

I did a scenario. I send by email to my friend. Where do he have to put the files? What directory?
### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyrie/MoM/Editor

[2018-11-02 20:58] newusergettingnuts commented on #941
Run a search in your pc seeking

Valkyrie\MoM\Editor\scenario1

[2018-11-03 07:36] Samurai83ITA commented on #924
Per me non ci sono problemi nella traduzione. Purtroppo non ho molta dimestichezza con l'inglese da tradurlo perfettamente.
L'ordine che preferirei sarebbe:
Il Rapimento
La Follia di Arkham
La Maledizione di Cthulhu
Il Manufatto Conteso

Grazie

[2018-11-03 13:22] newusergettingnuts opened #942 "Enhancement: Wonderign if a round track for actual gameplay is possible?"
### Description of Problem or Question

I was wondering if it would be possible to add a round tracker always visible during game play?

I guess that kind of track is very usable for scenario creators and possibly to something else.

### Valkyrie Version
2.1.2

[2018-11-03 13:28] scrubbless commented on #941
Windows:
%apodata%\Valkyrie\MoM\Editor\

Android:
Sdcard/Valkyrie/MoM/Editor

Drop it there, you can use folders under this directory.

[2018-11-03 13:34] scrubbless commented on #940
Hi @newusergettingnuts

I do this in in Stress and Strain and A Strain on reality, feel free to copy and have a look at them in the editor.

You can also use tests to add option nap content for expansions in the same way.

Test
#SoA = 1

[2018-11-04 22:38] BenRQ commented on #941
@mk1lolo Did you get your answer ? Can I close this ticket ?

[2018-11-04 22:40] BenRQ commented on #940
Hi @newusergettingnuts, closing this issue.

It can still be accessed by all people looking for it :)

[2018-11-04 22:40] #940 closed

[2018-11-04 22:48] BenRQ commented on #848
Hi @EtiCarasoft

thanks for sharing the files.
We can take it from here but if you could just create a repo, and share access with us it would be perfect.
Look here on how to do it: #924
That way, you can modify your scenario in the future if required.

[2018-11-04 23:41] GwanGwanish commented on #929
Will give it a whirl when I can. Y'all doing amazing work with Valkyrie.

On Sun, Nov 4, 2018, 6:22 PM BenRQ <notifications@github.com wrote:

[2018-11-05 10:11] EtiCarasoft commented on #848
I've done a repo with the tutorial:

https://github.com/EtiCarasoft/22.30-Birds-Shop

[2018-11-05 12:42] mk1lolo commented on #941
Yes! Close. All ok

[2018-11-05 13:05] kozka commented on #934
Hello
from my humble opinion and seeing the possibilities of lula, for me and I guess for many who know how to program in general.
Trying to fill all the gaps with the "simple" interface seems to me more complicated for the developers, than to adapt in some way the way of adding it to the script.
In addition and imagining the possibilities, I imagine creating standard functions, which you can call

[2018-11-05 17:41] #941 closed

[2018-11-05 18:33] andrex47 commented on #869
i was just offering some help to get it done faster, if  i will begin from scratch with another translation i would rather select a scenario that doesn't require the tile collections, those are not reprinted here in Brazil since 2016 i guess

[2018-11-05 19:37] antontimmermans commented on #934
Standard functions would be nice, I now make 'standard Quest Events' which are always  called but use variables to influence their behavior.

Example:  EventQMoveOneSpace is always called and will display text "you may move one space into the revealed area" Only if the variable MoveOneSpaceAllowed is set to 1 (and it will set that variable back to 0)
[code]

There would be more 'programming featur

[2018-11-05 19:51] zcaalock opened #943 "add previous/next button on events,quest etc."
I have request for adding button that makes possible to go to the next item on the list.

![next](https://user-images.githubusercontent.com/24411061/48022829-76aaea00-e13c-11e8-85ad-2c59b836d16f.png)

[2018-11-06 08:13] Arioch82 commented on #924
I have just finished a transltion for "The Kidnapping" (Il rapimento), it was my first translation it was fun :)

I have to go through and playtest it to make sure i didn't break anything and i also need to translate all tiles names with the proper english names.... it sucks that that part is not automated with some references :(

What's the best way to have a native english speaker proof read it/

[2018-11-06 12:55] redwolf2 opened #944 "English translation for "The Kidnapping""
_Originally posted by @Arioch82 in https://github.com/NPBruce/valkyrie/issues/924#issuecomment-436166121_

[2018-11-06 12:58] redwolf2 commented on #924
@Arioch82 I moved your post here: https://github.com/NPBruce/valkyrie/issues/944

[2018-11-06 13:00] redwolf2 commented on #944
@rafbel Helped me out once, proofreading my rough translation (here https://github.com/NPBruce/valkyrie/issues/562). But maybe someone else is also willing to help.

[2018-11-06 16:37] redwolf2 commented on #943
The arrows are fine. Instead of IDs there could be an option to move items up and down in the list.

[2018-11-06 16:49] zcaalock commented on #943
i agree IDs are not that nesesery.
But implementing button for opening next item on the list shouldn`t be hard. I guess only EditorComponent.cs need to be modified

[2018-11-06 17:56] BenRQ commented on #944
Originally posted by @Arioch82 in #924 (comment)

@arioch82, it is automated !
You can use {c:TileAttic} for example in the text (in the editor) to replace automatically with the translated name.

[2018-11-06 18:00] BenRQ commented on #943
Hi @zcaalock, it's a good idea for improvement.

If you have some knowledge on coding, feel free to fork the development_2.2 branch, and propose a patch on this (with a pull request).
Any help is much appreciated !

We have already a big todo list for version 2.2, and we do this in our free time  :)

[2018-11-06 18:35] zcaalock commented on #943
unfortunately i don`t know how to do it :(

maybe someone will do it when You add this feature to todo list :D

[2018-11-06 21:34] BenRQ commented on #921
Done, will be available in release 2.2.

I lost quite a few points of sanity on this, thanks @redwolf2 for the help.

[2018-11-06 21:34] #921 closed

[2018-11-06 22:01] redwolf2 commented on #944
As I did the german installation, I also did replace the tile names as @BenRQ suggested in the english installation. You can also use {qst:eventNameHere} to reference the text of other events. That helps to remove doubled text. I did that first in the english orginal, before the translation. That way you only need to translate the actual text and all the {qst:eventNameHere} references can stay in

[2018-11-06 22:12] BenRQ commented on #942
Hi @newusergettingnuts ,
the UI needs to be as small as possible in my opinion.
The more we add 'technical' info, the more it breaks the narrative and immersion.

I'm interested in other opinion though.

[2018-11-06 22:31] BenRQ commented on #848
Thanks @EtiCarasoft we are almost ready to publish the update of your scenario with translation.

Can you please share the repo access with me and @scrubbless  so we can do a bit of renaming for the directory ? We should not use the name "EditorEscenario" as it can conflict with other scenarios.

Access rights can be shared from the settings, collaborators, add collaborator :

![image](https://use

[2018-11-06 22:34] BenRQ commented on #825
Hi @zcaalock, did you find any testers ?
You can also do a first translation in english and ask for help from a native speaker.
You may find more testers that way.

Please tell me if we can close this issue depending on what you prefer.

[2018-11-06 23:08] BenRQ commented on #709
Hi @NicolaZee, I found one small missing text in the French translation

EventFinaleNoFire.text,Vous placez le {c:QItemCultSigil} sur la pierre.\n\nUn grondement provient de la pierre.\nElle devient plus chaude au toucher.\nIl manque quelque chose pour commencer le vrai Rituel de Beltaine.\nVous essayez désespéramment de vous souvenir ce que vous avez appris sur le rituel de Beltaine.\n **Test {lo

[2018-11-06 23:09] BenRQ commented on #709
Also please find here the translated doc in French :
[InTheDarkClueCribSheet_FR.docx](https://github.com/NPBruce/valkyrie/files/2555383/InTheDarkClueCribSheet_FR.docx)

[2018-11-07 01:13] Arioch82 commented on #944
Hey guys,

here is the first pass on the translation, i will try to play it tonight or sometime this week and do a second pass but i thought i could attach it here as a reference in case someone else wants to give it a go as well; it would be great to get a native english give some comments on how to translate better some sentences.

I have also had to add a new item to the items.ini so that i did

[2018-11-07 07:42] Arioch82 commented on #944
Alright, i have playtested it tonight and fixed it as much as i could, you can find the final file attached to this message (you will still need the new items.ini from the previous message bundled together).

I would like to point out one thing in this scenario tho: there is a "puzzle" with two images
"vintage-journal-background-4 - Copia.jpg" and "Old_paper1 - Copia.jpg" where the second image ha

[2018-11-07 11:34] zcaalock commented on #825
you can close this

[2018-11-07 12:50] antontimmermans commented on #934
It could be a similar interface as adding buttons. but then instead of adding buttons with possibly multiple events connected, you add OR conditions with multiple AND test conditions.
- the + on the top right of that interface part adds a test (OR condition).
- a + in front of the tested variable ads a line for an additional test (AND condition)

I tried to draw it in paint: This piece should test

[2018-11-07 13:06] Samurai83ITA commented on #944
Ho visto la traduzione, gran bel lavoro, complimenti. L’immagine di cui parli permette di scoprire una frase che ti serve se dovessi venire catturato. E’ una frase da scegliere tra quelle che ti vengono chieste in un dialogo, quindi potrebbe essere utile tradurlo...

Ho fatto un nuovo file immagine con la frase in inglese. (Non avevo pensato a questa cosa per la traduzione 🤣)

La prima edizione l’

[2018-11-07 16:30] Arioch82 commented on #944
Another thing, the TileSideInteriorHall also contains two more rooms, "Small Bedroom 1" and "Small Bedroom 2", but referring to the {c:ComponentName} always translates "Interior Hall"; in this scenario the important room is "Small Bedroom 1", is it possible to change what is it pointing to? I had to manually say something like "the lower bedroom in {c:Tilexxx}" instead of being able to target the

[2018-11-07 16:32] Arioch82 commented on #944
@Samurai83ITA forse il problema e' che hai MoM1EI, MoM1EM, MoM1ET nella lista?

[2018-11-07 16:37] Samurai83ITA commented on #944
Quello lo devo mettere comunque sennò chi ha la prima edizione solamente (che alla fine vale come incubi ricorrenti) non lo potrebbe giocare

[2018-11-07 16:45] Arioch82 commented on #944
penso che il problema e' che la prima edizione ha anche oggetti/armi/magie che RN non ha

[2018-11-07 19:08] kozka commented on #934
another simpler way would be to add the following
(or ==)
(or>)
(or> =)
(or <=)
(or <>)
to the list of signs that already exist

if (a == 1 and b == 1 or c == 1 and d == 1)
![t1](https://user-images.githubusercontent.com/15109883/48154422-e5b54980-e2c8-11e8-97c4-9422402d09a5.png)

[2018-11-07 19:43] Samurai83ITA commented on #944
Non credo sia quello il problema... anche perché incubi ricorrenti sono solo miniature e tessere. Le carte della prima edizione sono incluse nella seconda... non è che nelle impostazioni del contenuto hai selezionato qualche espansione di troppo?

[2018-11-07 19:51] Arioch82 commented on #944
non penso, sei sicuro che tutte le carte della prima edizione sono incluse nella seconda?

[2018-11-07 19:59] Samurai83ITA commented on #944
Credo di sì, le espansioni “incubi ricorrenti” e “visioni dell’oblio” non hanno neanche una carta, ed essendo espansioni della prima edizione va da se che tutte le carte della prima edizione devono per forza essere incluse nella seconda. Discorso diverso è “oltre la soglia”, l’altra espansione che serve per lo scenario, che ha nuove carte oltre a mostri e tessere...

[2018-11-07 22:22] #825 closed

[2018-11-07 23:06] redwolf2 commented on #934
"or ==" and "and ==" look strange to me.

![valkyrie_draft](https://user-images.githubusercontent.com/4141621/48166847-28d3e480-e2ea-11e8-8d1d-d8cb19e58b5d.png)

[2018-11-07 23:14] kozka commented on #934
it is true XDD

your idea is clearer but also something bigger.

now it comes to my mind also if a place to see in the form of a tree would be possible
all these interactions between events. Open another post.

[2018-11-07 23:29] redwolf2 commented on #934
Yes, the parenthesis could be shown like a tree.

[code]
But this would pose a problem when it gets too deep. Then will have the need to scroll horizontally.

If we someday have the need to handle such complex querys, we could always add scripting.

[2018-11-07 23:35] kozka commented on #934
if that would be fine what you say. I also think it's better to add scripts.

but I was referring to a site to see all. all the events and chains of events that you have created. and the relationships between them. and in addition to see it being able to edit it or perhaps select it. but I think this is another question / idea

[2018-11-07 23:47] redwolf2 commented on #934
We already had a request on discord by zcaalock for a node based approach for events, which would be really nice, but also pose too much work to implement. Something like: https://sharpaccent.com/?c=lesson&cid=27&id=265

[2018-11-07 23:53] redwolf2 commented on #934
Another simple improvement for variable conditions would be just to move it up to the trigger event, because the "test" works the same as the "trigger" and is something that triggers the event.

[2018-11-08 17:07] redwolf2 commented on #934
Or both condition-handling methods have to be supported: the new "conditionally trigger event" AND the old "execute event only if condition is met". Both keeping support for both would be very complicated to support and might result in messy (read buggy) scenarios.
so.. with Valkyrie being what it is now I would not vote for this.

@antontimmermans No this is just a change in the GUI and won't aff

[2018-11-09 07:57] BenRQ commented on #934
I like your proposal for presentation Redwolf.
I will probably make two '+' button: one to add a test and one to add ( )

It will ensure that we always have both parentheses and test is always valid.

[2018-11-09 12:17] scrubbless commented on #942
Stick it on the options menu?

However you can always get the developer log in game by pressing Alt + D (or was Ctrl + D, I always forget!)

[2018-11-09 22:15] scrubbless commented on #848
https://raw.githubusercontent.com/EtiCarasoft/**22.30**-Birds-Shop/master/

This doesn't link in the Valkyrie manifest. I suspect the . is causing issues.

 @EtiCarasoft  or @BenRQ any chance one of you can remove that . ?

[2018-11-09 22:26] FASTNAVi opened #945 "Enhancement: Insert an Event between 2 others (MoM)"
Hi guys,

I have an idea for Enhancement - I am doing scenarios for MoM. But I have no idea how difficult will be to program this. I will try to explain my idea:

I have an event 1. From this tree of events continue to event 2. I will welcome a button, which will insert an event between event 1 and 2. That mean, after using this button, I will have immediatly new tree of events like this:

Before:

[2018-11-10 02:30] kozka opened #946 "as punctual and leave comments on the scenarios??"
### Description of Problem or Question
as punctual and leave comments on the scenarios??

we played a couple of games but we died, :(,
Can you just rate and comment if you finish it?

### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyrie/MoM/Editor

[2018-11-10 18:08] scrubbless commented on #945
While it would be helpful, I can't see how this is possible to program.

Also the sort functions should make I easier to search for events. You just need to be consistent with your naming.

[2018-11-10 18:29] scrubbless commented on #848
Ok that looks good. Looks like I've missed some translated events, I may have translated an older version. I'll take a look when I get the chance and update the translation.

[2018-11-10 21:53] vendettarock commented on #939
yo me puedo apuntar tb

[2018-11-11 15:54] newusergettingnuts opened #947 "New Scenario En algún lugar de Massachusetts (v1.0/Base + RN/Español/3 Investigadores) Parte 1"
### Description of Problem or Question

Repositorie

https://github.com/newusergettingnuts/Massachusetts

### Valkyrie Version
2.1.2

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyrie/MoM/Editor

[2018-11-11 20:09] newusergettingnuts commented on #947
https://github.com/newusergettingnuts/Massachusetts

[2018-11-11 22:35] kozka commented on #946
AS I HAVE PLAYED EXOTIC MATERIAL AND THE PAJARERIA

MMM BUT SINCE MENU POINTS ??
THANK YOU

[2018-11-11 23:53] BenRQ commented on #946
It's not possible to just leave comments without playing the scenario first.
But there are a lot of other scenarios to play, rate and comments :)

I hope I've answered your question :)

[2018-11-12 00:49] vendettarock opened #948 "Triggering events after a Hero Turn"
Hi im a new user of this amazing tool. Thank you for this great job.

Im triying my firs scenario and i have a little question.

Is it possible to trigger an event after a hero activation? Just after the hero push "end turn"?

[2018-11-12 01:03] newusergettingnuts commented on #948
I guess Trigger: mythos is what you need

[2018-11-12 01:07] vendettarock commented on #948
"End Round" is after all Heroes activations. im looking for an option to trigger an event just before the first or second Hero activation.

[2018-11-12 01:18] newusergettingnuts commented on #948
Ahhh ok no che que yo sepa no hay. Cuando apretas el boton de end round se entiende que todos los investigadores ya han actuado.

[2018-11-12 08:42] kozka commented on #946
then I understand that you can only qualify once you finish the game victorious ?, because they have killed us both, I have given the player eliminated but nothing has happened,
ok thanks

[2018-11-12 08:47] scrubbless commented on #947
Added, thanks for the quick response.

[2018-11-12 14:18] vendettarock commented on #948
Manualmente sí se me ocurren varias formas. Como poner un token con un testigo de dialogo e instrucciones a realizar. Pero quería algo más limpio.

El problema en Descent es que no hay botón para finalizar la ronda, sino que cada héroe marca el final de su activación y cuando están todos activados acaba automáticamente.

Es una pena que no exista un trigger para el momento justo despues de una act

[2018-11-12 14:44] newusergettingnuts commented on #948
si es para descent no estoy seguro, yo uso la app exclusivamente para MOM2, pero si en el desplegable de triggers no hay nada lo veo dificil.

[2018-11-12 16:13] #947 closed

[2018-11-12 16:18] scrubbless commented on #946
I believe that scenario does not 'End gracefully' so does not trigger the end of game review.
It was created by @NPBruce so if you would like to leave comments, you could post them in this thread.

[2018-11-12 23:01] #855 closed

[2018-11-12 23:08] BenRQ commented on #848
I also have a small update on French translation, with this latest version :
[Localization.French.txt](https://github.com/NPBruce/valkyrie/files/2573982/Localization.French.txt)

@scrubbless, can you take it with your update of translations ?

Also @scrubbless , maybe you should delete the old scenario from the Manifest.ini : [2230hAtTheBirdsPetShop]
external=https://raw.githubusercontent.com/NPBr

[2018-11-12 23:47] BenRQ commented on #946
ExoticMaterial has a valid trigger for the end.
I guess it did not work for you @kozka  because the "Investigator eliminated" does nothing so far.

I agree this is something you should support for end game / rating.

[2018-11-12 23:54] BenRQ commented on #948
Hi @vendettarock,

@delphidie is the Descent specialist maybe he can tell if you if this is supported.
(I don't think so though).

[2018-11-13 11:05] scrubbless commented on #946
Investigator eliminated, sets a countdown and triggers the evebt with the "Eliminated" trigger at the end of the next turn. It works for exotic materials, not sure what scenario pajaria is.

[2018-11-13 12:59] kozka commented on #946
in the pajareria at 22:00: -->>   2230h At The Birds PetShop

[2018-11-13 20:44] BenRQ commented on #946
I didn't know about this 'eliminated' trigger/
Maybe we should implement a default behaviour that triggers one turn after, and end the quest if an investigator is eliminated.

[2018-11-13 21:35] newusergettingnuts commented on #946
Ben sorry my english not good, as i know when you click the investigator eliminated as the rules say the investigators have one more round to win the game or they as a group all loose. The trigger eliminated is an event to allow adding UI or ending text. Take a look at En algun lugar de massachusetts i have prepared a trigger so once they click the eliminated one ending shows UI and text one round

[2018-11-14 01:09] newusergettingnuts commented on #947
Hi scrubbles i made some minor changes to the scenario because the ending review was not functioning.

https://github.com/newusergettingnuts/Massachusetts

[2018-11-14 19:03] newusergettingnuts opened #949 "Minor modification to New Scenario En algún lugar de Massachusetts (v1.0/Base + RN/Español/3 Investigadores) Parte 1"
### Description of Problem or Question

https://github.com/newusergettingnuts/Massachusetts

Hi i made some minor changes to the scenario because the ending review was not functioning.

But i cant see it taking effect .theres something i may be doing wrong or every update i do you have to add the link again?

### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Sa

[2018-11-14 19:14] BenRQ commented on #949
Update of you file was done 16 hours ago, so it should be fine.

Please note you need to update your scenario in Valkyrie, but going in the "Download section" and pressing "update" button

[2018-11-14 19:23] newusergettingnuts commented on #949
Ben many thanks, my mystake, sorry.-

It works well now.

I have linked all the possible endings including the defeated event trigger (trigger: defeated......assign $end=1) so as to correctly measure success and failures.

This way if you succeed it triggers the review and if you loose also triggers the review.

again many thanks for the help!

:) moving forward to next scenario.

[2018-11-14 22:50] BenRQ commented on #934
Reporting some progress :

![image](https://user-images.githubusercontent.com/40794717/48517799-c9d11b00-e867-11e8-8d05-da27b22e8404.png)

Creation and manipulation of test is working.

Todo still :
 - the test itself based on this new format ^^
 - parenthesis management
 - support of old conditions system for imported data and old questions (hopefully the same work)

[2018-11-14 22:52] BenRQ commented on #934
I have also changed the "dark blue" colour of the "event link" to Cyan, it was too dark I think.
Tell me if you think it's a bad idea.

[2018-11-15 03:11] redwolf2 commented on #934
Nice work. The color change is a General gold idea. The old blue had a bad contrast. Check out https://terminal.sexy/, if you needmore colors.

[2018-11-15 07:53] antontimmermans commented on #934
Nice work indeed, I am looking forward to test it.
I agree that the new blue contrast is an improvement. And speaking of contrast, I wouldn't mind if the tile display area (not the editor panel) would be a just a tiny little brighter. Or shall I create a new request for this?

[2018-11-15 07:56] BenRQ commented on #934
A new ticket would be better, with a screen capture if possible, to be sure I understand your request.

[2018-11-15 09:34] antontimmermans commented on #942
In my opinion, displaying the round nr. feels a bit like cheating. The power of the game is in the story telling and the sense of urgency that builds up as the scenario evolves. Not knowing how in which turn you are, or how many turns it will take before the time runs out or the "big-bad thing" will happen, is part of the fun of the game (for me).
So if this gets implemented, please don't do it in

[2018-11-15 09:50] antontimmermans opened #950 "A little brighter tile(s) display area"
### Description of Problem or Question
Minor request to change the graphical editor.

Currently the editor screen looks like this (used the screen capture from work in progress on ticket 934):
![image](https://user-images.githubusercontent.com/42072372/48543880-b69f6900-e8c2-11e8-8ce5-abe523d6d8ca.png)

The tile display area (marked with the purple rectangle) is showing the tile layout darkened an

[2018-11-15 10:22] antontimmermans commented on #933
I think you encountered the same problem as I had. Random (or specific) items that players can get later during the game where already given as starting items. But the trick is hidden in they way the Item list works.
I had to read it 3-4 times and try out some things but I found out that it was actually described here:
https://docs.google.com/document/d/1Gi5gTwKkw84Px0Lvk-bJ3Aml_vF3ZoljjB6a8FjWGt8

[2018-11-15 11:38] redwolf2 commented on #950
We could add a grey/white chess pattern as a background inside the editor.

[2018-11-15 12:11] vendettarock commented on #948
Thing is, Valkyrie keeps a record of the heroes that have already been activated, both for monster activation as well as for knowing when the round ends. Wouldn't it be possible to access that variable to modify it? I feel it would be an interesting option: to implement (in case it doesn't exist) a #varActivations that gets cleared each round.

ie:
If you want trigger and event just after the seco

[2018-11-15 15:52] antontimmermans commented on #945
I agree with scrubbless. I handle the 'insert event' problem with consistent naming.
I will offer some text to the auditor of https://docs.google.com/document/d/1Gi5gTwKkw84Px0Lvk-bJ3Aml_vF3ZoljjB6a8FjWGt8/edit on how I deal with that.

Although I can imagine that with ~3000 events that even consistent naming and a sorted list can give you a headache when you scroll down to find a particular event

[2018-11-15 18:51] FASTNAVi commented on #945
Yes, at least some kind of "finder" will be helpful.

I have really consistent naming. I spent two weeks just to think about and the invent system of naming, because my scenario will be huge with a lot of variaty (and repeating events in different variations). But I find, that is sometimes better make normal chain of events and then add special events which are triggered only sometimes, in really