[2018-11-15 18:51] #945 closed

[2018-11-15 22:35] BenRQ commented on #848
French translation updated.

[2018-11-15 23:51] BenRQ commented on #934
Most of the development is done, and only the parenthesis management remains.
But I have to think this part a bit.

The rest of the feature is fully functional.
If someone is ready to test, I can share a test version here.

I don't believe in perfect code at the first delivery, so you should find some bugs :P

[2018-11-16 07:44] antontimmermans commented on #934
This weekend I should have time to test it

[2018-11-16 08:00] antontimmermans commented on #950
Do you mean as a back ground in the purple marked area?
That could helpful as a positioning grid of tiles. If it is for a positioning grid then I would opt for thin dotted/grey-ish lines that you can put as an overlay on top, and an option in the Tools menu to toggle the display of the grid on/off. And maybe even an option inside each object to snap to grid. Not that I have found a need for this (

[2018-11-16 08:15] scrubbless commented on #948
How do custom monster activations work in descent? It's a lot to work around. But could you somehow use their 'activations' event? It would mean that every monster is a custom monster, but might give you the flexibility you need.

[2018-11-16 09:15] EtiCarasoft commented on #848
can we delete the old scenario some way?

[2018-11-16 11:10] vendettarock commented on #950
Sorry for my noob question. How have you put the OR condition?

[2018-11-16 21:40] BenRQ commented on #934
Hi @antontimmermans , you will find the version here: https://we.tl/t-MBrQHXBatK

I've shared a zip so you can keep you official version and compare the behaviour if required.

[2018-11-16 22:09] scrubbless commented on #950
I'd love to see photo shop like layers, but that just sounds like a lot of work and load on Valkyrie.

[2018-11-16 23:11] meredoc commented on #816
Is there anyway to implement and range value for #rand? So that it doesn't always start from 1? I need a random number generated on event that could be from say 5-20.

[2018-11-17 00:41] redwolf2 commented on #816
Not in the latest release, but I am working on it.

![grafik](https://user-images.githubusercontent.com/4141621/48654046-eb6a0800-ea09-11e8-8a24-067a2f1dfdd3.png)

https://github.com/NPBruce/valkyrie/issues/271

[2018-11-17 12:10] antontimmermans commented on #934
Adding variable test and moving them up/down works fine and works intuitive.
Deleting a test using the red - button works for all tests except for the first and the last one:
![cannotremovefirstandlastentry](https://user-images.githubusercontent.com/42072372/48660813-53e7d200-ea68-11e8-82b0-92ba43a78ddd.jpg)

I tried to create a test in my work in progress scenario to see if the AND/OR evaluation

[2018-11-17 12:35] antontimmermans commented on #934
Tested the Editor adding up to 51 tests. Editing works fine, the UI response becomes slower on my computer when adding a new line or when toggling AND to OR above 40 test entries

[2018-11-17 17:33] BenRQ commented on #927
Done :)
You will see some players have left comments for you.
Tell me if you have any questions on the file.

[2018-11-17 17:51] FASTNAVi commented on #927
Thank you @BenRQ  for quick response. Maybe just one idea. It is possible to add a Question about number of Wounded/Insane investigators to the final form? For me it will be nice to see how "close" they were to the elimination if you know what I mean.

I really like the possibility to see used events! That is more than helpful to see for example what was the last event, so I know how and where the

[2018-11-17 18:29] BenRQ commented on #927
Yes, I can add the variables, it's a good idea.
Feel free to open a new issue so I don't forget it ^^

For the number of Wounded/Insane investigators, it's a bit more complex as I need to make a different design between Descent and Mansion of Madness.
But it could be done too.

[2018-11-17 20:47] newusergettingnuts opened #951 "Repeated scenario?"
### Description of Problem or Question

En la pajareria is listed twice? Is that right?

![image](https://user-images.githubusercontent.com/44534194/48665618-c4a2e480-ea90-11e8-8587-68613ab28ae1.png)

### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Valkyrie/D2E/Save
Quest:
%appdata%/Valkyrie/D2E/Editor
Scenario:
%appdata%/Valkyrie/MoM/Editor

[2018-11-17 21:04] newusergettingnuts commented on #951
never mind close. it was duplicated somehow but is fixed now.

[2018-11-17 21:29] scrubbless commented on #951
The scenario was an older version hosted on the Valkyrie repo. The author published it to his own repo and I added it. I forgot to remove the old one!

[2018-11-17 21:29] #951 closed

[2018-11-18 11:51] FASTNAVi opened #952 "List of variables in statistics"
Hi,

I really like the possibility to see used events in stats! I would like to see the same thing with variables at the moment of the end of scenario. That can help to see what exactly was used or which setup was used (if you are using vars for using different tiles or events..).

Thanks in advance for implementing this into Valkyrie ;-)

[2018-11-18 13:04] scrubbless commented on #952
Would it be possible to have a variable type that could be output to the editor.

Either a new car type (% as an example) which pmis purely used to be output into the reviews sheet?

For example #output.

I've been considering adding a score system to my scenarios and have it display at the end. Having it also printed to the reviews would be great for stats and reporting.

[2018-11-18 13:07] scrubbless commented on #950
Another way around this would be to have a 'visible in editor' button that hides the token or tile if set to false. That might help with multiple overlayed tiles/tokens.

[2018-11-18 13:12] BenRQ commented on #952
Why not just display all vars ? Do you see an issue with that ?
It's actually easier on code side to list all vars rather than just some of them.

[2018-11-18 13:35] BenRQ commented on #934
I will share a new version this evening, with some of the 'parenthesis'  support.
It will still be quite technical version, so you may want to test first without parenthesis.

[2018-11-18 20:12] scrubbless commented on #952
Mainly about the amount of cells it will take up in the excel. I sure don't want all of Strain on Reality bars output. There are hundreds (maybe thousands)

[2018-11-18 20:58] FASTNAVi commented on #952
I agree with BenRQ. In one cell can be a lot of variables (from the moment of the end of the game). You can copy them outside and then use search in text editor to find what you need to know. The same will be with my scenario (but I will have only less than one hundred vars).

[2018-11-18 21:38] scrubbless commented on #952
It will be a lot of pointless variables. If specific vars are required, then it's better to single them out. Could be a needle in a haystack checking a list of all vars.

[2018-11-19 00:35] BenRQ commented on #934
I'm almost done with parenthesis support, but unfortunately some blocking issues remain when deleting elements in the test.
I will share a version, as soon as it can be tested.

[2018-11-19 08:54] scrubbless commented on #942
That is a very good point, got caught up in the technicals and didn't think of how it could break game experience.

For now developers can open the log (if launched from editor) or open the log and hit alt+d to open the developer log in a normal game.

I don't think this would be a good feature to add. It will clutter the UI and ruin the emersion for some players.

[2018-11-19 08:54] #942 closed

[2018-11-19 12:46] antontimmermans commented on #934
I made a Mini Testscenario for AND/OR test
It chooses a random value (1-2) for variabes A, B and C. It displays the value of the variables (Lefft to right A, B, C) with tokens:
Value == 1 -> SearchToken
Value == 2 -> ExploreToken
Then it executes the tests and displays the test of which evalutation tested correct:
A==1 AND B==1 AND C==1
A==1 AND B==1 OR C==1
A==1 OR B==1 AND C==1
A==1 OR B==1 OR C

[2018-11-19 13:12] antontimmermans commented on #934
Small update on test scenario. It still
[ANDORTEST.zip](https://github.com/NPBruce/valkyrie/files/2595369/ANDORTEST.zip)
works as described above. at start A,B and C are give random values.
by clicknig the tokens you should be able to set them from 1 to 2. Thjis scenario fives you better control over what you want to test. The sight token no longer randomizes but just displays the test result.
But

[2018-11-19 23:08] BenRQ commented on #934
Hi @antontimmermans,
here is an update of the version, with all the latest fix discussed.
I've tested with your first scenario and it's working fine. If you check the logs, you can see the test results.

https://we.tl/t-a7jfvd9Bnm

Parenthesis are working, you can create them, move them, and they should work as expected in the tests you create.
Also if you try to delete some parts of the tests, yo

[2018-11-20 09:54] antontimmermans commented on #934
Tested with latest scenario:

When all parenthesis are placed in a correct way the evaluation of ALL tests went as expected:
like: (A=1 AND B=1) OR C=1 versus A=1 AND (B=1 OR C=1)
WELL DONE!
Bored by so much perfection, time to see if i can break it :) (life of a tester is partly being sadistic)

Gramatically wrong since the parenthesis is place before the AND and not after. But program didn't bre

[2018-11-20 20:17] redwolf2 commented on #942
For the test in editor a debug view with all the information about vars, rounds and so on would be great. Round tracker could be added via options to the normal game, but I don't see the benefit for the normal user? If there is high demand for it, we could add it to the option menu.

[2018-11-20 20:20] newusergettingnuts opened #953 "Anyone knows a way to obscure part of the tiles without using layers?"
### Description of Problem or Question

i was wondering if theres a way to obscure a tile or part of the tile to allow:

1- investigators entering removing the obscure tile with for example some kind of light?
2- Another example would be for the group investigating outside the mansion and upon entering remove the obscured part.

something like this?

![image](https://user-images.githubusercontent.

[2018-11-20 21:55] scrubbless commented on #953
Not that I know of natively.

It is possible to create your own tiles, but it's a very manual process.

[2018-11-20 23:37] newusergettingnuts commented on #953
hey thats a good idea!

i have no problem at all with manual process, i guess you mean:

a) manually  obscuring tiles and saving them.-
b) Saving/Locating them in the same reservoir where the rest of the tiles are located?
c) Then i can pick the obscured tile and with and entry event locate the normal tile?

Still i have no idea where to find or put my special tiles? Its on my reservoir or valkyre

[2018-11-21 00:11] BenRQ commented on #953
What you are describing @newusergettingnuts would not work, tiles are embedded in the app, not in the scenario.
So your scenario would try to load not existing tiles for other players.

Scrubbless is referring to UI element I guess, or something else that I don't know of.

[2018-11-21 00:16] BenRQ commented on #934
Sounds like you enjoy torturing my version :)

In the first screen capture, the '(' is before the AND operator.
How did you get that ? It should not be possible to end up in this situation.

I will try to add a security to make this impossible : parenthesis ) close first , and then open (

For the other tests, I understand everything is working nicely.
Almost done!

Do you think a delete button on

[2018-11-21 00:46] newusergettingnuts commented on #953
how about obscuring all existing tiles and having both versions (obscured and unobscured) within the app for a new Valk version??

you think it is possible? that way maybe within the index we can put another index as obscured tiles for people to pick??

I see great potential with something like that but maybe its just me and its a waste of time.

[2018-11-21 01:05] newusergettingnuts commented on #953
bahh nevermind...a thing like this will need also the physical tiles also obscured and that is impossible.

close

[2018-11-21 10:38] antontimmermans commented on #934
Haha. Yes i do, and when you google my name you will probably find the 'correct me' through my job-title.

I don't know the exact sequence I clicked but I was moving the parenthesis up and down an bit. I think somewhere in that clicking sequence I might have swapped )( too .. and back ().

Would be nice, less chance of making a mess like the biggun test. And may even solve the '(' before the AND p

[2018-11-21 12:39] kozka commented on #934
I'm glad you're moving forward,
But it would not be easier to insert a script.
for someone who does not know how to program, it's going to cost the same, learn that, put a code.
but good that if it consecena good for you. :)

[2018-11-21 15:41] BenRQ commented on #953
True !  :P
Closing

[2018-11-21 15:41] #953 closed

[2018-11-21 17:02] FASTNAVi opened #954 "Custom monster activation (not moving, only attacking)"
Quick question: Is it possible to keep original attacks BUT prevent monster to move?

I see only one solution so far.. make my own activation, where will be written that the monster is not moving and then make a copies of original attacks from localization file. I can do that but it will take some time to copy all attacks..

[2018-11-21 20:33] BenRQ commented on #934
@kozka I think it's probably easier to construct the test in the app : easy variable selection in the app, no syntax error, no keyword to know.
And/or/ ( ) are some basic mathematical notions that most people knows.

I think it's worth the effort, and it should help non developer to make more complex scenario.

[2018-11-21 20:46] BenRQ commented on #934
@antontimmermans here is the final version with the delete button on parenthesis.
I have also added some check, so you can't make crazy move with any components so you should not be able to break now !

Good luck trying ^^

https://we.tl/t-V2TxzuMVH6

[2018-11-21 20:53] Jupy78 opened #955 "Starwars imperial assault"
### Description of Problem or Question
I read, on the forum for imperial assault on the fantasy flight website, that this game was going to be seported. The message was a year old,  and I was curious if this was still the case.
Sorry for asking the question here. Ditn't know were els to do it.

### Valkyrie Version

### Attach Save, Quest or Scenario
Saves:
%appdata%/Valkyrie/MoM/Save
%appdata%/Va

[2018-11-21 21:09] BenRQ commented on #952
It's an easy win really in term of development, and there are a lot of interesting data in there.

A small scenario starts with 30 variables, so reaching 100 is quite fine.
And even with a hundred vars, it's still quite small amount of data.

It should look like this:

$restock:0;#BtT:1;#CotWI:1;#CotWM:1;#CotWT:1;#FAI:1;#FAM:1;#FAT:1;#MoM1EI:1;#MoM1EM:1;#MoM1ET:1;#RN:1;#SM:1;#SoA:1;#SoT:1;#MoM1E:1

[2018-11-21 21:15] BenRQ commented on #955
Hi @Jupy78,
I'm sorry to say we have pushed the IA integration aside to focus more on the general app improvements and new features support for MoM and Descent.

And I have to say I don't have the IA game myself, so I don't plan to work on it.

Though this project is an open source project, so if anyone wants to work on this and finish up the integration, it's still possible of course.

[2018-11-21 21:31] BenRQ commented on #823
After some discussions with Xyphistor and @DelphiDie, I understand the only thing required here is the monster name once it is selected.

I guess accessing it in events text via a variable {c:monsterGroupName} would be good enough for all your events ?

[2018-11-21 21:44] antontimmermans commented on #934
Ok, I will have a look at it tomorrow.

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows 10

________________________________
Van: BenRQ <notifications@github.com>
Verzonden: Wednesday, November 21, 2018 9:46:51 PM
Aan: NPBruce/valkyrie
CC: antontimmermans; Mention
Onderwerp: Re: [NPBruce/valkyrie] Test variable: add OR condition (#934)

@antontimmermans<https://g

[2018-11-21 22:15] BenRQ commented on #950
I can already change the transparency just a bit so it's easier to see.
What value do you prefer :

0.2 (current value) :

![image](https://user-images.githubusercontent.com/40794717/48870998-407b9480-ede3-11e8-9b27-0c218250c1fe.png)

0.3:

![image](https://user-images.githubusercontent.com/40794717/48870953-132ee680-ede3-11e8-9c5a-ad16ac5c1745.png)

0.4 :

![image](https://user-images.githubuserc

[2018-11-22 01:45] redwolf2 commented on #950
0.3 is good.

[2018-11-22 09:20] antontimmermans commented on #950
Great to see that you are working on this.

If the original intent with transparency was to show underlying tokens&tiles it didn't work for me for me since everything is to dark anyway to notice if tokens where stacked. I simply clicked the token and selected the correct token are in that location. Therefor my preference would be **0.4** so for me its easier to find the token locations.

But how d

[2018-11-22 09:29] scrubbless commented on #952
Can you spot out the vars for a strain on reality, that might prove or disprove my point :)

[2018-11-22 09:30] scrubbless commented on #952
But those expansion variables are very useful. It like to see some of the vars if it's not too cluttered.

[2018-11-22 09:31] scrubbless commented on #950
All three from the menu

[2018-11-22 09:38] scrubbless commented on #946
This behaviour is programmed into Valkyrie. I was just trying to explain the process in terms that authors would understand.

It may be a good idea to put up a dialogue box to explain the eliminated rule.

After clicking set eliminated, force an start or end round event that says something along the lines off:

An Investigator has been eliminated, you must complete the investigation this turn. If

[2018-11-22 11:51] antontimmermans commented on #927
@BenRQ I send a request to get access to the review document using the link that is shown in the dialogue saying I have no access rights. I am not sure if you got the request. If not, can you add me? caprico_(at)hotmail(dot)com
_PS: would be super cool if a copy of the review would be posted automatically as a ticket to the repository of the scenario (new ticket??)
PPS: I am sorry for (miss)using

[2018-11-22 19:18] antontimmermans commented on #934
Keeping the order of '('berofe')' looks fine including deleting them. delete etiher '(' or ')'" does indeed delete the pair. --> solved

The parentesis is also nicely  placed behind  AND and not infront. --> This also seems solved

Evaluation of the test tesult is also correctly interpreting the parentesis.--> No regression

So far so good... again time for another big gun but a bit smaller this t

[2018-11-22 20:01] BenRQ commented on #955
Most of the work required is already listed here, in issues.
You can see them with the tag "IA" :

![image](https://user-images.githubusercontent.com/40794717/48920500-93178800-ee99-11e8-8a40-1a307aae0660.png)

[2018-11-22 20:56] redwolf2 commented on #950
I am ok with a setting in the option menu, but don't name it "Gamma", as this would be confused with the graphic setting for gamma. Name it something specific, like Heading: "Editor" Item: "Unselected Component Transparency".

[2018-11-22 21:36] BenRQ commented on #934
Thanks @antontimmermans
It's now fixed :)
I will probably make a test version for #950 later, if you want to give it a final test

I've updated "quest format" version number.

@redwolf2 @scrubbless @DelphiDie FYI, this change is a breaking change for older version of the app.
It means version 2.1.x won't be able to load scenario generated by version >= 2.2
2.2 can still read older scenario though.

[2018-11-22 21:36] #934 closed

[2018-11-22 21:41] redwolf2 commented on #934
In that case we have to increment the quest format version and document it here: https://github.com/NPBruce/valkyrie/wiki/QuestFormat

[2018-11-22 21:42] BenRQ opened #956 "Scenario with new quest format are not listed"
If a scenario is using a new quest format, the scenario is just not displayed in the app.
It would be better to display an information and make the scenario not downloadable.

Valkyrie version 2.1.3

[2018-11-22 21:45] BenRQ commented on #934
I've incremented quest format in the latest commit : https://github.com/NPBruce/valkyrie/commit/366ad49b7062679b0ef71ae742a0b5495ed7d800

But it's strange, it has now reached 10 but the documentation state it should already be 10.

[2018-11-22 21:48] BenRQ commented on #934
Documentation is updated.
I've fixed the documentation so the latest improvements of 2.0 version are listed in format "9"

[2018-11-22 21:56] BenRQ commented on #950
OK I can do a new option menu, it should not be too much work.
How do you see that in the menu though ?

Redwolf you were talking about Heading and item, there would also be through button like "very" "a little" "not so much".

I welcome any help on design and text proposal :)

[2018-11-22 22:19] BenRQ commented on #952
I agree it's quite a lot for stress and strain, but still manageable :)

`[Vars];#RN=1;#MoM1ET=1;#MoM1EM=1;#MoM1EI=1;#SM=1;#FAM=1;#CotWM=1;#FAI=1;#CotWI=1;#FAT=1;#CotWT=1;#BtT=1;#MoM1E=1;#CotW=1;#FA=1;#round=6;$%morale=3;#HeroCarsonSinclair=1;#HeroBobJenkins=1;#HeroAmandaSharpe=1;#heroes=3;RitualBook_VAR=5;RB_Red_Selected=1;RB_Grn_Selected=1;RB_Blu_Selected=1;RB_Yel_Selected=1;RB_Yel_WIN_Loc=1;RB_

[2018-11-22 22:45] BenRQ commented on #927
I've shared the doc with you, and discovered a lot of other requests :)
What dialogue are you referring to ?

If someone wants access please create a new ticket!

[2018-11-23 08:52] antontimmermans commented on #950
What about this:
![optionsmenu](https://user-images.githubusercontent.com/42072372/48934286-a3644d00-ef03-11e8-8518-b6ceb29aa647.png)
Used these snippets from your own pictures:
![transparency2](https://user-images.githubusercontent.com/42072372/48934651-394ca780-ef05-11e8-9ffd-c6b4bf28581f.JPG)
![transparency3](https://user-images.githubusercontent.com/42072372/48934658-3c479800-ef05-11e8-87c5-fb

[2018-11-23 11:40] scrubbless commented on #952
I made heavy use of variables haha, but that's not as long as I expected. I can clean it it too, on the end event I could set any variables that are not important to 0.

That's A Strain on Reality right?

Some handy information in there, like what combination of gems were used and where they slotted them. (If they understood the puzzle or not).

Regards it's not as long as I thought, so yeah total

[2018-11-23 11:42] scrubbless commented on #952
Generic graphs like

Average time taken, max time, minutes time, time by players, win loss rates.

If I can then create a drop-down list that feeds the variables, then it would be usable for all scenarios.

[2018-11-23 19:39] newusergettingnuts opened #957 "Available languages in scenario selection? Enhancement"
### Description of Problem or Question

something like this??
![image](https://user-images.githubusercontent.com/44534194/48958515-5a7dba00-ef3e-11e8-9dc8-99b49cb9602b.png)

[2018-11-23 19:52] BenRQ commented on #957
Yes, it's planned along with:
 #938
 #832

Target is 2.2 but we haven't started working on this yet.

[2018-11-24 00:46] redwolf2 commented on #957
How about: Fun with flags

[2018-11-24 18:43] antontimmermans commented on #934
It looks as if the tests in OLD scenarios disappear and have to re-programmed

[2018-11-24 18:54] antontimmermans commented on #934
I used the latest test version that I got from @BenRQ and ALL tests in event.ini disappeared :(

[2018-11-24 19:40] AdamGEmerson opened #958 "Add Expansion Indicator to Scenario Selection Screen"
### Description of Problem or Question
There should be a way to see which expansions each scenario in the downloader require.

### Valkyrie Version
2.1.3

### Body

I just found out about this awesome software (thanks Bruce!) and before I get into making my own scenarios I would like to try a few of the ones others have made.  I downloaded a few scenarios but then realized that I had expansions en

[2018-11-24 20:18] BenRQ commented on #934
'Conditions' is now called 'eventtests'

The old conditions should automatically be translated in the new format.

Do you confirm tests are still working?

Le sam. 24 nov. 2018 19:54, Anton <notifications@github.com> a écrit :

[2018-11-25 00:07] antontimmermans commented on #934
Not sure what happened. I might have loaded the new scenario in Valkyrie 2.1.3.  and later again in the alst test version that i received from you. ALL varialble tests, including the ones i created in the test version where gone.
including this one: (had to make 2 screenshots to capture it in total.
![patronofficetest1](https://user-images.githubusercontent.com/42072372/48974087-4628e280-f04e-11e8

[2018-11-25 20:39] BenRQ commented on #958
Hi Adam,

As explained by Scrubbless the information for scenarios is already in the "select scenario" screen, but you need to download the scenario first.

I'd like to improve the download / selection scenario screens to have everything in one single screen: languages, expansions informations, updates ... and also to make download a lot faster.
So you would have all informations, even before down

[2018-11-25 20:42] BenRQ commented on #934
I have just tested in my latest dev version, and it is working fine.

If you want a reference version, please use the one attached here, and delete the older tests versions.
https://we.tl/t-gp9trTNOaU

[2018-11-25 20:43] BenRQ commented on #957
@redwolf2 we will ask Sheldon Cooper :)
And I'm sure those guys play MoM with Valkyrie!

[2018-11-26 21:51] BenRQ commented on #822
So after some investigation, I think the best way to do it is to have the condition you want in an event, and this event will then add a component "Monster" if test is valid.

Current version of the editor does not allow to do that: you can add any component except monsters.
(As a side note you can actually remove anything, including monsters.)

I'm not sure I understand why this limitation is her

[2018-11-27 20:33] BenRQ commented on #950
It's done.
Please share your translation here if you want the text for "Editor transparency" in your own language.

![image](https://user-images.githubusercontent.com/40794717/49109739-c9834780-f28b-11e8-89d2-00433cec355c.png)

Also please tell me if you think the UI presentation is not good enough.

[2018-11-28 08:19] antontimmermans commented on #950
Thumbs up!

Minor Remark: both words of "Choose Language" start with a **C**apital **L**etter. It looks better if you do the same for "Editor **T**ransparency".

As for translations. I never tried different language settings so I don't know how the menu behaves for the words "Options", "Choose Language", "Music" and "Effects". If they get translated, then do the same for "Editor Transparency" to m

[2018-11-28 15:39] redwolf2 commented on #950
Editor Transparency in german is "Editortransparenz"

[2018-11-28 18:38] DelphiDie commented on #822
Hello @BenRQ
Thanks for your effort. Unfortunately I think this is not exactly what we need, since the idea is to change the activations of already existing monsters. I'll try to describe it a bit more thoroughly:

Descent Monster activations currently work in the following way:

When a player finished his turn, one of the unactivated monster groups (randomly chosen) gets activated. The monster th

[2018-11-28 20:30] zcaalock commented on #950
Przeźroczystość edytora = Editor Transparency (polish language)

[2018-11-28 23:39] BenRQ commented on #822
Thanks Delphi, it makes more sense to me.

In Valkyrie, the tests are part of events, they are only used at some point in the event state machine.
So using them for this is not something obvious, I will need to do quite a lot of investigation.

Not saying I won't do it, but maybe that I won't push this as my first priority :)

[2018-11-29 12:19] antontimmermans commented on #950
I used Google translate for the remaining languages and had some of them confirmed by my colleagues.

Spanish: **Transparencia del Editor** <- confirmed by Spanish Colleague)
Portugese: **Transparência do Editor** <- me and my Spanish both agree this could be right :)
Italian: Editor Trasparenza -> My italian Colleague felt uncomfortable with this google translation and suggested: **Modifica Trasp

[2018-11-29 14:49] DelphiDie commented on #822
Thanks @BenRQ
You are right, this isn't a high priority feature, and I can fully understand if you want to put this on the backlog, until other things have been done. Still, thanks for considering this :)

[2018-11-30 04:22] newusergettingnuts opened #959 "Code puzzles question. Specific codes"
### Description of Problem or Question

Anyone knows if it is possible to tweak a code puzzle so as to lock specific numbers instead of random ones? For example y i want the lock to be the number 666 specifically.

thanks in advance

[2018-11-30 13:13] redwolf2 commented on #959
I don't think this is possible yet. Still a valid request.

This wiki entry relates to the current features:

https://github.com/NPBruce/valkyrie/wiki/QuestIniPuzzle

[2018-11-30 14:01] J-Iszatt opened #960 "Name and class strings are off on Mac Os"
Hello Devs,

And first of all thank you so much for this wonderful project.
I am writing to you, since Valkyrie in combination with Descent 2 acts strange on Mac OS High Sierra (10.13.6).

Upon starting a quest and selecting heroes, their names are all written with underscores instead of spaces eg. "AVRIC_ALBRIGHT" or "LEORIC_OF_THE_BOOK".
The same applies for the hero class selection, where "CLAS

[2018-11-30 18:56] BenRQ commented on #960
Hi J,

OK thanks for the feedback, I guess we have an issue with 'path' creation on Mac.
Unfortunately I don't have a mac to test, but maybe we can find a way to provide a fix.

Could you please share the path to your imported directory ?
I mean the path if you try to access from your file explorer.

For reference it is C:\Users\yourname\AppData\Roaming\Valkyrie\D2E\import\text\Localization_XX.txt

[2018-11-30 19:31] BenRQ commented on #950
Hi @antontimmermans

Thanks a lot for the translation!

[(sorry) I'm French](https://www.sorryweare.fr) by the way, so for French, "Transparence de l'éditeur" means that the whole editor is transparent which would be weird.
"Components Transparency in the editor" would be the right meaning, but that's too much text.
I would keep "Transparence éditeur" for French.

For the Italian, Spanish and Port

[2018-11-30 19:43] BenRQ commented on #950
I'm closing this issue, as the feature is fully implemented and committed, and to keep track of progress.

But it's still possible to discuss translation improvements, so feel free to bring new proposal / remarks.

[2018-11-30 19:43] #950 closed

[2018-11-30 20:16] BenRQ opened #961 "Design of scenario explorer v2"
This issue should be used to discuss the new design for the new "scenario explorer" screen.
Root task is  #962

This design includes two parts:
1) The graphical part : pictures, background, color thema, button graphics / color (all free of rights of course).
2) The placement part : where to place all the requested information

**In more details :**
1) My initial idea is to have a dark background,

[2018-11-30 20:31] BenRQ opened #962 "Scenario explorer v2 - todo list"
This issue will summarize all the tasks for the implementation of the new scenario explorer V2.

**Description of the feature:**
This new feature will replace the old "select scenario" and "download scenario" screen, to have everything in one single screen.
With the amount of scenario available, it is now a high priority task.

Purpose of this new screen is to have in one screen:
 - the list of sc

[2018-11-30 20:54] BenRQ opened #963 "Scenario explorer - sort / filter options"
This issue should be used to discuss the sort and filters to implement in the new "scenario explorer" screen.
Root task is #962

**Description:**

In order to facilitate scenario selection for players, we will implement a sort option and filter options in the scenario explorer.

**Sort :**
This is the list of options I have in mind, feel free to share if you think one is missing, or if some are us

[2018-11-30 21:02] BenRQ commented on #528
Fixed in #923

[2018-11-30 21:02] #528 closed

[2018-11-30 21:09] BenRQ commented on #938
Hi @redwolf2, Please note I've created a new branch for the new Scenario explorer v2 development.
So we can keep on working on bugfix in the dev_2.2 if we need to.

[2018-11-30 22:09] BenRQ commented on #939
Hi @newusergettingnuts ,
I'm cleaning up, please tell me when we can close this issue :)

[2018-11-30 22:10] BenRQ commented on #868
I guess it's time :)

Is there a process to do this ?

[2018-11-30 22:17] redwolf2 commented on #868
Check out the changes made for sot here: https://github.com/NPBruce/valkyrie/commits/master/unity/Assets/StreamingAssets/content/MoM/sot

[2018-11-30 22:36] redwolf2 commented on #961
Great idea. Maybe structure it in a way, that both game types can have different backgrounds.

[2018-11-30 23:06] redwolf2 commented on #963
The problem with filtering the downloaded quests is, that the process still relies on a lot of http calls for the meta files to be made. It would take some time to get to the result: "No results found".

You then select your choice, validate, and see the list of scenario as a result.
Selecting the filter in the main screen would be better, but I don't see how we can fit everything without taking t

[2018-12-01 13:33] scrubbless opened #964 "MoM 1.7.0 - broken import on Android"
### Description of Problem or Question

The latest version of the official app has broken the import function of Valkyrie.

I just ran the reimport on my Valkyrie and after "importing" it goes back as if the important was not run.
![screenshot_20181201-133244_valkyrie](https://user-images.githubusercontent.com/32058089/49328777-d9da4180-f56d-11e8-9ea7-5641454eed50.jpg)

### Valkyrie Version
2.2

[2018-12-01 13:37] scrubbless commented on #963
Sort/filter by selected content
Sort/filter by  X expansion

[2018-12-01 14:02] antontimmermans opened #965 "HELP: my scenarion does not load in the editor anymore"
### Description of Problem or Question
My scenario does not load anymore in the editor of Valkyrie.

I creating my new scenarion with the latest test version that @BenRQ made available to be able to use the OR  in tests. Since there is a lot of editing involved, I edit some of the tests and events in a code editor (not in valkyrie).
To make sure I get the syntaxt right, I  first create an event us

[2018-12-01 14:11] BenRQ commented on #963
@scrubbless, some questions:
what do you mean by "selected content"? Why sort and filter ?

Expansion is already in my list for filter, but I don't think it makes sense to sort it by expansion.

[2018-12-01 14:19] BenRQ commented on #964
Strange, it works for me in 2.2 and 2.1.3

I have v1.7.0 (740) on steam.

[2018-12-01 14:29] BenRQ commented on #964
Can you please share the logs of Valkyrie ? : %USERPROFILE%\AppData\LocalLow\NA\Valkyrie

[2018-12-01 15:46] BenRQ commented on #965
The error is in:
[EventGhostPlaceLadyLobbyA] and [EventGhostPlaceLadyLobbyB]
VarOperation:Story,==1  is missing a ','

dichotomy is your friend if this happens to you again :)

I will add a log there so it's easier to debug for you next time.

[2018-12-01 15:46] #965 closed

[2018-12-01 16:17] antontimmermans commented on #965
Thx a lot @BenRQ  That was it!
I owe you one.

[2018-12-01 18:13] scrubbless commented on #964
Android 1.7.0 (821)

[2018-12-01 23:29] BenRQ commented on #822
Hi @DelphiDie

I've refactored the code for issue #609, and this makes this issues a lot easier.
And this feature is now implemented.

One thing I don't understand is how you will be able to make sure your activation is used, and not something else.
I mean the activation is selected randomly, so it can always be a standard activation popping instead of your customer, couldn't it ?

I can share a v

[2018-12-01 23:56] BenRQ opened #966 "MoM 1.7.0 - Broken image (sprites) on Windows"
With the latest version of MoM on steam, I see that the sprites are not valid anymore.
I'm talking about the token and non playable characters pictures.

Can someone (who has not done the update), share with me the two following files ?

In directory %USERPROFILE%\AppData\Roaming\Valkyrie\MoM\import\img\

SpriteAtlasTexture-ATLAS_FEATURES_CORE (Group 0)-2048x1024-fmt12.dds
and Atlas_Main.dds

For

[2018-12-01 23:58] BenRQ commented on #966
related to #868

[2018-12-02 00:18] scrubbless commented on #966
Can't link them on GitHub doesn't like the file format.

I'll share a folder on google drive to you @BenRQ

[2018-12-02 12:54] newusergettingnuts commented on #939
sorry missed  this one, of course you can close Ben. many thanks

[2018-12-02 13:00] BenRQ commented on #939
Thanks :)
Closing

[2018-12-02 13:00] #939 closed

[2018-12-02 13:01] BenRQ commented on #966
Fix is now available, new hotfix version incoming

[2018-12-02 13:01] #966 closed

[2018-12-02 14:56] NicolaZee commented on #964
Well done on fixed the bug so quick and a big thanks  from me! :)

[2018-12-02 16:57] scrubbless commented on #964
Yeh thanks BenRQ

[2018-12-02 20:53] OPettz commented on #964
I can confirm that I also have the same importing issue on my Fire 7 - of course using the android file

[2018-12-02 22:09] DelphiDie commented on #822
Hi @BenRQ
thanks for adding this feature. I'll gladly test this.

Making sure the right activations are called will be done by assigning values to variables and using these to check for the conditions on custom activations.

And since custom monster do not use the standard activations, they will have to use one of the custom ones.

[2018-12-03 01:09] barrick09 commented on #879
Can someone please help me with this. I am also using windows 10 and having the same issue. However, this does not solve the problem. I have tried uninstalling, reinstalled, run as admin, copied the directory, everything is up to date. But when I launch Valkyrie the only options are exit and no MoM found on steam.

What do you mean when you say  ""without the "-import""  where did write this????
A

[2018-12-03 01:47] asn-d6 opened #967 "Bug: NULL pointer dereference because valkyrie will import Tokens with no images"
### Description of Problem or Question

Hello people,

I'm just playing around with valkyrie for fun using a995c2ce from development-2.2 branch as my HEAD.

I noticed that when I tried to make a scenario and I was trying to add some tokens, some tokens did not have images (in particular darkness and fire). After I tried to select those (because why not), the scenario builder crashed with a NULL po

[2018-12-03 01:56] asn-d6 commented on #967
Please see my PR for a patch that blocks the import of tokens without images: https://github.com/NPBruce/valkyrie/pull/969

IIUC, it's basically useless to import those tokens anyway since we cant use them, and they will also trigger a NULL ptr dereference if used....

BTW, any idea what happened during the import that made it fail?

[2018-12-03 01:57] asn-d6 commented on #967
Here is how the import dialog looked like FWIW.
![unitybug](https://user-images.githubusercontent.com/3611450/49348699-8d971a80-f6af-11e8-9121-dbd626086552.png)

[2018-12-03 07:57] BenRQ commented on #967
Hi @asn-d6,
thanks for the PR, I'll merge into the dev branch, it's good to have a bit more stability 👍

The problem you describe here is related to #966 MoM 1.7.0 - Broken image (sprites) on Windows
I've fixed it yesterday.

So if you have cloned the branch, you need to take this commit : https://github.com/NPBruce/valkyrie/commit/35842cfaf891b746ec473c8375ff795f8fb9c522

If you already have this

[2018-12-03 08:03] BenRQ commented on #967
If you feel like playing a bit more with Valkyrie code, I can suggest some more accessible change request that have been requested:

#959 Code puzzles question. Specific codes
#943 add previous/next button on events,quest etc.

Now feel free to work on whatever you want, just tell us so we are sure not to work on it at the same time :)

I'm available to help mostly through discord.

[2018-12-03 08:10] BenRQ commented on #879
Hi @barrick09 ,

I'm pretty sure that Fataelis was referring to the quotations for the path.

He was using

instead of

Please share with us the command line you are using if it's still not working.

Also I'd like to understand why MoM import files are not detected for you, so can you please tell us:
 1) when did you install MoM on steam ?
 2) Did you move steam directory at some point ?
 3) Did y

[2018-12-03 10:13] scrubbless opened #970 "Editor Quirks - Enhancement"
### Description of Problem or Question
The {Number} for variables, {New UI} for UI and {New Token} for Tokens - no longer pin to the top when sorting. Its fine for events, puzzles and spawns.
![image](https://user-images.githubusercontent.com/32058089/49367175-301cc100-f6e3-11e8-900e-0e42ff386860.png)
![image](https://user-images.githubusercontent.com/32058089/49367330-b0dbbd00-f6e3-11e8-99ec-761b

[2018-12-03 11:38] asn-d6 commented on #967
Thanks for the ticket suggestions. That's really helpful :)

[2018-12-04 09:34] antontimmermans opened #971 "Option: Camera Zoom Out"
### Description of Problem or Question
In game you can influence the camera postion with the following options:
- No effect: option Unused
- Zoom in to selected position: Option Camera
- Higlight a location: Option Highlight.
- Set camera bottom/left postion: Option Min Cam
- Set camera top/right postion: Option Max Cam
(I am still figuring out the use case for the last two options)

A **nice to h

[2018-12-04 10:29] antontimmermans commented on #970
Another editor enhancement could be to condens and reorderd the input fields a bit so that it doesn't contain so much black space (especially in the top part) so you have a better overview your event. Example: (note i moved the triger field up)
![condensed event](https://user-images.githubusercontent.com/42072372/49435668-6f1c4680-f7b7-11e8-88c6-b682d437002b.png)

or token editor:
![condensed toke

[2018-12-04 16:04] scrubbless commented on #970
Don't see why it needs to be more than one :grin:

I just noticed that the stacking puzzle text is in Chinese! (I had english selected)
![image](https://user-images.githubusercontent.com/32058089/49454998-43608700-f7de-11e8-81e2-1482058c4681.png)

[2018-12-04 16:54] antontimmermans commented on #961
I am not good with graphical tools but i'll try to describe it:

In one of the corners you can put an 'settings' icon. That icon gives a pop-up menu that lets you choose the following:

- Scenario languages: with tickboxes for each language that the player can sellect; **Multiple boxes** can be selected. The effect of selecting a tick box(es) is that a scenario containing the language(s) will appe

[2018-12-04 20:11] BenRQ commented on #967
Fix is merged, closing.
Thanks @asn-d6

[2018-12-04 20:11] #967 closed

[2018-12-04 20:39] BenRQ commented on #822
Hi @DelphiDie, here is a technical version for your tests.
Tell me if this is working as expected.

https://we.tl/t-yZVk5h5l66

[2018-12-05 11:56] vendettarock opened #972 "Newbie Question"
If you have multiple events with "StarRound" or "EndRound" trigger.
what is the order of execution?

Sorry for the noob question

[2018-12-05 12:11] newusergettingnuts commented on #972
Hola vendeta. El orden es inicio del round y luego fin del round si colocas la variable test #round=numero de round podes ubicarlos en un round especifico.

[2018-12-05 12:12] vendettarock commented on #972
Me refiero a que si tengo 3 eventos que se ejecutan al inicio de cada ronda, por ejemplo. ¿Cual es el orden en el que se ejecutan esos 3?

[2018-12-05 12:16] newusergettingnuts commented on #972
Creo que van a  ocurrir todos los turnos del juego aleatoriamente. Llego a una compu y pruebo y te confirmo

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: vendettarock <notifications@github.com>
Sent: Wednesday, December 5, 2018 9:12:51 AM
To: NPBruce/valkyrie
Cc: newusergettingnuts; Comment
Subject: Re: [NPBruce/valkyrie] Newbie Question (#972)

Me re

[2018-12-05 16:04] newusergettingnuts commented on #972
La estructura por lo visto es

Start round
Mythos
End round

Y los incluyen una primera ronda aleatoria y luego fijos, raro pero en mi caso se visualizan aleatoriamente y ya luego quedan fijos en esa primera selección.

Prueba y error...que es lo que queres lograr a ver si hay alguna otra forma?

[2018-12-05 17:49] LordPyrex commented on #964
I wish I could. I'm not much of a coder. Back in the day I was doing wikis to assist with people jumping in to using Valkyrie. I can help with any new how-tos we might need.

[2018-12-05 17:55] vendettarock commented on #972
i mean
For example, If you have three events triggering at the end of the same round (with the Endround trigger). What of those events trigger first?

Sorry for my english

[2018-12-05 18:17] BenRQ commented on #964
I have confirmed my first assumption, something is wrong with the package extractor on Unity.

In \libraries\FFGAppImport\AssetImport\Unity_Studio\Font.cs:61
On Windows 10 the value is 0
On Android it's ‭0x3F800000‬

Maybe something related to size of object, compiler or endianness ...
I'm still investigating.

[2018-12-05 18:20] BenRQ commented on #972
I suppose it should be the same order as they appear in the event.ini file.

[2018-12-05 18:23] BenRQ commented on #970
I would prefer 3 issues for those 3 different topics :)
Easier to manage!

@scrubbless for your request for ordering, it is already left aligned for alphabetical order and center for sequence order.
What would you expect there ?

[2018-12-05 18:47] vendettarock commented on #972
Thats it! but the execution begins from the bottom. The reorder tool works too, the bottom events goes first.

[2018-12-05 18:51] #972 closed

[2018-12-05 21:21] antontimmermans opened #973 "Less Blackspace in Event/token Editor"
Editor: Improvement proposal NOTE: this was also mentioned in https://github.com/NPBruce/valkyrie/issues/970
but copied into separate ticket as requested by @BenRQ

Condens and reorder the input fields a bit so that it doesn't contain so much black space (especially in the top part) so you have a better overview your event. Example: (note i moved the triger field up)
![image](https://user-images.g

[2018-12-05 21:46] DelphiDie commented on #822
I tested the conditional activations and they work great :)

If anyone is curios, that's how you use them:

[code]
Activation 1 can only appear if the variable Activation is set to 1.
Activation 2 can only appear if the variable Activation is set to 2.
Activation 3 can always appear.

[2018-12-05 21:46] #822 closed

[2018-12-05 23:12] BenRQ commented on #868
I realized that without the extension itself, it may be a bit difficult to integrate.
I would need a lot of info like name of characters on token with the picture, monsters info, tile name ...

[2018-12-06 00:10] BenRQ commented on #964
I have disabled the font export, and now the import is working just fine.

But unfortunately, the sprite placement is different on Android.
This is a very bad news as it means we need to update the sprite system to support a different placement mechanism between android and windows.
And of course we need to do the placement of sprites again.

Here is the old (first) and new token placement on the

[2018-12-06 02:15] redwolf2 commented on #964
The tokens have this image format ATM:

[code]

We could introduce x2 and y2 in order to overwrite that parameter on the second resolved image if it is used.

[code]

This this continues, I could create tokens in a similar design if necessary.

[2018-12-06 02:31] redwolf2 commented on #868
@RhOmicron could you help out with the components, like you did with Streets of Arkham? (https://github.com/NPBruce/valkyrie/issues/654)

[2018-12-06 07:01] RhOmicron commented on #868
I'm unable to help out for a long time as I'm away from home. I hope someone else can help out.

//RhOmicron

[2018-12-06 11:06] scrubbless commented on #970
Hi @benrq, I'd like it all either center aligned or all left aligned. My preference being all left aligned.

[2018-12-06 17:07] vendettarock opened #975 "Import Content Descent 1.5.0 witk Valkyrie 2.1.4"
Road to Legend is just updated with a entire new campaign, and now the import content option of valkyrie doesnt work anymore.

### Valkyrie Version
2.1.4 Windows

[2018-12-06 20:30] BenRQ commented on #975
This is the same issue as #964

[2018-12-06 20:30] BenRQ commented on #975
New version incoming soon

[2018-12-06 21:22] redwolf2 commented on #868
**Tile Graphics**

TILE_PASSENGER_CAR_2_MAD27
Tile_Dining_Car_1_MAD27
Tile_Engine_MAD27
TILE_STATION_MAD27
TILE_LOUNGE_CAR_MAD27
TILE_PASSENGER_CAR_1_MAD27
Tile_Caboose_MAD27
TILE_POOL_MAD27
TILE_MEDICAL_OFFICE_MAD27
TILE_SHIP_DECK_6_MAD27
TILE_ENGINE_ROOM_MAD27
TILE_SHIP_DECK_5_MAD27
TILE_PROW_MAD27
TILE_SHIP_DECK_3_MAD27
TILE_SHIP_DECK_1_MAD27
TILE_SHIP_DECK_4_MAD27
TILE_SHIP_DECK_2_MAD27
TILE_T

[2018-12-06 21:45] asn-d6 commented on #959
Hello, please see PR #976 for some code that implements this feature.
Let me know how you would like it improved, and whether you want me to write the documentation for the wiki page mentioned by @redwolf2 .

[2018-12-06 21:48] BenRQ commented on #868
I will integrate all character tokens and pictures, as I'm already working on this for the issue #964
But I will need the name at some point.

[2018-12-06 22:07] asn-d6 commented on #943
Hello, I can try to tackle this next. Over the next days.

[2018-12-07 00:42] BenRQ commented on #975
Issue fixed in version 2.1.5 (only tested on windows)

[2018-12-07 00:42] #975 closed

[2018-12-07 00:42] BenRQ commented on #964
Version 2.1.5 is available with import and tile fix

[2018-12-07 00:42] #964 closed

[2018-12-07 00:52] BenRQ commented on #959
Nice, I will have a look at it tomorrow :)

If you can update the wiki, it's even better of course.

[2018-12-07 10:53] BenRQ commented on #959
Hi @asn-d6 ,

a few things I've seen :
 - the solution should only be available for puzzle type code, not image
 - Error test does not check if the code is too small (this can break the puzzle while running it.)
 - if current solution is invalid, it uses the previous valid solution. This may be confusing.
As soon as something is written, old valid solution should be deleted.
 - I think it would be

[2018-12-07 11:20] andrex47 opened #977 "The Truth: portuguese translation"
### Description of Problem or Question
Here I go again on my own
Going down the only road I've ever known
Like a drifter, I was born to walk alone
But I've made up my mind
I ain't wasting no more time /o/

Morning gentlemen, i will begin translating the scenario The Truth, any help will be greatly appreciated, i will upload the files on google drive and it will be there for anyone to edit, you can

[2018-12-07 14:32] BenRQ commented on #970
Also please note that all component always start by {new XXX} if sorted by number.
So I guess your request is also to keep the {new XXX} even if sorted by alphabetical order.

[2018-12-07 17:21] BenRQ commented on #868
Someone shared the content of Horrific Journeys with me through a few photos.
I think I have all I need to do the integration.

I can share it with you if you want to work on this too @redwolf2.
I'm just working on tokens for the moment.

The grey bearded man is not available in Horrific Journey, neither is the blue rift.

Also there is a new puzzle type : line

[2018-12-07 21:55] redwolf2 commented on #868
That's ok. Nice find those are probably the next expansion. Be aware, that the font may also contain new glyphs, so they might need an update, too.

[2018-12-08 13:32] antontimmermans commented on #934
@BenRQ I am still using your lastest test version to further develop my scenario using the OR test: 2.2.2018 1125_technical. So far in the evluation of the OR condition it seems to work very well. I have not found an bug in that part (yet).

1.  In the editor  it still can go wrong:
If you delete a ')' it does not always delete a '('. If you then try to delete all '('and ')' there will be a solita

[2018-12-08 19:19] BenRQ commented on #934
Hi @antontimmermans, this feature is part of release 2.2.
Main reason for not integrating it in release 2.1.5, is that I don't want to risk any regression on a hotfix version like version 2.1.5.

If you check the current status of the release 2.2, we have done half of it more or less.
So it's not coming before January or February I think (and I may be optimistic).
We have two big topics in this re

[2018-12-08 19:30] BenRQ commented on #938
@redwolf2 I've started working on this through google scripts.
My objective is to generate one single ini file every hour with all latest data per scenario.

In the future I may consider parsing some of the data to generate a JSON file.

[2018-12-08 23:11] BenRQ commented on #938
First version of script is available.

See the result here :
https://drive.google.com/open?id=1CIwwOOuuowYsWcpl4NHVD39olkPc-ThH

@redwolf2 Tell me if you think something is missing.

[2018-12-09 01:40] asn-d6 commented on #959
Thanks for review! I will try to get some revisions in this following week.

(Also I managed to bork my VS installation... so I need to fix that first :-1: )

[2018-12-09 12:52] asn-d6 commented on #959
Hello, I pushed some fixups to the PR#976 that address the first three of your review comments.

WRT going from "0 1 3 2" to "0132", I can certainly do that if we think it's more usable. However, that would make it impossible to encode numbers bigger than 9, in case someone makes a puzzle with a big puzzleAltLevel. Furthermore, I think the ideal usability for this kind of thing would be to have so

[2018-12-09 15:21] newusergettingnuts opened #978 "Somewhere in Massachussetts English translation"
### Description of Problem or Question

Already translated the scenario to english and beta tested it.

Still i would like the help from a native english speaker to check grammar and improve text a little.-

I can share the google drive file so as to work togehter with it.

Interested let me know so i can share the link with you.

Many thanks in advance!

### Valkyrie Version

### Attach Save, Que

[2018-12-10 00:10] BenRQ commented on #934
2.1.5 uses the old syntax still.

New syntax will be introduced with version 2.2

[2018-12-10 01:20] BenRQ commented on #978
I suggest to work through that file (at least for French translation)
@Scrubbless I know you want to help there, so feel free to use that file too .

https://docs.google.com/spreadsheets/d/1yJiIptbGiVmIl68ymTii412deSdw-78vWo3hPXpBK_U/edit?usp=sharing

[2018-12-10 09:18] scrubbless commented on #978
Thanks @benrq

[2018-12-10 10:23] zcaalock commented on #943
Thank You for taking this case.
You can name it "next item" and "prev item"

[2018-12-10 18:19] scrubbless commented on #978
@benrq can I edit this document and produce an output? If so how do I do so?

[2018-12-10 18:39] BenRQ commented on #978
Yes, you should have edit write.

To produce an output you just need to :
1) select the first column, and the column of your language
2) copy the text and paste it in a text editor like notepad++
3) replace '	' (TAB) with ','
4) save the file to localization.yourlanguage.txt

That's it.

[2018-12-10 22:45] BenRQ commented on #959
I found one last problem : I was able to use 0 as a valid value for the code.

Almost good to go :)

[2018-12-10 23:07] redwolf2 commented on #938
Maybe remove `.valkyrie` in the ini sections. The rest looks good to me.

[2018-12-10 23:16] chrismaliszewski opened #979 "Bug: audio doesn't stop playing in the BG"
### Description of Problem or Question
It's a general issue. After you choose a scenario with a narrator audio at the beginning of the scenario and decide to and scenario, the audio keeps playing instead of being ended. This creates another issue when you start another (or the same scenario) with an audio again as both sound overlap. You can go on and on with that procedure.
To me, the audio shoul

[2018-12-10 23:40] chrismaliszewski opened #980 "Issue/Bug: Aspect ratio problems / bug after changing a screen orientation causing a game breaking"
### Description of Problem or Question
I. The app is not suited for a vertical screen. The whole layout is destroyed. But it's not that big of a problem...
II. There is a major issue of the app which may prevent players from further playing their game if happens!
I have a 2-in-1 notebook with a rotatable screen but the issue is replicable on a normal screen (read Scenario section). By mistake, I r

[2018-12-11 00:01] asn-d6 commented on #959
Please see latest fixup which addresses both of your comments. Let me know how you like it.

[2018-12-11 00:16] newusergettingnuts commented on #978
hey ben quick question and how do you managed to do the reverse, i mean passing the original  .txt to two separate tabs in xls? i imagine you cant use the coma to tab because there are many comas in the text.

[2018-12-11 16:29] scrubbless opened #981 "Custom Investigator Attacks"
### Description of Problem or Question
I know this has been discussed before, the current implementation has some issues.

I can add Custom Investigator Attacks for a Custom Monster however if I click the + to add an event. There is no way to remove/delete it.

![image](https://user-images.githubusercontent.com/32058089/49814532-b8453b00-fd61-11e8-9ae8-b2ce618d3ed7.png)

Can we get a - button on t

[2018-12-11 19:17] BenRQ commented on #943
Some event have a long text name, especially if you use naming conventions .
It may be a problem to take that much space for just two buttons

"Next" and "Prev" are probably enough.

You could also change the return arrow to something like this :
 U+21A9 ↩

And use standard arrow for next and previous :
U+21E6  ⇦
U+21E8  ⇨

You should also use the same colour as other link arrow.

[2018-12-11 19:39] BenRQ commented on #959
Looks good to me :)
It is now merged.

Thank you @asn-d6  !

Fix will be available in version 2.2

[2018-12-11 19:39] #959 closed

[2018-12-11 20:00] BenRQ commented on #980
Hi @chrismaliszewski ,

thanks for the bug report and sorry to hear your game got messed up.
If it's not too late, you can still leave the app and restart with your latest savegame.
Savegame is done automatically at every round.

For the issue : screen orientation is locked to portrait on Android, so it's not a problem on that platform.
I will check if we can lock it on Windows.

And I don't think

[2018-12-11 20:04] BenRQ commented on #979
Hi @chrismaliszewski ,

I agree with you, audio should stop when leaving the scenario and going back to menu.

But when going through events in the scenario, I'm not sure it makes sense to just stop any playback at every event startup.
It would be a big constraints for scenario authors if we were to stop it like that.

Maybe we could try to find a way to control playback, but that's an evolution w

[2018-12-11 20:08] chrismaliszewski commented on #980
You don't need to apologise; I started the scenario from the beginning and continued clicking tokens to reach my progress.
I didn't know that the game is saved every round. It's nice to hear that!

I agree; supporting vertical orientation doesn't give players anything so if turning on a window scaling is not possible as a "one-click-thing", then locking the orientation will be the easiest and the

[2018-12-11 20:11] BenRQ commented on #959
Wiki is also updated

[2018-12-11 20:36] BenRQ commented on #980
If you have some time, I can share a test build with you, with a potential fix.
Can't test it myself as I don't have an ultrabook or a Windows PC with auto rotate.

Using Ctrl+Alt+ arrows seems to be something different, I won't be able to block that.

[2018-12-11 20:40] chrismaliszewski commented on #980
Sure. I've never done it. How will you share it? Via email or a link?
Krzysztof Maliszewski
www:  http://www.krzysztof-maliszewski.pl/
e-mail: k.a.maliszewski@gmail.com

śr., 12 gru 2018 o 09:37 BenRQ <notifications@github.com> napisał(a):

[2018-12-11 21:09] BenRQ commented on #980
By link, you don't need to share your email with all the spam bots :)

[2018-12-11 21:18] chrismaliszewski commented on #980
Ok. I'll be waiting for the link.

What do you mean " Ctrl+Alt+ arrows seems to be something different"? You can't block it, is that right?
I've just checked in the original MoM app, another Unity game GoHomeyoureDrunk and a game which is not made with the Unity engine. The issue may the the engine's problem as all but the last game have the same problem (even the original MoM).
I think you could

[2018-12-11 21:22] BenRQ commented on #980
Here is the link :
https://we.tl/t-5hcwzD8saU

And yes the problems seems to be a Unity issue.

Solution was found here : https://stackoverflow.com/questions/34086474/enforce-landscape-orientation-on-windows-8-1-for-unity-project

It is referenced here : https://answers.unity.com/questions/1334691/windows-rotated-screen-and-resolution.html

[2018-12-11 21:43] chrismaliszewski commented on #980
Fix works with the rotatable screen! The app stays horizontal no matter what I do (tested a few things to break the app).
The CTRL+ALT+arrows/changing screen rotation issue is still there but it isn't normal to change an orientation of a screen while playing so it isn't a big issue and it should be fixed by the Unity team, not you.

Thank you, BenRQ!

[2018-12-11 21:58] BenRQ commented on #980
Thanks @chrismaliszewski, happy to hear that :)

I'll share this solution on the Unity post, it may help someone.

[2018-12-11 21:58] #980 closed

[2018-12-11 22:15] newusergettingnuts commented on #978
English version uploaded!  :)

[2018-12-12 01:03] asn-d6 commented on #959
Thanks! BTW, I made fixup commits for the revisions so that you could squash them into the final commit, and it doesn't clobbber the git history. Let me know if you don't like fixup commits and I will just make regular ones next time.

[2018-12-12 01:05] chrismaliszewski opened #982 "Bug: Defeating a monster in Mythos Phase cancels other monsters' actions"
### Description of Problem or Question
Today I've received a new version from @BenRQ (2.2.20181209). I've found a major bug in the release which does not appear in the 2.15 version for some reason. The bug I found is major. It ends monsters' movement/attack event to progress even if there are more monsters to do their actions.

### Valkyrie Version
@BenRQ's 2.2.20181209 (in 2.15 everything is ok)

[2018-12-12 09:03] scrubbless commented on #979
I disagree that sound should end when clicking continue. I actually use this in my latest scenario. There is a use case to layer sounds.

Story narrative should be put as music. That way you can control it by replacing the music in another event. 'audio' should only be used for short sound bites.

[2018-12-12 17:18] BenRQ commented on #982
Bug is now fixed in 2.2

[2018-12-12 17:18] #982 closed

[2018-12-12 17:20] BenRQ commented on #981
Does it makes sense to have more than on attack of a type ?
Shouldn't we just remove the [+] button after the first investigator attack is created ?

[2018-12-12 17:23] BenRQ commented on #959
Fixup commit are perfect for me.
I usually squash PR, but here I just clicked to fast, and rebased everything instead of squashing them :/

[2018-12-13 09:16] scrubbless commented on #970
Yeh, they should be pinned regardless of how the lists are sorted

[2018-12-13 20:03] BenRQ commented on #979
So to summarize the issue here: the only change we should implement is to stop music/audio when leaving the quest.

Please correct me if I understood this wrong.

[2018-12-13 20:11] chrismaliszewski commented on #979
Taking into account what @scrubbless said, yes, this should be the only change.

Something still bothers me. If you play a scenario over and over again (no matter the reason) and you have enough of the narrator's audio, in my opinion, you should be able to stop it. So my question is, would it be possible to create some way to do that? To my thinking, there could be a control that enables a player

[2018-12-13 20:31] BenRQ commented on #961
Hi @antontimmermans, thanks a lot for sharing your thoughts on this, a lot of great ideas :)
I will this mature a bit and get back to it in while with actual implementation.

@redwolf2 shared this on Discord, I put here so I can find it again later:
![image](https://user-images.githubusercontent.com/40794717/49965334-2da93b00-ff1d-11e8-801b-c1ab715ea5a3.png)

I like the idea of using a maximum of

[2018-12-13 22:07] redwolf2 commented on #961
All suppored languages don't need to be displayed on the item. Reserve a max space of 6 flags. Always show the first flag as the language set in the options, then English if available. Then up to 4 more languages. If there are still more languages, show a + symbol. If the user clicks on the plus symbol a details popup will show the rest of the scenario information, including all languages.

[2018-12-13 22:09] scrubbless commented on #979
We should urge scenario creators to set narrated intros as music. Then the event after set the music for the scenario.

Run stress and strain. If you click start before the narrative finishes it will stop it.

[2018-12-13 22:19] chrismaliszewski commented on #979
I see. So it will be put on the shoulders of creators then and hope they will do as you say.

Does it mean nothing would need to be done if creators did as you say in the first place? I mean, the bug wouldn't have a place if they used the technique which you've just described, right? If that's so, it's not exactly a bug but rather an issue of implementation.

Still, I'd urge a full-stop of any sou

[2018-12-14 16:42] scrubbless commented on #979
Yeh, exiting the scenario or the editor should stop all audio. I agree.

[2018-12-15 14:47] antontimmermans commented on #925
@scrubbless  or @BenRQ

I just published an update of this scenario which include modifications based on the feedback i have received so far.  (minor bug fixed, spelling correction and improved hints)

1. do I need to do anything else (or different) to publish this update?
2. what do I have to do to enable other users to improve my text (since mine are too dutch-english) or to make translations in

[2018-12-15 15:25] antontimmermans opened #983 "Report scenario end-game feedback as 'issue' in originating repository."
### Description of Problem or Question
I love fact that players can give their feedback and that the feedback is nicely captured in the google doc https://docs.google.com/spreadsheets/d/18V7lGE2JaYIuAFP_C6hbRRNKIid4oPqLBj3kcKtx64k/edit#gid=981738518

Enhancement request:
Can you send a copy of the end-game feedback is an 'issue' to the originating repository too, so that the scenario writer can mo

[2018-12-16 10:38] BenRQ commented on #925
1.
Publishing the update is enough.
If you want to keep track of the version which has been played, you should add a version number in the quest.name

2.
You can post a message here on GitHub.
You can also say in an intro message of your scenario, that you welcome help and add a reference to the ticket.

[2018-12-16 10:57] BenRQ commented on #983
Hi @antontimmermans,

You request is not simple, I would have to share the credentials of a GitHub account in the app, support the login, keep the reference of all scenarios specific GitHub repo, and raise the issue itself.

I can propose an easier solution, available today : you can set notifications in the google sheet : https://support.google.com/docs/answer/91588?co=GENIE.Platform%3DDesktop&hl

[2018-12-16 12:36] BenRQ commented on #979
I've made sure audio effects are stopped at the end of a scenario.
Fix will be available in release 2.2.

For Glimpse in the past, maybe we can tell the author to check if he wants to change how he plays the audio of the intro.

@slycozzolino we are talking about you :)
BTW, if you want to have access to players feedback on your scenario, it is now available !
Have a look here :
https://docs.googl

[2018-12-16 12:36] #979 closed

[2018-12-16 12:37] BenRQ commented on #979
(closing the issue as the problem is now fixed in Valkyrie)

[2018-12-16 12:47] BenRQ commented on #963
Feedback from @antontimmermans on this:

In one of the corners you can put an 'settings' icon. That icon gives a pop-up menu that lets you choose the following:

    Scenario languages: with tickboxes for each language that the player can sellect; Multiple boxes can be selected. The effect of selecting a tick box(es) is that a scenario containing the language(s) will appear in the list.
    Sortin

[2018-12-16 14:36] scrubbless commented on #983
I have imported the stats sheet into another sheet and shared it out.

I've just sorted them by scenario, but you could easily do the same yourself. Import range the data reference it in a second sheet the a create a filter on it. That way you can play with the filters to tune out everything but your own feedback.

Check the (appliers) Reviews tab in this sheet:
https://goo.gl/xgxdMb

[2018-12-16 20:17] chrismaliszewski opened #984 "Bug: Black screen after clicking 'Unable to locate GAME'S_NAME'"
### Description of Problem or Question
@BenRQ, I've just noticed another bug with the version you shared.

After running Valkyrie app where you choose a game to play, I have a red text 'Unable to locate...' (I don't have Descent game). In the version, the text is a clickable button. When I click it, Valkyrie app minimizes and a Dialog to locate the game's EXE file opens. If I click Cancel and go b

[2018-12-16 20:49] chrismaliszewski opened #985 "Enhancement: Long goading times"
I have a question. Why does the app take so much time to create lists of scenarios?
After clicking Start Scenario, it takes 2 secs to just list 36 scenarios. That's a lot when you remember it's a local operation on files.
Additionally, loading a list of downloadable scenarios takes... 35 seconds. I have ~23Mb/s download but it isn't a problem of the download but loading a list on the server; I am

[2018-12-17 00:08] BenRQ commented on #985
Yes this clearly a major issue, with the amount of scenario getting more important.

This is something that has been identified before.

I have created a label for this task, as the amount of work to change the system is massive and it has been divided in different issues.
The top level issue is here :  #962.
It lists all tasks
You will find all issues related to this under this label : "ScenarioE

[2018-12-17 00:08] #985 closed

[2018-12-17 00:09] BenRQ commented on #984
Thank you for spotting this, I will have a look

[2018-12-17 00:10] BenRQ commented on #943
I'm working on the new scenario explorer, so you have plenty of time to finish this :)

[2018-12-17 04:53] slycozzolino commented on #979
@BenRQ Do I still need to fix this in my scenario?

[2018-12-17 08:16] BenRQ commented on #979
Yes, if you can fix it as Scrubbless has explained, it will stop voice playback if player wants to skip that part.

[2018-12-17 08:50] antontimmermans commented on #983
@scrubless @BenRQ

Your solutions are not the same as my request but good enough. And since it is too complicated to implement, i'd rather spend time on other enhancements.

Thanks for your quick reply. closing the issue.

[2018-12-17 08:50] #983 closed

[2018-12-17 09:06] antontimmermans commented on #934
@BenRQ ,

FYI: this weekend I managed to complete the complex ghost placement part of my new scenario. The (sometimes complex) conditional placement events alone add up to ~80 events. Without the OR and the test-parenthesis I estimate that this would have been 4 times more.
I also ran the first 'big' test to check the placement behavior and found that some placements where incorrect. These placeme

[2018-12-17 15:57] antontimmermans commented on #981
I had not thought of this before but it would be nice indeed if a scenario writer can have more influence of how the attack is done. I get a bit frustrated if you give an investigator with the highest strength the heavy weapon and then get instructed to test your lowest skill for example: {negotiation}.

A feature like this would allow the investigator to influence the fight using their 'better' s

[2018-12-17 17:34] scrubbless commented on #981
The current monster attacks are imported from the official app.

The official attacks favour certain stats. For example a firearms check has a higher chance of using agility or observation. However some monster traits can effect that. For example if you use a physical attack on a ghost it will often make you test influence instead. That may be your experience.

Some extra functionality was added w

[2018-12-18 02:14] chrismaliszewski opened #986 "Enhancement: Displaying 'No items' on the 'Starting Items' screen."
### Description of Problem or Question
Today when starting a scenario (Delve Too Deep) I didn't receive any Starting Items. When I saw the screen, I was wondering if it's an error (i.e. items were not displayed) or everything is as it should be.

I don't think removing the step altogether when players don't receive any items would be a good idea. Therefore, I would say a statement like 'You don't

[2018-12-18 02:38] chrismaliszewski opened #987 "Minor bug/Small Enhancement: Game's buttons state"
### Description of Problem or Question
Hi. Today I've noticed that although Menu, Items, Set & Next Phase buttons are unclickable when a dialog is displayed, they are still displayed as active.
It's a little misleading. If you can't make the buttons work all the time, make them disabled for the clearity.

### Valkyrie Version
2.15

[2018-12-18 10:42] scrubbless commented on #987
The reason they are disabled when you are in a ui element or dialogue is to avoid players skipping turns or running events over other events and causing issues. For example if the items button was available players could click an item and inspect it, displaying another event while one is already running.

In reality only the 'next turn' and 'items' buttons needs to be disabled during dialogues and

[2018-12-18 10:45] scrubbless commented on #986
The step is there to give a place for investors to get their starting items regardless if the scenario gives them or not.

A 'dont have any items' statement would be good though.

[2018-12-18 10:58] chrismaliszewski commented on #987
I suspected that the buttons are unclickable because of the things you said. That's not a problem at all.

I think you misunderstood me. What I meant by saying "make them disabled for the clarity" was "make buttons not act on mouse down click". It isn't removing buttons - just disabling.
What I mean is briefly presented here: https://jsfiddle.net/kf569uLg/
As for now, if a player clicks a button i

[2018-12-18 11:02] chrismaliszewski commented on #986
Yeah, I know what is the purpose of this step. If you add the statement, I'd be great!

[2018-12-18 11:18] zcaalock opened #988 "Looking for help with making scenario"
I have main story ready, looking for someone who can make improvements and check the english grammar.

here is the link to git:
https://github.com/zcaalock/SotC

[2018-12-18 13:42] antontimmermans commented on #988
Hi @zcaalock ,

I would not be the right person to correct your English (I am Dutch). And I  got some comments on my  grammar in the 'disturbance at the docks' scenario.
To correct my spelling mistakes I installed a free 'ms-work'-alike text editor (libre office, https://nl.libreoffice.org/) to detect them and find suggestions for correct spelling. I guess ms-word also does the trick if you have i

[2018-12-18 14:05] scrubbless commented on #988
I'd be happy to lend what assistance I can. I am a native English speaker but I also get comments about my spelling and grammar haha.

However I don't have a huge amount of free time at present so I can't commit to a schedule.

If you have any specific issues or road blocks I'd be happy to look and edit your code if you share it.

For example I tend to be quite good at visual elements, like UI ele

[2018-12-18 14:09] scrubbless commented on #987
Ohhh I get you now. Sorry I probably just skim read that and inferred what I was thinking!

Yeh agree, if they are not usable it would be good if they were grey. A visual cue that they are now not usable.

Though I'd like the log and menu buttons to work personally.

[2018-12-18 20:08] chrismaliszewski commented on #988
Q: Guys, I don't knot github very well. Is it possible to make changes to other people's files or create a new release?

From now on, I'll be writing in Polish.

Cześć @zcaalock.

Mistrzem pisowni nie jestem, ale napiszę uwagi i co udało mi się znaleźć. W nawiasach będzie numer linii, np. (15) to odwołanie do linii 15 w pliku.
Małe poprawki do polskiej wersji:
W wielu zdaniach brakuje kropek na ic

[2018-12-18 21:18] zcaalock commented on #988
Hej @chrismaliszewski,
dzięki za uwagi. Nową wersję pliku możesz dodać klikając w "New pull request" ale dużo łatwiej będzie edytować plik excela.
Link:
https://docs.google.com/spreadsheets/d/11BKcQ31Dp8-13TldF87-uMmdaiQ67P_jhc6hQsbomVI/edit?usp=sharing

Na stylistyce i błędach w tekście się w ogóle nie skupiałem, bo najpierw chciałem żeby trzon historii był gotowy. Brakuje bardziej rozbudowanych

[2018-12-18 21:43] chrismaliszewski commented on #988
@zcaalock, ten scenariusz przeznaczony jest do 2 edycji gry czy pierwszej? Już nie pytam o wymagane dodatki, bo już widzę, że nie mam niektórych pomieszczeń, zaczynając od Kaplicy :).

[2018-12-18 22:32] zcaalock commented on #988
Kaplica jest z pierwszej edycji. Scenariusz jest do drugiej edycji ale trzeba mieć kafelki z pierwszej

[2018-12-19 00:19] chrismaliszewski commented on #988
Ok, przejrzane. Drobne zmiany w lokalizacji (kilka miejsc) + multum uwag do scenariusza + obrazek do którego odnoszę się w uwagach. Scenariusz dobrze rokuje! Ale wymaga zmian. Jak na wstępną wersję, podobało mi się.
Jak mówiłem, tylko przeklikiwałem szukając błędów. Nie posiadam kafelek do MOM1 więc nie zagram w ten scenariusz. Zobaczyłem chyba wszystkie możliwości, bo savowałem i loadowałem scena

[2018-12-19 00:21] chrismaliszewski commented on #988
BACK TO ENGLISH: @antontimmermans, @scrubbless and others. There are many things to change/correct in the scenario. I went through it by saving/loading and checking many ways. I wrote a file with possible changes that @zcaalock can make. I encourage you to do the same. I think the scenario has a potential so, please, help him creating a very good one by sharing your thoughts/ideas :). If you have

[2018-12-19 00:21] chrismaliszewski commented on #988
@zcaalock Zapomniałem linku do uwag: https://drive.google.com/open?id=1t-aGK7C0jTN8yIzy-3m97Z15SMnzUUCu

[2018-12-19 09:06] zcaalock commented on #988
Dzięki za uwagi, zastosuje je jak tylko będę mieć chwilę czasu i poinformuje tu o progresie.
Jeśli chodzi o dynamit to jest on w tym miejscu żeby po wybuchu pożaru umożliwić powrót do przejścia. Można by dodać opcję ucieczki przez wysadzenie drzwi ale byłoby to niepotrzebne przedłużanie scenariusza, gracze mają uciec tą samą drogą, którą przyszli. Być może nie zauważyłeś ale po przejściu przez por

[2018-12-19 09:35] chrismaliszewski commented on #988
Oczywiście, że zauważyłem. Dlatego mi się podobał pomysł ze schodami. I z tego powodu pomysłałem o przeniesieniu półki z książkami do kaplicy, aby przesunąć w czasie ujawnienie tej tajemnicy.

Podejrzewam, że mówisz o dynamicie, który można zebrać ze ściany, a który podpala korytarz do nieszczęsnego zakończenia, na które narzekałem. Nie rozumiem co masz na myśli mówiąc "jest on w tym miejscu żeby

[2018-12-19 11:01] zcaalock commented on #988
Poprawiłem pierwszą lokację w kościele zgodnie z twoimi uwagami, wydaje mi się, że teraz jest dużo lepiej. Wszystkie zmiany wrzucam od razu na githuba.

Jeśli chodzi o chłopca to został on zabity w przeszłości, a pastor ukrył ciało używając portalu przenosząc się do przyszłości (o którym wg. niego tylko on wie). Dzięki temu mógł uniknąć podejrzeń.
Po scenie walki z pastorem ucieka on razem z ciałe

[2018-12-19 17:33] scrubbless commented on #988
I only speak English I am afraid so cannot follow most of this tread.

However you can give other GitHub users access to your repository, then they can create pull requests and suggest changes to your code. This is the best way to collaborate on this type of work.

I've not done it myself, but I am willing to try if someone wants to give me contributor access to their repo.

[2018-12-19 18:21] zcaalock commented on #988
I`m sorry for the polish language. @chrismaliszewski gave me some nice ideas so i want to implement them before switching to English translation.
I gave You both access, if anyone else want to get in just write here.
We can also move the conversation to my repo

[2018-12-19 19:11] chrismaliszewski commented on #988
I'm sorry too. As I think you know, it's much easier & faster speaking in your mother tongue language. Especially when you want to write a lot of text. Another thing is that I write too much sometimes... :)

@scrubbless or anyone else, if you try the scenario, let us know; I'll start writing in English only as there will be a place for a discussion with others.

BACK TO POLISH: Jest jeden błąd w r

[2018-12-19 19:51] zcaalock commented on #988
Pastor jest z przeszłości, używa portalu do ukrywania ciał w przyszłości (oglądałeś serial dark?). Poza tym jest dwóch chłopców. John to ten zaginiony syn przyjaciółki. Przeszedł za pastorem przez portal do przeszłości i teraz jest zamknięty w pokoju do którego trzeba srebrny klucz. Drugi chłopiec (z czasów 1900) to lokalna ofiara pastora, którą chce złożyć na ołtarzu. Po skończonej walce pastor z

[2018-12-20 07:10] chrismaliszewski opened #989 "Quenstions/Enhancement: Knowing players' location in the game"
### Description of Problem or Question
I'm thinking about creating a scenario. I have an interesting idea but it requires information about the players' location on board so the app would be able to say "a player is alone in a specific room".

I have a few questions which could help resolving the problem for me:
1. is it possible with the current version of the app to create a token which would be

[2018-12-20 12:08] scrubbless commented on #989
There is not functionality to track players without direct interaction with the player. The reason for this is players move at different rates and in a multitude of directions.

Adding functionality to track a players location is going to make the game too complicated and cumbersome to play.

Tokens are deployed independently using coordinates, they are not linked to tiles at all.

You can roughly

[2018-12-20 18:31] chrismaliszewski commented on #989
I understood from the very beginning of having the game why the app doesn't require tracking players' exact locations. But I hoped something like that would be possible to be achieved by using some tricks in Valkyrie.

To my thinking, the movement of players would be recorded any time in an investigator's phase by any of investigators. So it wouldn't be that annoying, especially, when it'd give pl

[2018-12-20 18:43] redwolf2 commented on #989
You can have a dialog with choice options and tokens appearing with based on those options. But you can't have token appear at mousecursor positions.

I think this request is out of scope. The official app does not allow this as a design choice. What happens on the board comes first. The whole game mechanic could be done inside the app. I think it is intended by design not to track the player move

[2018-12-20 19:03] chrismaliszewski commented on #989
I think FFG did that to
1. force people to buy the board game so they won't be able to play it without it,
2. it'd require much more work (and money) to implement it,
3. (as we said earlier) people would need to interact more with the app which could be not enjoyable.

For the described purposes, the choice options are not enough as you can imagine :(. It wouldn't be fun but rather frustrating.

*

[2018-12-20 19:03] #989 closed

[2018-12-20 22:19] beppe9000 opened #990 "Ask user for file path if not found."
The user should be asked to provide a path if none are found because of unusual locations.
In my case SteamCMD (official steam CLI client) has the 'steamapps' next to the executable.

The easy fix is to get the path from the user with the standard folder selection dialog (windows) [here](https://github.com/NPBruce/valkyrie/blob/2645a5594461fcf9c564bf5403335435b010bb36/unity/Assets/Scripts/UI/Scree

[2018-12-20 22:51] BenRQ commented on #990
Hi @beppe9000

This is a duplicate of #656 which is fixed.
There is even a known issue on this fix, that I need to work on : #984

Feature will be available in next release 2.2.

If this is blocking for you, you can try a technical version of 2.2 with no guarantee though :)
This would help us fix issue before release if you spot some issues.

And for the record, fixing this was not easy :)

[2018-12-20 22:51] #990 closed

[2018-12-20 22:59] BenRQ commented on #988
Being a non native English speaker I fully agree that speaking in mother tongue is a lot more efficient.
But you should expect a lot of English speaker to just skip the thread as soon as they see another language, so they may ignore the thread because of that.

It's just the way it is, not a critic :)

If you want to talk in details in Polish, Discord is probably a better place.
I've opened a new

[2018-12-20 23:03] BenRQ commented on #986
I'll need the translation in all languages to do this.

I'm afraid "don't have any items" may have a strange translation though if using automatic translation.
"You don't receive any items" is probably better to translate through Google

[2018-12-20 23:03] chrismaliszewski commented on #988
I think I'll copy-paste Polish texts from here to zcaalock/SotC/issues, remove Polish texts from here. As you suggested, people may skip the thread and it wouldn't be good for @zcaalock.

Thanks for your advice!

[2018-12-20 23:06] chrismaliszewski commented on #986
Agree. I just wrote a minor suggestion for the text. Not something binding :). Do whatever you find best but I think our proposal is ok.

[2018-12-20 23:34] BenRQ commented on #990
A simple fix while you and probably other are waiting for the new release :

Create a file valkyrie.reg with this content:

`
Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Steam App 478980]
"InstallLocation"="C:\\Program Files (x86)\\Steam\\steamapps\\common\\Mansions of Madness"
`

- edit path if required
- double click reg file
- re

[2018-12-20 23:51] beppe9000 commented on #990
That' a fine workaroudn thanks!

[2018-12-21 00:35] beppe9000 commented on #990
Ok I tried Valkyrie and it's awesome. I didn't expect translated content in italian... Wow ! 👍
I suppose the official scenarios can't be played in Valkyrie? I can live with that.

Just one thing bothers me (also in the official app): being unable to hit 'continue' by pressing enter or space key

[2018-12-21 16:44] scrubbless commented on #988
Hey don't apologise for speaking your language. I do skip non English text mainly because my phone doesn't give me a translate option. But I figure if people want help they'll drop a question in English :)

[2018-12-21 22:39] scrubbless commented on #988
I've made a lot of amendments to the English translation.

I have also noticed that a lot of the "The End" events were not setting the variable $end = 1. So it will not trigger the review page at the end. I have branched your master and made my ammendments, also adding an event "trigger_end" and linking it to all the "The End" type events I could find. This should work through your original langua

[2018-12-21 22:42] scrubbless commented on #978
Hi @newusergettingnuts I've just worked on @zcaalock 's scenario and made some changes to the english translation.

I do similar for your scenario if you want, I branched his repo and made my changes. If you are happy to, can you grant me permissions to your repo so I can create a branch and work on the translation?

It will be easier this way, i'll list in the commit what I have done and won't up

[2018-12-22 20:49] zcaalock commented on #988
"a lot of reference to the occipital part of the brain."
what do you mean by that?

[2018-12-22 23:53] scrubbless commented on #988
One events states how you "feel pain I your occipital".

There are other references like that. I wasn't sure if you were specifically referring to that part of the brain or if it was lost in translation and you were just referring to the brain in general.

[2018-12-23 00:00] scrubbless commented on #978
Thanks! My GitHub is line
Led to an account I don't tend to check much, I should get round to moving it to my main email account.

[2018-12-23 00:54] chrismaliszewski commented on #988
I'll have a look later this evening, too. I'll compare current PL version
with EN.

niedz., 23 gru 2018, 12:53: scrubbless <notifications@github.com>
napisał(a):

[2018-12-23 06:30] chrismaliszewski commented on #988
@scrubbless, could you please tell me where you have your changes?

[2018-12-23 08:50] scrubbless commented on #988
I cloned your repo and commited it about a day ago.

I read every event and token and translated what was in polish and corrected the phrasing on a lot of the English translated text.

It's hard to say which one as I probably updated about half of the events in one way or another.

Nearly all of my changes were in the English.localisation.txt.

The only change that was not was I added an event (on

[2018-12-25 07:50] chrismaliszewski commented on #988
@scrubbless, I took your localisation and checked both versions (PL & EN).
As a result, I pushed a new version:
-unified translations (PL & EN tell the same story now; a new PL version of @zcaalock's had more text than was translated in EN),
-corrected misspellings and interpunction in both versions,
-changed text in some places and the translations in both versions where appropriate and suited th

[2018-12-25 15:57] andrex47 opened #991 "New Scenario - OResgateSombrio"
Afternoon gents, there we go
https://github.com/andrex47/MOM2-OResgateSombrio

[2018-12-25 23:46] scrubbless commented on #991
Added, did you know you can add a scenario image? On the quest screen there is a place to select an image. Just drop a jpg or PNG in %appdata%\Valkyrie\MoM\Editor\<scenario name>\ then it will show in the images list.

[2018-12-27 10:31] chrismaliszewski commented on #986
PL:
Nie otrzymasz żadnych przedmiotów startowych

[2018-12-27 10:37] redwolf2 opened #992 "Continue on Enter or Space"
Just one thing bothers me (also in the official app): being unable to hit 'continue' by pressing enter or space key

_Originally posted by @beppe9000 in https://github.com/NPBruce/valkyrie/issues/990#issuecomment-449187986_

[2018-12-27 10:40] redwolf2 commented on #990
Yes, there is no option to play the official scenarios using the valkyrie.

I opened an issue for the "continue on enter and space" idea.

[2018-12-27 14:55] beppe9000 commented on #990
Nice!

[2018-12-27 17:49] scrubbless commented on #991
I don't speak French, however when running the scenario I can see a few issues.

I would be happy to help polish the scenario (and translate to English after if you like).

Some examples of improvements.

The scenario does not have an image.

All tokens have continue and cancel dialogue, then a follow on event to see if it's usable. This could be done with a single dialogue/event.

When the game e

[2018-12-27 18:44] BenRQ commented on #963
I've been working on this, and I'm slowly getting there.

Sort and filter are now working.
Works online and offline.

Supported :
 filter by languages and expansions
 sort by name, difficulty, duration, rating

Texts are not final of course, so feel free to comment.
Once decided, I will then need some translations.

Please note I've not update the scenario presentation yet, this will come last.

S

[2018-12-27 19:37] andrex47 commented on #991
thanks i will check it and update the file

[2018-12-27 21:39] scrubbless commented on #988
@chrismaliszewski @zcaalock
The latest master appears to have overwritten all of the changes merged by @chrismaliszewski
![image](https://user-images.githubusercontent.com/32058089/50495230-b3e67680-0a1f-11e9-8a5d-6723494884b7.png)

Was this intentional?

[2018-12-27 21:47] chrismaliszewski commented on #988
I don't think so.

@zcaalock, have you taken my commit before doing your changes?

Thank you, @scrubbless, for noticing it!

[2018-12-27 21:50] antontimmermans commented on #963
@BenRQ looking good! The filter screen and the sort and filter buttons look very nice.

On the sort page: place Avg Duration below Duration and Update date below Name to keep matching criteria close to eachother.
The second row of boxes would then be: Ratting | Update date | Virctory ratio | Avg Duration

In your example I miss the "update date" so I am not sure what that looks like. I am more in

[2018-12-27 21:52] zcaalock commented on #988
sorry, it was mistake. fixed

[2018-12-27 21:55] chrismaliszewski commented on #988
Ok. I'll check the current version and let you know later today.

[2018-12-27 23:49] scrubbless commented on #988
Good stuff, let me know when you have finished and want me to check it over again. It will bee easier for me to work over it when you are mostly near completion.

[2018-12-27 23:51] chrismaliszewski commented on #988
From what we (@zcaalock and I) talked, @zcaalock will be making some changes to the scenario. After we check PL version you will know that the new version is ready :).

[2018-12-28 17:56] BenRQ commented on #963
Yes, good idea for the change of names.

The "update date" is something new.
I'd like to be able to sort scenarios by the latest update date, to know what are the latest scenarios, what scenarios have been updated, and maybe play / replay them.
On the technical side, I still don't know how I will get the date.
I may need to add it during package generation as I didn't find how I could get the "mod

[2018-12-28 18:37] redwolf2 commented on #963
Adding a new element for it inside quest.ini is a good idea. The file modification date may be unreliant.

[2018-12-28 19:44] antontimmermans commented on #963
To see if an update is available can also be visible on the scenario selection screen as proposed in #961
That would work better for me than a sorting option, If it where up to me you could leave out the sort by "update date" option.

**Question**: if you sorted by a primary key selection and you have two items with same value (for example rating) what is then your secondary sorting key (and third

[2018-12-28 19:54] redwolf2 commented on #963
The algorithm should also punish scenarios, that set a "modify date" higher than the current date, by moving them at the end of the list.

[2018-12-29 09:41] antontimmermans commented on #963
@redwolf2 This just sounds to me like another another reason not to sort/filter by update date; I would go for an indicator in the scenario explorer that an update is available (see also #961)

[2018-12-29 18:38] BenRQ commented on #963
I would like to have this date generated rather than enter manually.

I see 3 solutions :
1) find a way to get file date from github through HTTP (I did not find a way to do this)
2) add a date in the ini file when the package is created this would be quite reliable I think, but some authors may abuse the system (I don't think they will to be honest, but I can add a security)
3) Manually add a cre

[2018-12-29 23:26] MatthieuLPro opened #993 "button issue - Only 1 button appears in event with quota - MoM"
### Problem
I have an issue when I add many buttons in a event with Quota : Variable. There is only the first button appears but not the 2 others. Someone has a solution for this issue ?
Thank you

### Valkyrie Version
Valkyrie 2.1.3

### Screenshot
![full_event](https://user-images.githubusercontent.com/43676470/50542944-0d3dd980-0bc9-11e9-823e-8c307d0f12dc.png)
![test_image](https://user-images.

[2018-12-30 00:12] BenRQ commented on #963
I found a way to get the latest commit date in github, so now this filter is also working !
Seeing the results, I'm still thinking it's interesting to have this filter.

Filter by date descending:
![image](https://user-images.githubusercontent.com/40794717/50543153-6c065180-0bcf-11e9-80ab-8e1d6da8bd92.png)

I've also implemented all filters related to statistics and improve the layout a little bit

[2018-12-30 00:20] BenRQ commented on #993
Salut @MatthieuLPro :)

I've checked the code, and Quota will only display one button.
"        // Only one button, action depends on quota  "

Why are you using quota if you are not requesting a test to players in the text ?

Seeing your text I will suggest to first ask what is the action decided the player wants to do, then do request a test (quota) depending on that.

[2018-12-30 00:53] MatthieuLPro commented on #993
Thank you for your swift answer !
Yeah I tried this solution to avoid to write text ^^''. What I was looking for it's to write 1 description for the all 3 possible actions instead of 3 descriptions for each actions.

J'ai commencé en mi-novembre et je pensais finir mon scénario pour fin décembre, mais je ne me rendais pas compte de la quantité de travail que sa demande ... Et je m'amuse à rajouter

[2018-12-30 00:53] #993 closed

[2018-12-30 01:06] BenRQ commented on #993
On a fait un groupe Facebook "Les demeures de l'épouvante - Fan club", si tu veux rejoindre et/ou si tu cherches des testeurs :)

[2018-12-30 12:21] antontimmermans opened #994 "include otherfiles in event.ini"
### Description of Problem or Question
Question:
My new scenario starts to grow rapidly in filesize  and number of events, Currently it is close to 300 events and growing and event.ini is over 2k lines. I am using a strict naming convention for my code to keep it organized but I start to feel the need to break-up the big event.ini in separate files.

Is there a way to break-up the event.ini file i

[2018-12-31 10:52] scrubbless commented on #994
Yes it is possible, for example that would be how to do it in descent Descent for a campaign.
I believe its done in the events.ini, but have not got round to it yet myself (I focus on MoM).

Ask in the Descent channel on Discord, there are a couple good Descent scenario writers in there.
https://discord.gg/cB8Z9P

[2018-12-31 11:52] NPBruce commented on #994
event.ini is just the default for events, it can be changed by selecting the event.ini button at the bottom of the event. You can combine events and other components into the same file and group them however you like (for example by room, or anything else).

You can then use file filters in the component selector to find the components from particular (or excluding particular) files.

To do it man

[2019-01-01 16:12] BenRQ commented on #963
Sort by authors is now supported.
I tried to use the "quest.authors" data of the existing quests for this, but it was not possible.
Too much variety in the author description format depending on quests.

So I've created a new input field "quest.short_authors" for this.
This should be one line of text, that will be used for scenarios.
If not available, a text "Unknown authors" will be displayed.

I

[2019-01-01 16:44] BenRQ commented on #963
Here is a technical version if some of you want to try out the sort/filter options and/or try out translations.
https://we.tl/t-loNuNTi2v7

If you want to propose a translation, text size is quite limited so it's better to try it out.

Texts files to modify can be found in valkyrie_Data\StreamingAssets\text
You can use the Localization.English.txt file to get the text to translate.

Please note th

[2019-01-01 18:32] scrubbless commented on #868
New to 2nd ED. Not to MoM ^.^ it's a puzzle from first edition.

[2019-01-01 20:06] antontimmermans commented on #994
Closing the issue as it is not an issue anymore.

If someone happens to know the answer to the "constants" question, feel free to answer it on this ticket since its still interrestig to know if it could be done. Nice to know... but no reason to keep this ticket open.

Original question is answered --> ticket closed

[2019-01-01 20:06] #994 closed

[2019-01-02 10:22] redwolf2 commented on #963
GERMAN translation:

[code]

[2019-01-02 18:58] antontimmermans commented on #963
checked and saw the following behavior:
[code]
It didn't save my preferences but went back to default sorting (marked * in above table).

[2019-01-02 19:07] antontimmermans commented on #963
checked offline behavior:

When going offline when game is active--> online statistics remained available for sorting

When starting app when offline: thex offline appears, and the rating, update date, victory ratio, avg duration are red and cannot be selected.

FIltering seems to work properly on languages.

Could not test the hide extentionsoption (I have them all)

[2019-01-02 19:11] antontimmermans commented on #963
overall conclusion: The parts I could test seemed to behave as expected. I was a bit disappointed it didn't save my personal preference but went back to default sorting.

[2019-01-02 20:42] antontimmermans opened #995 "Puzzle item not displaying UI when solved"
### Description of Problem or Question
An puzzle item that gets handed during gameplay can accessed via the inventory.:
- When it is selected in the inventory while the puzzle is not solved it wil display the puzzle. Solving the puzzle will display the result with additional text.
- When it is selected in the inventory while the puzzle is solved, it should display the result and the text. But it d

[2019-01-02 21:34] BenRQ commented on #963
@redwolf2, I've tested the German translation and two texts are too long:
Do you think you can propose a shorter version ?

For the button I could check the text size and adapt the font size if you don't have an easy solution.

![image](https://user-images.githubusercontent.com/40794717/50613578-3d91ba80-0ede-11e9-9848-60899969fdb6.png)

![image](https://user-images.githubusercontent.com/40794717/

[2019-01-02 23:00] redwolf2 commented on #963
Aktualisierungsdatum -> `Updatedatum`

Too long description -> `Textzeile "Autoren" (Relevant für die "Sortieren Nach"-Option):`

[2019-01-02 23:34] scrubbless commented on #995
You should not use a puzzle for an item inspect. I can't see a logical way for a puzzle to understand that it's complete but not trigger the completion event a second time (without using events with variables).

You should create an event for the inspect and put an event (in that event have a test for a variable like  'puzzledsolved == 1') and then the second puzzle event being sequencial  after i

[2019-01-02 23:40] scrubbless commented on #995
Rereading that I understand it sounds complex but it's not. If you don't understand my meaning let me know and I'll create a test scenario to explain it better.

[2019-01-03 00:04] BenRQ commented on #963
First text is now perfect 👍

Second text is still too long :

![image](https://user-images.githubusercontent.com/40794717/50618506-8607a300-0ef3-11e9-98a7-638a646804f5.png)

We may need to find another way to describe this.

[2019-01-03 01:38] redwolf2 commented on #963
`Textzeile "Autoren" (Für "Sortieren Nach"-Option):`

[2019-01-03 08:18] antontimmermans commented on #963
What about naming the first (original) authors field: "Credits" since it is used to name authors and possibly testers, reviewers or translators.

And name the new author field for sorting simply "Author(s)"?

[2019-01-03 08:45] antontimmermans commented on #963
Last bullet: I had no expected screen behavior in mind when testing the last bullet. I was merely testing for 'robustness': The application should not crash when choosing an 'online sorting'-option after the application lost its online connection. (<- note: I will also check this when you implement the download buttons :-) )
I am guessing you keep the information in memory on start-up, so it will

[2019-01-03 15:11] antontimmermans commented on #995
hi @BenRQ
1. If you explain how they should be renamed once the new version comes, I will find&replace them in my code.
2. Thanks for detecting that, oddly enough it seemed to be working without problem :S. The problem however is not to much parenthesis, but not enough parenthesis. it is missing the last ')'.
3. The event has a 'Continue' button which clears the UI item when clicked. The 'without

[2019-01-03 19:34] antontimmermans commented on #995
hi @BenRQ , @scrubbless

Thank you both for your quick response.  Both issues are repaired:
The lady in the bedroom was indeed missing a ')' (and some more but telling THAT would be a spoiler ;-))

The original non-displaying issue was indeed caused by "display=false". Propably caused by me wanting to go faster and copy and paste to much :s

Closing the issue.

[2019-01-03 19:34] #995 closed

[2019-01-03 20:22] alvaromunoz commented on #960
Testing on:
MacOS Mojave (10.14.2)
MoM 1.7.0
Valkyrie 2.1.5

This error does not appear to happen any more:
<img width="1280" alt="captura de pantalla 2019-01-03 a la s 5 21 45 p m" src="https://user-images.githubusercontent.com/2722773/50659675-22758800-0f7c-11e9-96a7-b55154046ef8.png">

[2019-01-03 23:22] EMILIPULIDO opened #996 "New Scenario"
New Scenario in Spanish
[https://github.com/EMILIPULIDO/VuelveXNavidad/tree/Scenario](url)
[https://github.com/EMILIPULIDO/VuelveXNavidad](url)
Valkyrie Version   Ver 2.1.5
Pure Lovecraftian investigation. Or similar, ha ha.
Thanks a lot!!

[2019-01-04 12:06] redwolf2 commented on #960
Probalby the problem is an old Valkyrie version in combinition with an old, not up-tp-date ffg game.

[2019-01-04 12:06] #960 closed

[2019-01-04 12:08] redwolf2 commented on #996
Please use a scenario image with a equal width and height.

[2019-01-04 14:39] EMILIPULIDO commented on #996
Ok. Image Resized. And Test Menu deleted (!)
If you've any new problem I'm here, please
Thanks

[2019-01-04 15:54] redwolf2 commented on #996
Looks good. @scrubbless might want to check and add it.

[2019-01-04 19:57] scrubbless commented on #996
I'll sort it for you soon!

[2019-01-04 20:05] #996 closed

[2019-01-04 20:10] scrubbless commented on #988
Sorry closed the wrong one!

[2019-01-04 21:53] EMILIPULIDO commented on #996
Thank you  @scrubbless  and @redwolf2

[2019-01-04 22:36] scrubbless commented on #996
I'll get it added to the review stats spreadsheet when I get a chance.

[2019-01-05 11:30] antontimmermans opened #997 "Investigator dependant starting items"
When starting items are distibuted, special items are handed out as starting items when specific investigators are selected (see also #46):

- "Ashcan" Pete - Unique Item Duke (the dog);
- Kate Winthrop - Unique Item Flux Stabilizer.
- Tommy Muldoon -  Unique Item Becky  (gun)
- Agnes Barnes - Storm of Spirits (Spell)
- Jim Culver - Unique item Golden Trumpet (<- new in horrific journies, super po

[2019-01-05 13:07] antontimmermans commented on #934
Hi @BenRQ

I am affraid I bumped into a bug in the editor handling the AND/OR:
![image](https://user-images.githubusercontent.com/42072372/50724750-a3ef2680-10f2-11e9-93ca-1cd3ce7039e2.png)

I started to add testsvariables and they where simply placed on top of eachother (no AND/OR between them) Adding parenthesis didn't change it nor did moving anything up and down.

Valkyrie2.2.20181209 test ver

[2019-01-05 14:31] scrubbless commented on #997
I personally don't think special items should be considered in starting item distribution. Simply because those items often are the characters special abilities.

[2019-01-05 15:08] antontimmermans commented on #997
I did not mean to NOT hand out the "duke" to Pete (etc..). Obviously the items linked to characters MUST be handed out as reported on the cards in the game.
My question is about conditionally handing out other start items (see two given examples).

To elaborate: when Tommy Muldoon is in game, he gets handed the unique item Becky. Wich means that  there is already a ranged weapon in the game at the

[2019-01-05 19:47] chrismaliszewski commented on #991
Hi. Some things to improve. First of all, I don't speak Portuguese so I was not able to follow the plot. Second, I tried any paths leading to different endings.
So:
-(PLOT), isn't that a bad idea, to allow players to start in a room where they can wander around but do nothing more than begin a dialogue? It'd be better if there was some kind of blockade so they don't waste their time and go straigh

[2019-01-05 19:52] scrubbless commented on #997
That's my point. Tommy is given that weapon as his special ability. If you can assume that no other ranged weapon is given then why not bring another investigator with an ability because you might get a decent ranged weapon too.

It would be like saying,  Rita young is in the group, don't give the players the track shoes (+1 move).

Personally is exclude the damage 3 and higher weapons from the st

[2019-01-05 21:08] andrex47 commented on #991
thanks everyone for the feedback, i will give up this scenario, i'm not the author, i just found it in the brazilian version of boardgamegeek.com that is called ludopedia.com.br and then asked if the author would allow me to publish it, so i did it, i published it, in the last email i sent the author about the erros you guys found he told me he doesn't have the time to deal with the scenario right

[2019-01-05 21:10] andrex47 commented on #991
the only thing i can do about this scenario is translate it to english, if someone would give it a chance to make corrections so be it it would be awesome, of course, i will ask the author if he wants to allow people to enhance his scenario

[2019-01-06 11:37] BenRQ commented on #934
Hi @antontimmermans
would you be able to reproduce the problem easily ? Any idea what could have caused it ?

It would be great if you could switch to a more recent test version too.
(I hope) I will soon create a new test version with the new scenario loading mechanism.
I will then give you some instructions on how to make your scenario compatible with the new test version.

[2019-01-06 12:08] MatthieuLPro opened #998 "shop system - MoM"
### Description of Problem or Question
Hello !
Is it possible to use the shop system from D2e in MoM ?
This is appearing when I add more than 1 qitem in the same event.

Thank you !

### Valkyrie Version
All

### Attach Save, Quest or Scenario
![buy_sell_item](https://user-images.githubusercontent.com/43676470/50735728-a82f4880-11b3-11e9-9acf-7c04958886ae.gif)

[2019-01-06 20:13] BenRQ commented on #998
It's a bug.

[2019-01-07 01:11] BenRQ commented on #961
Here is the current status of implementation :
 - all features are working: sort, filter, download, update, play
 - all the informations are now displayed
 - delete button should be added somewhere but I don't want it too close to the play button (for those using android with big fingers)

Still some work on the graphical side:
 - play/download/update button to design
 - fix difficulty and rating

[2019-01-07 01:14] BenRQ commented on #961
Loading time for this screen is a bit more than 2 seconds on my PC.
I'm expecting more on Android of course, but remains to be tested.

And there are still a lot of bugs to fix I'm sure :)

[2019-01-07 10:59] antontimmermans commented on #934
Hi @BenRQ
I am afraid is was very much focused on making big steps in my new scenario so I quickly solved this problem by editing the .ini file.
If I remember correctly, it started by just adding  3 test variables which where stacked directly on top of each other (No AND/OR was added in between). I can't remember what I did to get some AND/OR  between the variables, I think that happened when I ad

[2019-01-07 21:08] EMILIPULIDO commented on #996
Oh! sorry. I've landed a new patch version. Fixed error, thanks to a good user.

[2019-01-08 00:01] BenRQ commented on #996
No problem @EMILIPULIDO, as soon as you update the package on your repo, it is updated for all players who want to download it.
If they have already downloaded it, an update will be proposed (in the download page).

So you can manage update and evolutions by yourself :)

[2019-01-08 19:13] antontimmermans commented on #961
Looks good @BenRQ looking forward to test it.

As for button options I gues the wax seal button would match the paper contract style.
I am not good a graphical designs but may have a go at it later this week.

Alternatively it could also be made to look as if it is 'burned into the paper". That maybe more easy to make. That doesn't have to look as "organic" as wax. In this case it can be 'straight

[2019-01-08 22:59] andrex47 commented on #991
the author authorized us do fix the scenario, i will begin translating at once

[2019-01-09 03:07] chrismaliszewski commented on #991
I'll provide a Polish translation today as well as help with new ideas and testing.

[2019-01-09 08:49] antontimmermans commented on #961
What about burning a hole in the paper and place button text in it? Example:
![paperbarburnholeexample](https://user-images.githubusercontent.com/42072372/50887450-799fb080-13f3-11e9-9528-f0c350502a03.PNG)

Used this image for it:
![burnedholenobg](https://user-images.githubusercontent.com/42072372/50887525-ad7ad600-13f3-11e9-9732-c2be9b3077f3.png)

[2019-01-09 12:46] Ssid113 opened #999 "Rus translation"
Hello. Do you mind if I start translating app, wiki and tutorial into Russian? I looked at how it works, but I still have questions:
1. Scenario have images with text. How can I add an image with translated text for the Russian version?
2. How to add Russian voice acting?

[2019-01-09 16:43] redwolf2 commented on #999
We should first add Russian as a language to Valkyrie. We would need a` Localization.Russian.txt` file for it.

Have a look at:
https://github.com/NPBruce/valkyrie/tree/master/unity/Assets/StreamingAssets/text

Only after a valykrie version with russian language support is released, translations in russian are possible,

[2019-01-09 20:00] andrex47 commented on #991
thanks a lot @chrismaliszewski, the english translation is also ready @scrubbless

[2019-01-09 21:38] BenRQ commented on #961
I like this idea of burnt paper very much :)
I'd rather use a picto rather than a text though, just to avoid the translation / size of text headache.

[2019-01-10 06:19] chrismaliszewski opened #1000 "Enhancement: Localizations' problems"
Hi.

Although on a daily basis I use the English version of the app, whenever I switch to Polish I have problems with the translations in the app. What I mean by that is, the texts are not always accurate as they have other connotations in my language. I presume it may be a problem in all languages and may require a change/enhancement to the existing code.

Two examples. I think both English and P

[2019-01-10 09:45] redwolf2 commented on #1000
I agree. This could be could be handled very elegant, by us putting more formatted strings in the english translation file. Other languages can then overwrite it.

[2019-01-10 15:13] antontimmermans commented on #961
If you want to go for a complete burnt paper theme then maybe this could serve as scenario background:
![burntpaper](https://user-images.githubusercontent.com/42072372/50975173-34f84000-14ed-11e9-9f9a-2bf10d1862d7.png)

And optionally this could serve as a border around the scenario image:
![bigburnedhole no bg](https://user-images.githubusercontent.com/42072372/50975308-87d1f780-14ed-11e9-948e-b3

[2019-01-10 17:44] scrubbless commented on #999
We have two hurdles here. First of all the Russian language option needs to be added to the Valkyrie Application. If you click opens you can see the available languages. All of the applications text will have to be translated, like 'load scenario' , 'new scenario' , 'options' and all of the other displayed text for the apps core functionality.

Once this is done you can begin creating scenario tra

[2019-01-10 18:43] Ssid113 commented on #999
Ok, I understand.
I have been translating \valkyrie_Data\StreamingAssets\text\Localization.English.txt and \valkyrie_Data\StreamingAssets\content\MoM\base\Localization.English.txt.

[2019-01-11 00:53] BenRQ commented on #961
I think I'll move the delete button in the quest details screen.
There is no need to have it in the quest selection screen, which is already having a lot of information.

[2019-01-11 02:59] EwenDC opened #1001 "Feature request - Exclude numbers (static or variable) from a random number selection"
Having recently gotten Mansions of Madness for christmas, and instantly falling in love with it, I've started using Valkyrie to make my own scenario for the game. Like the sensible adult I am I've gone completely overboard with it, creating a scenario that requires tonnes of complicated logic. I read somewhere in the documentation about the use of AND and OR in event conditions (which would be an

[2019-01-11 09:01] BenRQ commented on #1001
Hi ewen, you could use modulo for this.

N % 3 will return 0 1 or 2

https://en.m.wikipedia.org/wiki/Modulo_operation

[2019-01-11 09:04] antontimmermans commented on #1001
Sounds like a very interesting (replayable) scenario you are building. And very a complicated one for a first  :0. I am currently also working on a 'whodunnit&where'. in your case i would probable have created events like:
EventSelection123: person1=1, person2=2 person 3=3
EventSelection132: person1=1, person2=3 person 3=2
EventSelection213: ....
EventSelection231: ....
etc..
And then in this even

[2019-01-12 12:31] EwenDC commented on #1001
@BenRQ I'm not sure how modulo would help in my situation, unless I'm missing some basic algorithm?
Var1 = #rand3
Var2 = Var1
Var2 % 3
Var3 = Var2
Var3 % 3
Would that work? I'd think even if it did you'd only have 3 possible combinations instead of the actual 6, so not useful for my use-case.

@antontimmermans D'Oh! You are completely correct; That would reduce the number of events while being eas

[2019-01-12 13:48] scrubbless commented on #991
Could you give me collaborator permissions? I'd rather branch and work on the scenario on your Repo than work independently on a version only for someone else to translate or modify this version.

[2019-01-12 15:07] Ssid113 commented on #999
Done
\valkyrie_Data\StreamingAssets\content\MoM\base\  [Localization.Russian.txt](https://github.com/NPBruce/valkyrie/files/2752176/Localization.Russian.txt)
and
\valkyrie_Data\StreamingAssets\text\  [Localization.Russian.txt](https://github.com/NPBruce/valkyrie/files/2752177/Localization.Russian.txt)

[2019-01-12 15:19] Ssid113 commented on #999
![image](https://user-images.githubusercontent.com/20969762/51074946-3ca71880-1696-11e9-81c0-373711f3d9ed.png)
When I tested I found the lost key: "tower"
I use valkyrie 2.1.5

[2019-01-12 15:42] andrex47 commented on #991
added

[2019-01-12 20:57] redwolf2 commented on #999
I created a pull request for the basic language support. https://github.com/NPBruce/valkyrie/pull/1002

Another problem I see, is that russian isn't supported by the FFG apps, so it will fall back on english for now, where ffg texts are used. On long/mid term, we should care for that, too.

[2019-01-12 21:37] Ssid113 commented on #999
Thank you. Don't worry, the application will be officially translated in May (as promised by our localizers). We have a fan translation FFG apps and it is perfectly imported in valkyrie, and when the official translation comes out there will be more willing to play in MoM and use Valkyrie, I hope)

[2019-01-13 13:24] antontimmermans opened #1003 "UItext not scaling correctly scaling with different aspects"
### Description of Problem or Question
UIPicture and UItext not scaling correctly scaling when playing in windowed mode:
Windowed
![image](https://user-images.githubusercontent.com/42072372/51085775-4a17dd80-173e-11e9-91d8-ef0de83ef7ec.png)

Fullscreen
![image](https://user-images.githubusercontent.com/42072372/51085806-8e0ae280-173e-11e9-8b66-5b7ba32e8458.png)

### Valkyrie Version
2.1.5

[2019-01-13 23:15] EwenDC commented on #1003
I have also encountered this issue while testing my scenario. I can provide a copy if you need a test bed.

[2019-01-13 23:20] NPBruce commented on #1003
Bear in mind there are 2 supported aspect ratios, 16x9 and 16x10. You should be careful with your locations to support both. This is likely what is happening here (what resolutions are you using for full screen and windowed)?

[2019-01-14 18:49] BenRQ commented on #961
Technical version is here if some of you want to test it : https://we.tl/t-ZSVyviSR23

Please note it is not synchronize with all the fix available with 2.2, so don't use it for anything else than for testing the new scenario explorer.

@NPBruce, I've been searching for this kind of things, but didn't manage to find a tutorial or anything to do this (yet).

I was going to try to do it with mask2D

[2019-01-14 19:05] antontimmermans commented on #1003
Windowed: 1600x1024 (incorrect placement & sizing)
Windowed: 1600x900 (correct placement & sizing)
Windowed:1366x768 (correct placement & sizing)
Windowed:1280x720 (correct placement & sizing)

fullscreen:  1920x1080 (correct placement & sizing)
fullscreen: 1600x1024 (incorrect placement & sizing)

So that must be the 16x9 vs 16x10 scaling diffeerence that you described.

I would not know how to d

[2019-01-14 19:19] antontimmermans commented on #961
inital startup:
start scenario
---> scenario list visible
download scenario-> dowin loading-> back to scenario list
set fliter on show only english
select OK
-----> Filter applied to list
Select BACK
->Bug:
select start scenario
---> black screen
click filter
click OK
---> Scenario list vissible
after restarting the application the behavior repeats as mentioned above from ->bug

[2019-01-14 19:53] redwolf2 commented on #961
Maybe this is less complex to do:

1. Create Texture
2. Draw left part of this image to it
![tentacles](https://user-images.githubusercontent.com/4141621/51136898-dfe66200-183d-11e9-8f9f-f95be9fe7a3d.png)
2. Draw right part of this image to it (you can't see it because)

![tentacles_white](https://user-images.githubusercontent.com/4141621/51136900-e07ef880-183d-11e9-9878-ad7d33daab6f.png)

3. Appl

[2019-01-14 20:19] NPBruce commented on #961
If you have a texture with the font prerendered you don't have to do step 3.

[2019-01-14 20:37] NPBruce commented on #1003
The important part is if you have UI elements with different units (horizontal/vertical) or different align anchor they will move with respect to each other at different aspect ratios. If you want them lined up these need to be the same. For example, both should be offset from the top right corner and scaled with screen height.

There is an aid where parts of the UI elements that will cut from the

[2019-01-14 21:40] redwolf2 commented on #1003
Could we have the option save the UIs parent as "screen", "4x3", "16x9", "16x10"?

[2019-01-15 00:38] BenRQ commented on #1001
If I'm correct, this should allow you to support all your cases in two events.

random=Rand()
if(random&1)
EventSelection1: person1=random %3, person2=random+1 %3, person 3=random+2 %3,
if(random&0)
EventSelection2: person1=random %3, person2=random+2 %3 person 3=random+1 %3

[2019-01-15 00:43] BenRQ commented on #1000
Yes I can easily add new texts, but I would need a translation in every language for each.

I see 2 texts to create in your feedback @chrismaliszewski , am I right?
 - Start game
 - Load game

I've also seen your translation proposal for Polish, I will take it at the same time as the rest.

[2019-01-15 02:21] EwenDC commented on #1001
@BenRQ Thanks for that, I tested the logic and it works. Having two separate events is the key ingredient I didn't think of to make sure all 6 possible combinations can occur. Like I said since I've already moved past this point I'll leave my scenario with the suboptimal solution.

I still think somebody might find use in the feature I'm suggesting though, so I guess it's up to the repo managers t

[2019-01-15 09:55] chrismaliszewski commented on #1000
I think simply going with 'New game' and 'Continue' as the official MoM app does should be fine. If anyone wants to change it, they will give you their propositions.

Here are translations of the 'New game' and 'Continue' to all languages: https://docs.google.com/spreadsheets/d/1V4frBHparJFqeRyQWSZXbFApBSfnfJ6JTu7hzUqR4Eo/edit?usp=sharing
The only problem is Japanese 'Continue' which is a little d

[2019-01-15 12:16] NicolaZee commented on #1001
Helo EwenDC
It's great someone else is doing a murder mystery.
You might want to have a look at (or even if you're brave) 'In the Dark' which has a similar application of roles - except there are 4 instead of 3.
Role 1: Evil Dark 'Master' Druid
Role 2: Evil Dark Druid's Apprentice
Role 3: Good White 'Master' Druid
Role 4: White Druid

When 'In the Dark' was designed I was learning Valkyrie.  It en

[2019-01-15 13:46] NicolaZee commented on #1001
Hello antontimmermans

How about I send a few advanced examples to James and ask him if he will kindly add the examples to his excellent (and very helpful) tutorial word document?

I found it very helpful when scripting 'In the Dark'.

[2019-01-15 20:07] jlederer2 opened #1004 "New scenario - A Little Night Music"
### Description of Problem or Question
Thanks for Valkyrie!  I have a new scenario to be added.
It's located at https://github.com/jlederer2/Valkyrie/tree/master/EditorScenario12

### Valkyrie Version
2.1.5

[2019-01-15 22:48] BenRQ commented on #1004
Hi @jlederer2,
thanks for the new scenario :)

Can you please rename your scenario, and directory so it is not "EditorScenarioXX" but something closer to your scenario name ?
This name is used in stats, and it needs to fit your scenario name.

Also your scenario picture need to be a square so it fits current display format.

[2019-01-15 23:30] jlederer2 commented on #1004
Done, thanks!

Jim Lederer
Open Group Distinguished IT Architect
248-345-1267
jlederer@twmi.rr.com

[2019-01-16 04:40] chrismaliszewski commented on #1004
Hi.

I can't play this scenario as I don't have the necessary expansions but I've checked it.

So:
-(mistake) misspelling in the 'invesigators' at the beginning of the game,
-(suggestion) I'd advice to that the text 'If at first, you don't succeed' to something more elaborate and not so diminishing (I think it's the correct word :)); the same goes with some other 'fail' tests' result texts,
-(sugg

[2019-01-16 13:03] jlederer2 commented on #1004
Wow, great feedback, thanks!  Will do!

Jim Lederer
Open Group Distinguished IT Architect
248-345-1267
jlederer@twmi.rr.com

[2019-01-16 14:44] jlederer2 commented on #1004
Updated per feedback.

[2019-01-16 18:31] BenRQ commented on #961
I tried to use TextMesh but didn't manage to get something working.
So I used Mask2D and created a child of UIElement named UIElementCropped.

It now works like a charm :)

![image](https://user-images.githubusercontent.com/40794717/51270398-126e9700-19c5-11e9-9f64-f1a7c2fec129.png)

I've been testing Descent a bit, and see that everything is working also on that side.
Except for expansions icons,

[2019-01-16 19:49] BenRQ commented on #511
Hi @NPBruce,
I've changed the behavior of contentData, so content is not loaded twice.
It does take more memory, but I don't think it's a problem with devices today.

Performance is much better when moving through menus.

Is it what you wanted to do here ?

See commit : https://github.com/NPBruce/valkyrie/commit/69a7a74b759538f48f75de93ca00c8b45cb910aa

[2019-01-16 20:05] BenRQ opened #1005 "Help : Translations request for new scenario explorer"
Hello everyone,

There are some new texts with the "scenario explorer" of future version 2.2, and we need it translated in all languages.

Can you please help us and provide text translated for the list below ?

**Texts have already been translated in these languages:**
English
French
German (partial) thanks @redwolf2

**Texts need to be translated in these languages:**
Spanish
Italian
Portuguese

[2019-01-16 20:52] BenRQ commented on #998
Please note you should not use more than 1 QItem per event.
@MatthieuLPro what exactly did you want to do here ?

I can fix this behaviour by using only the first item and ignoring the additional items.

[2019-01-17 05:58] chrismaliszewski commented on #1005
Polish

Not sure if some texts will fit in terms of length. I've already tried to shorten some but if there are still problems, let me know and I will create corrections of abbreviations.

SORT_TITLE,Sortuj według
SORT_SELECT_CRITERIA,Wybierz kryterium sortowania:
SORT_SELECT_ORDER,Uporządkuj:
SORT_ASCENDING,Rosnąco
SORT_DESCENDING,Malejąco

SORT_BY_AUTHOR,Autor
SORT_BY_NAME,Nazwa
SORT_BY_DIFFICUL

[2019-01-17 07:16] Ssid113 commented on #1005
Rus

[code]

[2019-01-17 10:05] scrubbless commented on #1004
I've added this to the manifest and stats sheet, sorry I didn't see this sooner!

[2019-01-17 11:59] jlederer2 commented on #1004
@scrubbless Thank you!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-17 12:47] #1004 closed

[2019-01-17 16:06] scrubbless opened #1006 "Issues with Changing Music / Intro Dialogues"
### Description of Problem or Question
There appears to be a bug in 2.1.5 with how music works (that was not there in previous versions).

If you play a custom music track, if another event attempt to play while it is "fading out" it will not play and will default to the default music (or the last playlist you played).

I have attached an example scenario.

### Valkyrie Version
2.1.5

### Attach S

[2019-01-17 19:02] BenRQ commented on #848
Old scenario has been removed from the list.
Closing this issue.

[2019-01-17 19:02] #848 closed

[2019-01-17 19:19] BenRQ commented on #1001
I don't think we should modify the way random number generation is working.
It's quite standard, and changing it could bring some confusion.

So this ticket can be closed.

@NicolaZee @antontimmermans @scrubbless , you can still work on improving the tutorial, this would clearly help a lot.

[2019-01-17 19:19] #1001 closed

[2019-01-17 19:21] BenRQ commented on #1003
Do we have an example of scenario where this kind of placement is implemented ?
It would make sense to add it to the wiki  and tutorial.

[2019-01-17 19:23] BenRQ commented on #1003
@redwolf2 adding an option to save screen format with the UI component would just guide people into doing more work I think.

It would make sense to add an option to change screen format while implementing/testing though to make sure implementation is OK.

[2019-01-17 21:36] redwolf2 commented on #1005
GERMAN

[code]

[2019-01-18 00:06] redwolf2 commented on #961
The default Gara_Scenario_Desc.ttf contains some symbols for it, but not all. I also extracted the font from the 1.7.0 assets, but it does not contain new symbols.

There is this: https://boardgamegeek.com/filepage/99055/font-containing-descent-symbols

http://tools.fantasyflightgames.com/static/fonts/Gara_Scenario_Desc.ttf
http://tools.fantasyflightgames.com/static/fonts/Windl.ttf

But it is prob

[2019-01-18 09:00] NPBruce commented on #511
The original intent here was to enable/disable expansions when testing the scenario, so you can test it in different configurations.

[2019-01-18 09:13] antontimmermans commented on #1003
In the pictures above I have been trying to align the:

- Frame around the text size and position
- Continue 'button-background' size and position
- Continue text size and position
- Text size and position.

When creating a scenario introduction page and placing the UI items it is very difficult to see the end result.  Each item is placed and visible only one at a time. To align the above, I actua

[2019-01-18 19:42] J-Iszatt commented on #960
Hi devs and thanks for the quick reply!
Sorry that i didn't reply earlier, i was kind of stressed lately..

I can confirm that it's working for me now, too!

Today I updated Road to Legend and tried reimporting the assets into the Valkyrie verison i had (2.1.2 or 2.1.3 ). With this not working, i updated to Valkyrie 2.1.5, which did the import as well as propper displaying!

Only to let you know,

[2019-01-19 08:52] MatthieuLPro commented on #998
I just tried to add 2 Qitems in the player's equipment ... So it's not difficult to avoid this problem. :)
What do you mean by :

[2019-01-19 11:11] antontimmermans opened #1008 "unexpected behavior on VAR event call"
### Description of Problem or Question
When processing this Var based event call I expected (hoped) that the cancel option is visible to allow a player not to enter a number and suffer the consequences.
![image](https://user-images.githubusercontent.com/42072372/51425816-81c0d280-1be1-11e9-91aa-b0668eaf7bcb.png)

Running thisThe cancel option is not displayed:
![image](https://user-images.githubus

[2019-01-19 15:13] BenRQ commented on #998
Even if there is more than one item in an event, there can be only one item used.
I could just ignore the fact that we have additional item, and not display the shop.

But better solution would be to limit this in the editor.

[2019-01-19 17:38] BenRQ commented on #961
For reference :
LoR = DJ04_LabyrinthOfRuin
LotW = DJ03_LairOfTheWyrm
MoB = DJ40_MistsOfBilehall
MoR = DJ21_ManorOfRavens
SoN = DJ07_ShadowOfNerekhall
TCTR = DJ44_ChainsThatRust
TT = DJ05_TheTrollfens
CKAoD = AoD
CKD1E = D1E
CKDQ = DQ
CKPromo = Promo
CKToI = ToI
CKWoD = WoD
BotW = DJ31_BondsOfTheWild
CoD = DJ27_CrownOfDestiny
CotF = DJ28_CrusadeOfTheForgotten
GoD = DJ29_GuardiansOfDeephall
OotO = D

[2019-01-19 17:55] andrex47 commented on #977
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2775817/Localization.Portuguese.txt)

[2019-01-19 19:15] BenRQ commented on #961
I found SVGs for the boxed expansions and hero and monsters pack: http://descent2e.wikia.com/wiki/Template:ValidateExpansionLogo
I created a font based on those SVG.

But for the Conversion kit, I could not found any SVG or fonts  even though symbols do exists:
https://boardgamegeek.com/thread/1103567/document-defining-2nd-edition-symbols-card-setsexp
Please help, if you know where I can find thos

[2019-01-19 19:32] BenRQ commented on #961
OK cool :) Do you create those SVG manually or do you have a tool to make a vector image from a bitmap?

[2019-01-19 19:57] redwolf2 commented on #961
Manually in inkscape. That process creates smaller SVG sizes.

[2019-01-19 23:14] redwolf2 commented on #1008
Put an event before the event. That's also how the official scenarios do it.

[2019-01-19 23:16] antontimmermans opened #1010 "Hunting horror moving to hunting horror"
### Description of Problem or Question
I am not completely sure if it is a scenario oddity or a default monster attack text, but while playing the scenario "In Places Unseen" I encountered the following:
![image](https://user-images.githubusercontent.com/42072372/51433334-60470180-1c48-11e9-8996-21831fc2b5d9.png)

Is this hunting horror chasing it's own tail?

### Valkyrie Version
2.1.5

### Attac

[2019-01-19 23:20] antontimmermans commented on #1008
@redwolf2 i am not sure if i understand you corectly. Do you mean to group all events under the button {action} place gems under one 'Collection'-event?

[2019-01-19 23:34] BenRQ commented on #961
I've moved the expansions symbols under the quest name.
Seeing the number of expansions on Descent, it's clear there was not enough space there.
And new expansions are still coming for MoM so it's future proof now :)

This gives more space for the picture, and less space for the synopsis (only one line instead of 2).

I think it looks better, I hope you think so too :)

![image](https://user-image

[2019-01-20 09:39] redwolf2 commented on #977
@slycozzolino Can you integrate this?

[2019-01-20 09:56] redwolf2 commented on #1010
This is not scenario related.

`AppData\Roaming\Valkyrie\MoM\import\textLocalization.txt`:

[code]

[2019-01-20 10:11] redwolf2 commented on #1008
Like so:

![grafik](https://user-images.githubusercontent.com/4141621/51437827-e0e71b80-1ca3-11e9-92e2-a1aaea2ca95c.png)

![grafik](https://user-images.githubusercontent.com/4141621/51437833-e6dcfc80-1ca3-11e9-90a3-db1a99afb084.png)

[EditorScenario1.zip](https://github.com/NPBruce/valkyrie/files/2776456/EditorScenario1.zip)

[2019-01-20 10:17] redwolf2 commented on #961
We could add a default image, where there is no image

[2019-01-20 13:32] antontimmermans commented on #1008
Ah thanks. Now it is clear what you mean.
I have it modeled like that, but I was hoping (expecting) that I could add a cancel option to the number entry dialogue. That would make it look a bit more nice in my opinion. The investigator can check the item and see which skill needs to be rolled and decide not to do it and leave it for another investigator without spending an action.
I guess that desc

[2019-01-20 14:09] andrex47 commented on #1005
sir, yes sir

SORT_TITLE,Ordenar
SORT_SELECT_CRITERIA,Escolha o critério de ordenação:
SORT_SELECT_ORDER,Ordenar por:
SORT_ASCENDING,Ascendente
SORT_DESCENDING,Descendente

SORT_BY_AUTHOR,Autor
SORT_BY_NAME,Nome
SORT_BY_DIFFICULTY,Dificuldade
SORT_BY_DURATION,Duração

SORT_BY_RATING,Avaliações
SORT_BY_AVERAGE_DURATION,Duração média
SORT_BY_WIN_RATIO,Porcentagem de vitória
SORT_BY_DATE,Atualizado e

[2019-01-20 15:48] antontimmermans commented on #1008
@scrubbless @redwolf2

Thanks for your thoughts and wise words on this subject. You are both right that the scenario story building can handle this in a nice way. I will close this issue.
And maybe if I get inspiration I might spends some word for hints& tips in the tutorial (unless you beat me to it :) ).

[2019-01-20 19:18] BenRQ commented on #1005
Thanks @andrex47 .
Do you think you could shorten those texts ?

![image](https://user-images.githubusercontent.com/40794717/51443892-4c56da80-1cf0-11e9-9fcf-c4fafc831c3a.png)

[2019-01-20 20:46] scrubbless commented on #1008
I've been stupidly busy at work, so you may well beat me to it.

I have a bunch of topics to write up.

If you want to suggest a topic and want to write it up yourself or want me to put it in my words please feel free to submit it as an issue here:

https://github.com/scrubbless/MoM2ndTutorial/issues

[2019-01-20 21:06] BenRQ commented on #992
This may be more complex than it looks.
There are no way do differentiate a 'cancel', 'attack', 'continue' or any other button right now...
It's just a button with text.

We would need to identify button as "continue" in the editor, and every author will have to update their scenario.

So it's a long way before we can support this.
Maybe I'm missing an easy solution for this, feel free to propose

[2019-01-20 21:08] BenRQ commented on #961
Yes I could use the Valkyrie picture there, good idea.

[2019-01-20 21:17] beppe9000 commented on #992
i think a reasonable solution could be to use the function keys to select buttons based on position (F1 left button, F2 right button| F1 first option in list, F2 second and so on) or press them directly (maybe with a setting to adjust that behaviour)

[2019-01-20 22:02] andrex47 commented on #1005
can't do, can i use symbols instead of words? then i will replace it with "%"
and about average duration just méd. will do it?

SORT_BY_WIN_RATIO,% de vitória
SORT_BY_AVERAGE_DURATION,Duração méd.

[2019-01-20 22:18] BenRQ commented on #1005
Perfect, thanks @andrex47

[2019-01-21 00:16] BenRQ commented on #1010
Looks like some monsters refer themselves, other are referring to something else (I guess a random investigator selection?)

[code]

[2019-01-21 18:48] antontimmermans commented on #1008
as per suggestion added a doc and a ticket in the tutorial repository . see https://github.com/scrubbless/MoM2ndTutorial/issues/12

closing the issue

[2019-01-21 18:48] #1008 closed

[2019-01-21 22:02] redwolf2 commented on #1010
I think, there could be serveral outcomes/replacements. 🤔

"Investigators", "Fire", "Monster", etc.

[2019-01-22 07:36] antontimmermans commented on #961
The logo is OK but the shadow doesn't match and the pin doesn't make much sense like this.
Maybe if you give it a solid background.

Where can I find the logo image? I'll try to play with it a little to make it look burned into wood,  stamped on paper, Sepia photograph with burned edges.. or something like that if that is OK with you.

[2019-01-22 08:47] BenRQ commented on #961
Here you go : https://github.com/NPBruce/valkyrie/blob/scenario_explorer_v2/unity/Assets/Resources/Sprites/scenario_list/default_quest_picture.png

[2019-01-22 09:21] antontimmermans commented on #961
Made one with Valkyrie logo:
![burnedinwoodvalkrie](https://user-images.githubusercontent.com/42072372/51524866-59c6ae80-1e2f-11e9-975e-dbd4c8caf565.PNG)

And with the elder sign i found earlier in this thread:
![burnedinwoodeldersign](https://user-images.githubusercontent.com/42072372/51524874-5d5a3580-1e2f-11e9-9aea-1ca7efb69efa.PNG)

[2019-01-22 10:56] redwolf2 commented on #961
Very nice

[2019-01-22 14:30] EtiCarasoft commented on #1005
Spanish:

SORT_TITLE, Clasificar
SORT_SELECT_CRITERIA,Seleccione los criterios de clasificación:
SORT_SELECT_ORDER,Ordenar por:
SORT_ASCENDING,Ascendente
SORT_DESCENDING,Descendente

SORT_BY_AUTHOR,Autor
SORT_BY_NAME,Nombre
SORT_BY_DIFFICULTY, Dificultad
SORT_BY_DURATION,Duración

SORT_BY_RATING,Calificación
SORT_BY_AVERAGE_DURATION,Duración media
SORT_BY_WIN_RATIO,Ratio de Victorias
SORT_BY_DATE,

[2019-01-22 19:57] BenRQ commented on #961
Very cool, you are way better than me at this!
So ... which one should we use :)

[2019-01-22 19:58] BenRQ commented on #961
If you want to try out some improvement at the other pictures, they are all here : https://github.com/NPBruce/valkyrie/tree/scenario_explorer_v2/unity/Assets/Resources/Sprites/scenario_list
You can even propose completely different pictures, you just need to keep the same aspect ratio.

[2019-01-22 20:07] BenRQ commented on #961
![image](https://user-images.githubusercontent.com/40794717/51562254-a939c880-1e89-11e9-90b3-a35f8f98afec.png)

[2019-01-22 20:14] BenRQ commented on #1005
Thanks @EtiCarasoft

Some texts are a bit too long, do you think you can shorten them ?

![image](https://user-images.githubusercontent.com/40794717/51562640-9ffd2b80-1e8a-11e9-9b6b-060a9dd8614a.png)

![image](https://user-images.githubusercontent.com/40794717/51562678-b0ada180-1e8a-11e9-952b-e9ffa4afe7ec.png)

[2019-01-22 21:38] antontimmermans commented on #961
With the power of... powerpoint :D.
For me both images would be fine but I have a slight preference for the Valkyrie logo now I see it in the end result.

1. The elder sign is already used in this overview for the dificulty score.
2. I am guessing that in Decent some scenarios also don't have a picture. The logo can also be used there, elder sign probably not.
3. I would use any excuse to show of

[2019-01-22 22:35] redwolf2 commented on #961
We could use Howards original elder sign instead:

https://github.com/redwolf2/valkyrie_content_creation_kit_mom/blob/master/misc/elder_sign_original.svg

[2019-01-22 23:18] BenRQ commented on #961
I don't know if we should count points, but my vote is for the Valkyrie sign. :)

Using the Valkyrie sign helps to understand that it is a replacement picture and it works for both Descent and MoM (and other if they come).

![image](https://user-images.githubusercontent.com/40794717/51571997-4570c900-1ea4-11e9-9809-1572976759d0.png)

[2019-01-23 04:54] chrismaliszewski commented on #1005
Hi, again.
I've just got the Chinese translation from my friend.

SORT_TITLE,分类
SORT_SELECT_CRITERIA,选择分类条件:
SORT_SELECT_ORDER,排列顺序:
SORT_ASCENDING,按字母顺序
SORT_DESCENDING,反字母顺序

SORT_BY_AUTHOR,作者
SORT_BY_NAME,名称
SORT_BY_DIFFICULTY,难度级别
SORT_BY_DURATION,持续时间

SORT_BY_RATING,评分
SORT_BY_AVERAGE_DURATION,平均持续时间
SORT_BY_WIN_RATIO,胜利比率
SORT_BY_DATE,更新日期

FILTER_TITLE,选择删选条件
FILTER_SELECT_LANG, 选择您的语言:
FI

[2019-01-23 10:33] EtiCarasoft commented on #1005
I tried to compress it all. Trying to fix it average duration can be chronometer ? In spanish would be "cronómetro" it's kind of abstract concept.

Also fixed some other lines like synopsis

SORT_TITLE, Clasificar
SORT_SELECT_CRITERIA,Seleccione los criterios de clasificación:
SORT_SELECT_ORDER,Ordenar por:
SORT_ASCENDING,Ascendente
SORT_DESCENDING,Descendente

SORT_BY_AUTHOR,Autor
SORT_BY_NAME,No

[2019-01-23 23:37] redwolf2 opened #1011 "Czech translation"
Chech translation is missing @Dlaha might help with that See also: https://github.com/NPBruce/valkyrie/pull/1002#issuecomment-456939874

[2019-01-24 23:30] BenRQ commented on #963
This feature is now fully implemented and merged in 2.2. Test version coming soon.
Please open a new ticket if you find an issue in the test version provided.

@antontimmermans saving preference is now working.

[2019-01-24 23:30] #963 closed

[2019-01-24 23:31] BenRQ commented on #962
This feature is now fully implemented and merged in 2.2. Test version coming soon.
Please open a new ticket if you find an issue in the test version provided.

[2019-01-24 23:31] #962 closed

[2019-01-24 23:31] BenRQ commented on #961
This feature is now fully implemented and merged in 2.2. Test version coming soon.
Please open a new ticket if you find an issue in the test version provided.
Or if you want to propose additional change in design.

[2019-01-24 23:31] #961 closed

[2019-01-24 23:31] BenRQ commented on #958
This feature is now fully implemented and merged in 2.2. Test version coming soon.
Please open a new ticket if you find an issue in the test version provided.

[2019-01-24 23:31] #958 closed

[2019-01-24 23:32] BenRQ commented on #957
This feature is now fully implemented and merged in 2.2. Test version coming soon.
Please open a new ticket if you find an issue in the test version provided.

[2019-01-24 23:32] #957 closed

[2019-01-24 23:32] BenRQ commented on #938
This feature is now fully implemented and merged in 2.2. Test version coming soon.
Please open a new ticket if you find an issue in the test version provided.

[2019-01-24 23:32] #938 closed

[2019-01-24 23:32] BenRQ commented on #832
This feature is now fully implemented and merged in 2.2. Test version coming soon.
Please open a new ticket if you find an issue in the test version provided.

[2019-01-24 23:32] #832 closed

[2019-01-25 00:09] BenRQ opened #1012 "Scope of 2.2 discussion"
The version 2.2 has grown into something big.

Here are _some_ of the most import changes :
* Scenario explorer v2 (#1007) #832 #938 #957 #958 #961 #962 #963 #1005
* #934 Test variable: add OR condition
* #950 A little brighter tile(s) display area
* #959 Feature: Allow setting a pre-determined solution for a code puzzle.
* #822 Adding conditions to Monster activations
* #609 Tests in starting QIt

[2019-01-25 00:13] BenRQ opened #1013 "Test build 2.2.20190125"
For those of you who want to test the latest unofficial build version 2.2 :
Android: https://we.tl/t-fX7B6xJ0o5
Windows : https://we.tl/t-MW8tBjw8VZ
Mac: https://we.tl/t-AF9TQJ6vsQ

It includes all the development already done for 2.2, as all is now merged in the official dev branch.
Any issues detected in this version should be raised as a new issue here.

Link will expire in a few days : this is

[2019-01-25 01:47] redwolf2 commented on #1012
I think we should skip the var components for 2.3. I am a litte scared of all the breaking changes it might cause at this stage, I merged the latest 2.2 changes in. https://github.com/redwolf2/valkyrie/tree/development_vars
Currenty the saving of the var components is broken. Quest.cs has also become a giant file, that might have to be refactored into several files.

[2019-01-25 02:40] redwolf2 opened #1014 "0 kb .valkyrie files will cause a black screen"
### Description of Problem or Question
InPlacesUnseen.valkyrie is a 0 kb file, due to a connection problem, I guess. The real problem is, that when I start the scenario, I get a black screen without an error or the option to delete.

I guess this will also happen on partially downloaded scenarios.

### Valkyrie Version
2.2 Test version

### Attach Save, Quest or Scenario
Log:

[code]

[2019-01-25 02:49] redwolf2 opened #1015 "Deleting MoM folder will state, that the official MoM app is not installed"
### Description of Problem or Question
Delete %AppData%\Roaming\Valkyrie\MoM

You will get this message, even though that is not the case and the import will complete

![grafik](https://user-images.githubusercontent.com/4141621/51721982-126d3780-2054-11e9-88ef-3a63228e1637.png)

### Valkyrie Version
2.2 Test version

[2019-01-25 03:15] redwolf2 opened #1016 "Scenario list display issue in Offline Mode"
### Description of Problem or Question

![grafik](https://user-images.githubusercontent.com/4141621/51722991-ae4c7280-2057-11e9-9b29-0b368d61d71b.png)

Also if I click on the scenario, it will try to download it again. Both scenarios exist on the local pc.

### Valkyrie Version
2.2 Test version

### Attach Save, Quest or Scenario
Log File:
%LOCALAPPDATA%Low\NA\Valkyrie\output_log.txt

This lines m

[2019-01-25 08:42] scrubbless commented on #1013
Testing for 2.2 - Android

Issues encountered:

- Import too 5-6 minutes

- When I loaded the scenario list it didn't display images (on poor 4g connection). Went back to main screen and it crashed Valkyrie. App froze up completely had to force quit.

- Missing text on content:
![screenshot_20190125-083105_valkyrie](https://user-images.githubusercontent.com/32058089/51734207-bd451c00-207b-11e9-99d

[2019-01-25 09:45] scrubbless commented on #1013
Some of the issues also present on WIndows:

- Tile, Expansion, Investigator Reference links are broken:
![image](https://user-images.githubusercontent.com/32058089/51737099-ac000d80-2083-11e9-8741-749c551e5a0b.png)
![image](https://user-images.githubusercontent.com/32058089/51737141-c9cd7280-2083-11e9-9f0d-e832adfc9659.png)
![image](https://user-images.githubusercontent.com/32058089/51737152-d2be

[2019-01-25 09:46] BenRQ commented on #1016
I think I just forgot to implement that ... ^^
Will do.

[2019-01-25 09:46] BenRQ commented on #1014
OK I will have a look. Should be an easy fix.

[2019-01-25 09:47] BenRQ commented on #1015
OK I will have a look.

[2019-01-25 09:53] BenRQ commented on #1013
OK I will have a look at the missing reference. It should be an issue with import.

Yes, I got a lot of invalid test report from people testing their scenario at the beginning of the rating activation.
I had to make sure scenario starting with "EditorScenario" would not send their feedback which is problematic for some official scenario.
So I would prefer to implement this : #511 Control loaded co

[2019-01-25 10:01] scrubbless commented on #1013
Its very important to be able to test a scenario "as a play would play it". The Save& Test in the scenario screen automatically enables all expansions. So you can't truly test.

I will see if I can find steps to reproduce.

[2019-01-25 10:14] BenRQ commented on #1013
Purpose of #511 is to allow dynamic choice of expansions

[2019-01-25 11:54] redwolf2 commented on #1013
I had the same problem as @scrubbless with the texts on the pc platform. {ffg: texts missing, even though they are confirmed available in the import files. 2.1.5 import works.

[2019-01-25 13:17] scrubbless commented on #1013
We still need an option to "play as the user will play" before we publish our scenarios.

For example, I have events in A Strain on Reality. The expansions required are "None". But I have events I need to test when certain expansions are in a players content library.

For example:
![image](https://user-images.githubusercontent.com/32058089/51747926-c5648200-20a2-11e9-8bd9-d53b2563cb55.png)
(no exp

[2019-01-25 14:30] BenRQ commented on #1013
Yes that's what I meant, with #511 implemented you should be able to select expansion as you'd like in the editor for testing in the editor, with save & test.

That's my understanding of the ticket at least.

[2019-01-25 14:31] BenRQ commented on #1013
I need to have a look at these import issues but I won't be able to do it this weekend.
In the meantime you should be able to import from version 2.1.5 and run 2.2 without importing again.

[2019-01-25 17:05] FASTNAVi opened #1017 "Using actual value of conditions in text"
Hi all,

I have a question. It can be possible to show in some text window actual number from the condition?

Example:

It will be 50 enemies in one scenario. On start of the game I will set "numberofenemies=50". Every death of enemy will cause "numberofenemies=-1". On start of the turn will be text like this "It is still XX enemies comming." where XX is actual value of "numberofenemies".

Another

[2019-01-25 17:25] redwolf2 commented on #1017
Yes, use {var:<Var>} in your event text to show the var value. See also: https://github.com/NPBruce/valkyrie/wiki/QuestIniEvent

I would suggest to create the variable, because the default is 0 and then check if it is >= 50. This should be a litte bit easier. Don't count down, but count up and check if the limit is reached.

[2019-01-25 19:46] chrismaliszewski commented on #1013
It's not a bug but I don't like the feature of clicking a scenario name causing its downloading. I downloaded two scenarios although I didn't want them by simply mistakenly clicking a scenario line. To me, the concept is wrong and bad!
I think, that downloading a scenario should only happen when you click a download button.
Same goes with starting it, with the button which appears instead of the d

[2019-01-25 19:54] chrismaliszewski commented on #1013
There are **many** filtering problems.

Sorting doesn't work in Polish properly. Choose any type of sorting!
Example: sort by Name ascending. For some reason, 'En la pajareria...' is before 'A glimpse of the Past' and there are a few other mistakes in the ordering.

Problem with Difficulty sorting in EN and PL.

Finally, hiding scenarios with missing expansions doesn't work either. I have no expan

[2019-01-25 20:33] scrubbless opened #1018 "Question - CAB style event packs"
I've been creating some complex and interesting event chains recently. One specific is a fun lock picking puzzle that I'd like to share to the wider community in the future.

I was thinking I could create code snips of each file (events.ini, ui.ini) that could be pasted into other people's scenarios with the relevant images and sounds. However I think the complexities might deter people.

My quest

[2019-01-25 20:48] BenRQ commented on #1013
@chrismaliszewski you have sortering issue because you changed languages while testing.
Restart in Polish and you won't have problems.
This is a bug of course I will fix this.

For the filters, I don't understand the problem. All the scenarios that do not require expansions will be displayed.
Please share screenshot if you see something unexpected.

[2019-01-25 20:52] BenRQ commented on #1013
@chrismaliszewski clicking the scenario to download is the current behaviour of official version.
I like this behaviour, but I can change that if everyone think this is a better idea to limit the action to the button.

[2019-01-25 21:23] scrubbless commented on #1013
With the menu lag, I think clicking the scenario text is annoying.

If its possible opening the scenarios splash age would be better. However I suspect that will require downloading the whole scenario.

[2019-01-25 22:12] redwolf2 commented on #1018
Git supports submodules. You can link one git repo to another. Maybe you could build upon that.

https://www.youtube.com/watch?v=8Z4Cmhji_FQ

[2019-01-25 22:41] scrubbless commented on #1018
I was thinking something along the lines of: Have a folder that contained the mini scenario (event chain) and it's content.

Then the other author just copies that pack into their scenario and references the trigger event of the external event chain in their scenario.

That would then make those events in that chain appear in their list so they can modify the event text if required. Since they may

[2019-01-25 23:33] redwolf2 commented on #1018
That is exaclty what submodules do, they act as a folder inside the repository: Oh, scrubbles updated his puzzle? Let me update my submodule. Update complete. Now let me zip it to a .valkyrie file.

Yes, I would think so.

[2019-01-25 23:43] redwolf2 opened #1019 "Scenario Explorer filtering problems"
There are **many** filtering problems.

Sorting doesn't work in Polish properly. Choose any type of sorting!
Example: sort by Name ascending. For some reason, 'En la pajareria...' is before 'A glimpse of the Past' and there are a few other mistakes in the ordering.

Problem with Difficulty sorting in EN and PL.

Finally, hiding scenarios with missing expansions doesn't work either. I have no expan

[2019-01-26 02:33] NPBruce commented on #1018
You can move any compoent to a custom .ini file (ie: include/extra_events.ini) this could be included in any number of scenarios. You can also package multiple scenarios into the same .valkyrie package if you like with common ini files.

[2019-01-26 07:59] chrismaliszewski opened #1020 "Scenario explorer new ideas"
Original post: https://github.com/NPBruce/valkyrie/issues/1013#issuecomment-457702037
I find two bad behaviours regarding the current in-work version of the Scenario explorer:
1. clicking a scenario name causes its downloading which leads to downloading scenarios by mistake/unwillingly if there is a menu-lag (and it happens often as for now),
2. it's not possible to know what kind of story a scena

[2019-01-26 08:01] chrismaliszewski commented on #1013
@scrubbless, @BenRQ - I created a new issue relating the Scenario explorer matter, here: https://github.com/NPBruce/valkyrie/issues/1020

[2019-01-26 09:39] scrubbless commented on #1018
Awesome, thanks guys. I'll have a play around!

[2019-01-26 09:39] #1018 closed

[2019-01-27 08:35] DelphiDie commented on #1012
Just to give my opinion: #823 is still one of the most imporant additions to the Descent module, since the usability of random monster groups pretty much hinges on this. As long as the thing described in #823 aren't possible, the monster group have to be manually selected which really hurts variability.

[2019-01-27 08:36] MrTantum commented on #1012
If I understand @DelphiDie correctly (as stated in Discord>Valkyrie app> app-improvements) it would be very usefull for the **Descent Shadow Rune** campaign implementation if you could add #823 to the scope of 2.2. I'm not sure though how complex the implementation of this feature is.

[2019-01-27 08:48] NicolaZee commented on #1020
How about just having a screen with the same info for the scenario as the main screen appear if the scenario is not up-to-date or has not been downloaded.

Then if the scenario is not up-to-date the user can choose to press either the cancel. download or play buttons.
If the scenario has not been downloaded, the play button is disabled.

[2019-01-27 09:42] chrismaliszewski commented on #1020
That's the point of 2.. With the current version of the SE, it's impossible to display the screen you're talking about as you need to download a whole scenario first. So some changes need to be done to the SE.

Regarding two other things you mentioned. I don't think forcing a user to download an updated version is a good thing. I think it should be done voluntarily, by a user's choice.

And there

[2019-01-27 09:49] scrubbless commented on #1020
Where is the text for the splash screen? Is that all inside the . Valkyrie? If so they'd have to be downloaded before playing.

The option for that would be to change the location or duplicate where the description, and author text are located. But that also means one for each translation.

[2019-01-27 10:34] chrismaliszewski commented on #1020
@scrubbless, that's my point: if changes are made to the system, a whole scenario doesn't need to be downloaded to display a splash screen.
And let's agree what 'splash screen' means, just in case I understand it in the other way than you do: it's a screen that is displayed after clicking a scenario name with basic information about the scenario.

Point 2. in short:
a. create a new location for st

[2019-01-27 11:14] NicolaZee commented on #1020
My version of the splash screen would be - at this stage - just what is currently in the main menu.
Name of scenario, difficulty, main menu image. etc.
This would be just to get the current version released.
Then - at a later stage - store more in a new file to display more in the splash screen.

[2019-01-27 18:04] alvaromunoz commented on #1013
Testing for MacOS (10.14.2 Mojave), MoM and DrtL at their latest versions according to Steam.

The Beta (2.2.20190125) seems to freeze after the "Made with unity" logo. I've left it running for 5 minutes and no response so far:
<img width="532" alt="captura de pantalla 2019-01-27 a la s 2 59 25 p m" src="https://user-images.githubusercontent.com/2722773/51804837-37c09800-2244-11e9-84d7-440fe5faed8

[2019-01-27 20:37] Ssid113 commented on #1020
My opinion. The easiest thing to do is register scenario. That is, using a manifest of a more complex form than just a URL and a name. When a new game is pressed, the game checks / downloads the manifest. Next, it builds forms for all downloaded scenarios. Builds the forms for the scenarios from the manifest, but if the scenario name was used earlier, it skips. Manifestos can be made one for each

[2019-01-27 21:09] scrubbless opened #1021 "[Windows 10] Valkyrie will not load"
### Description of Problem or Question
When I attempt to open Valkyrie (double click the icon from install folder or a shortcut) it flashes up this error and closes:
![image](https://user-images.githubusercontent.com/32058089/51806894-8e939500-2277-11e9-943a-a937af8f269f.png)

It will not launch at all.

Log file attached.

### Valkyrie Version
2.1.5 (2.0.1, 21.4, 2.2 test)

### Attach Save, Quest

[2019-01-27 21:17] scrubbless commented on #1013
There is a log here:

%LOCALAPPDATA%Low\NA\Valkyrie\output_log.txt

[2019-01-28 10:09] redwolf2 opened #1022 "[MacOS] Black Start Screen"
Testing for MacOS (10.14.2 Mojave), MoM and DrtL at their latest versions according to Steam.

The Beta (2.2.20190125) seems to freeze after the "Made with unity" logo. I've left it running for 5 minutes and no response so far:
<img width="532" alt="captura de pantalla 2019-01-27 a la s 2 59 25 p m" src="https://user-images.githubusercontent.com/2722773/51804837-37c09800-2244-11e9-84d7-440fe5faed8

[2019-01-28 12:08] redwolf2 commented on #1021
Please drag and drop that shotcut into Notepad++ and "Save as..." → "shotcut.txt" and copy it here.

[2019-01-28 18:08] scrubbless commented on #1021
The shortcut is what was in the issue text. The outpu_log.txt is attached

[2019-01-28 19:57] BenRQ commented on #1022
related to #980

[2019-01-28 20:00] BenRQ commented on #1022
Should be fixed, please test with next test release and re open if required.

[2019-01-28 20:00] #1022 closed

[2019-01-28 20:24] BenRQ commented on #1021
Not much to work with in the logs.
Can you please share the crash dump ?
You should find it here : .../AppData/Local/Temp/NA/Valkyrie/Crashes/

[2019-01-28 20:41] chrismaliszewski commented on #1013
Another issue two new issues found.

1. For some reason when I opened the valkyrie-windows-2.2.20190125 it went offline although I am online. But the bug is: when you click Start Scenario you see Offline caption; then you come back to the menu and again Start Scenario and the caption disappears although you are still in Offline mode. At least in my case. See the attachment below without 'Offline'

[2019-01-28 20:44] redwolf2 opened #1023 "Offline Mode Caption gone after reentry"
### Description of Problem or Question

For some reason when I opened the valkyrie-windows-2.2.20190125 it went offline although I am online. But the bug is: when you click Start Scenario you see Offline caption; then you come back to the menu and again Start Scenario and the caption disappears although you are still in Offline mode. At least in my case. See the attachment below without 'Offline'

[2019-01-28 20:46] chrismaliszewski commented on #1023
Hi, @redwolf2. If I find another issue, should I open it separately from the issue https://github.com/NPBruce/valkyrie/issues/1013 or you will be creating them?

[2019-01-28 20:48] redwolf2 opened #1024 "[Scenario Editor] Empty List in Offline Mode still shows filtered items"
### Description of Problem or Question

I downloaded 1 scenario for testing valkyrie-windows-2.2.20190125. Still in offline mode. Although the app says it has filtered out 5 scenarios (I have no idea how 5...), there is nothing displayed.
![clipboard01](https://user-images.githubusercontent.com/7532602/51864660-378ddd00-23a9-11e9-9927-241b206638e2.jpg)

_Originally posted by @chrismaliszewski in h

[2019-01-28 20:48] redwolf2 commented on #1013
I added them as separate issues

[2019-01-28 20:58] chrismaliszewski commented on #1023
Additional info for the issue: I've noticed that opening the app, playing with it (nothing fancy, changing filters), closing it and opening it again causes the app going offline. As @scrubbless mentioned here https://github.com/NPBruce/valkyrie/issues/1013#issuecomment-457515661, the offline mode stays forever with you...

[2019-01-28 21:04] BenRQ commented on #1024
@chrismaliszewski
Can you please share a screenshot of the filter popup ?

[2019-01-28 21:07] chrismaliszewski commented on #1024
I was playing around so the numbers are different now:
![image](https://user-images.githubusercontent.com/7532602/51866323-9bb2a000-23ad-11e9-9c2a-54f3a9b9bd9e.png)
![image](https://user-images.githubusercontent.com/7532602/51866308-8fc6de00-23ad-11e9-97b9-f2895242e592.png)
Where is the log file in Windows? I can share it, if you want.

[2019-01-28 21:10] chrismaliszewski commented on #1024
I'll exaplain you all the process. With scereenshots. Please wait.

[2019-01-28 21:12] chrismaliszewski commented on #1024
1. Opening the app and clicking Start Scenario.
![image](https://user-images.githubusercontent.com/7532602/51866540-18de1500-23ae-11e9-97e7-20139f6ba9b0.png)
See Offline caption.
2. Clicking filtering button. Clicking Ok (without changing the filters).
![image](https://user-images.githubusercontent.com/7532602/51866572-34492000-23ae-11e9-957f-2526a77c62f8.png)
3. Selecting all languages and removi

[2019-01-28 21:19] BenRQ commented on #1019
I fixed the issue of invalid sorting when changing language.
@chrismaliszewski if you confirm this is the only problem you have with sorting, I will close this one.

[2019-01-28 21:22] chrismaliszewski commented on #1019
It's hard to say as I'm in the 'forever offline mode' and nothing helps. Let's say, for now, that the issue is fixed. When I manage to get things to work again and find something, I'll reopen it.

[2019-01-28 21:35] BenRQ commented on #1023
@chrismaliszewski can you please share the content of the two files below ?

Logs : output_log.txt
%userprofile%\appdata\locallow\NA\Valkyrie

config.ini is in
%APPDATA%/Valkyrie/

[2019-01-28 21:39] chrismaliszewski commented on #1023
Sure,
[output_log.txt](https://github.com/NPBruce/valkyrie/files/2805068/output_log.txt)
[config.txt](https://github.com/NPBruce/valkyrie/files/2805073/config.txt)
Nothing special there, I think.

[2019-01-28 21:56] chrismaliszewski commented on #1013
As I mentioned in a few other issues and @scrubbless in his comment https://github.com/NPBruce/valkyrie/issues/1013#issuecomment-457515661 (last dot), the app can switch to 'forever offline mode' and there is no way to make it works again.

I tried:
1. removing Valkyrie dir in %appdata% and reinitiating it (no success),
2. removing valkyrie-windows-2.2.201901225 catalogue and unzipping it again un

[2019-01-28 22:40] chrismaliszewski opened #1025 "Stuck in offline mode"
As I mentioned in a few other issues and @scrubbless in his comment https://github.com/NPBruce/valkyrie/issues/1013#issuecomment-457515661 (last dot), the app can switch to 'forever offline mode' and there is no way to make it works again.

I tried:
1. removing Valkyrie dir in %appdata% and reinitiating it (no success),
2. removing valkyrie-windows-2.2.201901225 catalogue and unzipping it again un

[2019-01-28 22:58] BenRQ commented on #1023
Thanks to the logs, I fixed the issue with local quest list not showing up, due to space in picture filenames.
This should fix your problem of black screen when loading local quest list described in a few tickets like #1024

[2019-01-28 22:59] BenRQ commented on #1023
Regarding the offline caption not showing up anymore, well it's probably because you are not offline anymore.
Offline/online mode is based on the availability of the quest list.
This is a small file, and for me it takes only a few milliseconds on PC or Android mobile even though I don't have a great internet connection.

As it is clearly not the case for you and @scrubbless , I will think of a sma

[2019-01-28 23:12] BenRQ commented on #1024
Related to #1023 , should now be fixed for the black screen part.

This can be closed, as I will investigate 'forever offline mode' in #1025

[2019-01-28 23:12] #1024 closed

[2019-01-28 23:38] BenRQ commented on #1016
Local pictures are now displayed,
Synopsis text is properly managed.
I've also fixed the selection action  should be play button, and play action (instead of download).

@Ssid113 your issue is also fixed with the latest point.

[2019-01-28 23:38] #1016 closed

[2019-01-28 23:43] BenRQ commented on #1025
Can you please try again and wait 30 seconds / 1 minute in the menu before entering the scenario explorer ?
Please keep the focus on the app while waiting.

If this does not solve the problem, I may request a Wireshark capture at some points but probably with another test version as we are in HTTPS right now.

[2019-01-28 23:54] BenRQ opened #1026 "Text not available with 2.2"
Testing for 2.2 - Android

Issues encountered:

- Import took 5-6 minutes

- When I loaded the scenario list it didn't display images (on poor 4g connection). Went back to main screen and it crashed Valkyrie. App froze up completely had to force quit.

- Missing text on content:
![screenshot_20190125-083105_valkyrie](https://user-images.githubusercontent.com/32058089/51734207-bd451c00-207b-11e9-99

[2019-01-28 23:57] chrismaliszewski commented on #1025
Yeah, it solves the 'foo' problem, that's opening the app, waiting for ~30s-1m and then clicking Start Scenario.
Entering SE before creating some kind of connection to the server causes 'foo' and the connection is never established in the session again so a restart is required.

[2019-01-28 23:59] BenRQ commented on #1013
Closing this ticket, as we have all points addressed in other tickets.
Feel free to open ticket if you think we forgot something.

Testing will continue with another test version soon.

[2019-01-28 23:59] #1013 closed

[2019-01-29 00:41] BenRQ commented on #1020
Now regarding the proposal for improvements, my thoughts below :

I agree current implementation is not perfect, and we can focus on easy improvements at this stage.

With the amount of (my) time available for development, every request should be considered closely :
- is it a "show blocker" or an improvement ?
- Considering other points, is it the most important thing to change at the moment ?

I

[2019-01-29 00:52] BenRQ commented on #1025
What do you mean by "foo" ?

[2019-01-29 01:13] chrismaliszewski commented on #1025
I meant 'fom' - 'forever offline mode', sorry :)

[2019-01-29 12:40] scrubbless commented on #1020
I personally think choise 2 would be the best,

Show all of the quest information (let me you do when you have it downloaded and click on it).

I do, however think your focus should be on fixing the bugs preventing 2.2 being released with its current functionality and add this quest screen option to the 2.3 list

[2019-01-29 13:02] Ssid113 opened #1027 "content\MoM\base\Localization.Russian.txt not loaded"
### Description of Problem or Question
content\MoM\base\Localization.Russian.txt not loaded
![screenshot_2](https://user-images.githubusercontent.com/20969762/51909706-4f338880-23de-11e9-9ca8-d668024f7806.png)

I do not understand the reasons. But if I replace the text in Localization.German.txt (just an example) on Localization.Russian.txt (without changing the file name) then works.
![screenshot

[2019-01-29 13:14] redwolf2 commented on #1027
I think it must be added at the bottom of https://github.com/NPBruce/valkyrie/blob/development_2.2/unity/Assets/StreamingAssets/content/MoM/base/content_pack.ini. Will try, when I have time.

[2019-01-29 13:17] Ssid113 commented on #1012
I do not know whether it is useful, but it seems convenient for me to have a filter on downloaded scenarios.

[2019-01-29 13:21] Ssid113 commented on #1027
Thank you. I added in my local version and all works.

[2019-01-29 16:26] redwolf2 opened #1028 "[Scenario Explorer] Filter also downloaded scenarios"
I do not know whether it is useful, but it seems convenient for me to have a filter on downloaded scenarios.

_Originally posted by @Ssid113 in https://github.com/NPBruce/valkyrie/issues/1012#issuecomment-458535952_

[2019-01-29 16:32] redwolf2 commented on #1020
I agree with @scrubbless. Cut corners on how it is displayed ATM, but make sure you have all data available for future improvements.

[2019-01-29 19:48] scrubbless commented on #1021
[Valkyrie Crash.zip](https://github.com/NPBruce/valkyrie/files/2809397/Valkyrie.Crash.zip)

[2019-01-29 20:14] BenRQ commented on #1021
Thanks @scrubbless.

I found many thread with the same error " UnityPlayer.dll caused an Access Violation (0xc0000005) ".
It is always related to something in the system environment.

Can you please try the following solutions, step by step, and see if any of those things solve the issue ?

1) disable antivirus : start Valkyrie again (any version)
2) reinstall version 2.1.5 from the .exe (not the

[2019-01-29 20:15] chrismaliszewski commented on #1028
I agree.

[2019-01-29 20:38] MrTantum commented on #1026
I did some testing on my android tablet and had the same problems:

![image](https://user-images.githubusercontent.com/31658807/51938739-262aec00-240e-11e9-83aa-1242769887bd.png)

For some reasons not all texts are corrupted:

![image](https://user-images.githubusercontent.com/31658807/51938751-317e1780-240e-11e9-980d-cd0e76d076ad.png)

[2019-01-29 20:45] chrismaliszewski commented on #1025
@BenRQ, I agree with you regarding the proper work of the 'Offline' caption. I still have a question regarding your comment https://github.com/NPBruce/valkyrie/issues/1023#issuecomment-458336711. It's better to discuss it here as it relates to 'switching to online mode after you enter SE too early' matter.

From what you're saying, I understand that 'Offline/online mode is based on the availabilit

[2019-01-29 20:52] BenRQ commented on #1025
Download is only done once, after game selection, before the menu is displayed.
It's done in background so user with bad connection don't get stuck for 30 seconds will we wait for a timeout.

In your case the download finishes after you enter the scenario explorer.
I guess your download speed is slower than mine, that's why I don't see the issue.
In the meantime, the app displays the local quest l

[2019-01-29 20:54] BenRQ commented on #1023
#1023 and #1025 are two different issues. I prefer to keep both open

[2019-01-29 21:15] MrTantum opened #1029 "2.2: "End Campaign phase"-Button is being cut off"
### Description of Problem or Question
I did some testing on my android tablet (resolution 1920x1200 px, 10.1 inch). One of the buttons in descent campaign screen (shadow rune campaign) seems to be cut off (marked in red):

![image](https://user-images.githubusercontent.com/31658807/51940654-e87c9200-2412-11e9-8004-7988b1fa970d.png)

### Valkyrie Version
2.2
### Attach Save, Quest or Scenario
1. D

[2019-01-29 21:21] BenRQ commented on #1029
Hi
Can you please share a screenshot of the same screen, with 2.1.5 ?

[2019-01-29 21:30] BenRQ commented on #1025
@chrismaliszewski  thanks I appreciate your help.
I will try with the vpn tool, do you have a VPN server to propose so I don't spend too much time finding a suitable configuration ?

Regarding your analysis, you are guessing a lot here, and are mixing things up a bit :)

It works like this:
1) file download is starting
2) menu is displayed
3) user enters SE too early,
4) as scenario list is not be

[2019-01-29 21:37] BenRQ commented on #1029
This is probably related to #1003

[2019-01-29 21:41] chrismaliszewski commented on #1025
When you open the app, you will see a list of VPN servers there. Choose any. I usually use Japanese ones as they are fast, but this case you need something slow so check a server's speed listed. Rember one thing: sometimes it's impossible to connect to a certain server so try another one.

I'm guessing because I don't know the code so I try to interpret how things may work to give the results whic

[2019-01-29 22:05] scrubbless commented on #1021
Thanks @scrubbless.

I found many thread with the same error " UnityPlayer.dll caused an Access Violation (0xc0000005) ".
It is always related to something in the system environment.

Can you please try the following solutions, step by step, and see if any of those things solve the issue ?

disable antivirus : start Valkyrie again (any version) - Done no effect
reinstall version 2.1.5 from the .ex

[2019-01-29 22:11] scrubbless commented on #1021
I have followed that error through some threads and there are suggestions that it may be unity. I did install that to try to get to grips with Valkyrie code.

So I will try updating that I guess, a memory test is running at present on that device (30% not a single error, so I suspect it'll pass, since nothing else is complaining).

[2019-01-29 22:19] BenRQ commented on #1021
It could be interesting to uninstall Unity too.
Somehow Valkyrie may use the wrong dll file.

[2019-01-29 22:40] BenRQ commented on #1015
Fix regression introduced in #656

[2019-01-29 22:40] #1015 closed

[2019-01-29 22:40] scrubbless commented on #1021
Yeh I did that and it didn't help. I am just installing the latest version.

[2019-01-29 22:42] scrubbless commented on #1021
Memory test completed without error

[2019-01-29 22:44] BenRQ commented on #1021
:(

Next step will be more technical.
Can you please try to get logs with this tool ?

https://docs.microsoft.com/en-us/sysinternals/downloads/procmon

We may see something unexpected there.

[2019-01-29 23:19] redwolf2 commented on #1027
I created a pull request: https://github.com/NPBruce/valkyrie/pull/1030

[2019-01-29 23:49] scrubbless commented on #1021
It's ok, I work in IT. Not specificly used procmon I. Trouble shooting but should be able to get you some logs from it

[2019-01-30 00:21] BenRQ commented on #1026
This was not related to import, but to the optimisations on content data.

The bug was here in previous version, but was not visible, because we were always reloading the same content.
Content was loaded before the text was available.

This is now fixed, and optimisations is still available (mostly visible when navigating in menus).

[2019-01-30 00:21] #1026 closed

[2019-01-30 00:38] BenRQ commented on #1014
Fixed: creation of 0kb file should not happen again, along with manifest update.

Doing a specific management to support 0kb files should not be necessary (and is not as easy).

In your case, you should erase all your downloaded file manually to get to a clean state.

[2019-01-30 00:38] #1014 closed

[2019-01-30 00:56] BenRQ commented on #1026
@MrTantum it's also fixed for Descent of course.
Thanks for report.

[2019-01-30 17:50] redwolf2 commented on #1021
https://forum.unity.com/threads/unity-2018-2-7f1-windows-standalone-crash-on-first-run-unityplayer-dll-caused-an-access-violation.556585/

[2019-01-30 18:04] redwolf2 commented on #656
https://stackoverflow.com/questions/34090258/find-steam-games-folder/34091380#34091380

This method would be much more reliant.

[2019-01-30 19:07] BenRQ commented on #1020
OK it's done :
- action play / download / update can only be done when clicking / pressing the button
- In the editor, creating a new package now also add description and authors in all languages for external .ini

I'm closing this issue as there are a lot of information going in many directions, and it's hard to see what is missing.

It means we will need another issue regarding the next step (fo

[2019-01-30 19:07] #1020 closed

[2019-01-30 20:07] scrubbless commented on #1021
Citrix workspace can go fuck itself. I won't be around tonight, but please share one if you have one. Always eager to test new versions!

[2019-01-30 20:12] Ssid113 opened #1031 "Rus translation update"
[Localization.Russian.txt](https://github.com/NPBruce/valkyrie/files/2814241/Localization.Russian.txt)

Added missing tags. Updated text
I add all the tags, it's easier to track changes and update

[2019-01-30 21:03] BenRQ commented on #1025
Issue is fixed.
Problem was the list (the C# object) was not updated once the download is finished.
Both offline mode and online mode are now working properly.

[2019-01-30 21:03] #1025 closed

[2019-01-30 23:22] redwolf2 commented on #1031
@Ssid113 Be aware, that you don't need to include lines, that don't differ from the english translation. I removed those.

Created a pull request here: https://github.com/NPBruce/valkyrie/pull/1032

[2019-01-30 23:30] scrubbless commented on #1021
It was Citrix workspace... Uninstalled it Valkyrie works like a charm.

[2019-01-30 23:31] #1021 closed

[2019-01-31 07:40] Ssid113 commented on #1031
@redwolf2 Ok, i use google sheets. I will change the export to exclude such keys.

[2019-01-31 12:15] redwolf2 commented on #1031
I also found, that a comma ( `,` ) is added to comments

[2019-01-31 12:59] Ssid113 commented on #1031
Thank you for your comment. Corrected. This was due to column combining.
![screenshot_4](https://user-images.githubusercontent.com/20969762/52054645-407bdb80-256e-11e9-931f-2a3c7fb10ca0.png)

Now it works like this
[Localization.Russian.txt](https://github.com/NPBruce/valkyrie/files/2817234/Localization.Russian.txt)

[2019-01-31 21:44] andrex47 commented on #977
i made a mistake translating the conservatory word, now it is fixed
[Localization.Portuguese.txt](https://github.com/NPBruce/valkyrie/files/2819130/Localization.Portuguese.txt)

[2019-01-31 23:15] BenRQ commented on #1012
@DelphiDie @MrTantum, #821 is still not clear for me. I will ask some questions to try to clarify it and understand how much work we are talking about

[2019-01-31 23:34] BenRQ commented on #823
I have some questions here, please keep in mind I have not much experience with Descent (played 3 games), and even less experience with the Valkyrie editor for Descent.
Do not be afraid to give too much info :)

I want to understand what should be modified, and what should be created from scratch.
We may need to split this issue into different issues, or to have one master issues to organize the r

[2019-01-31 23:39] BenRQ commented on #1031
@redwolf2 Did you include the latest version of this file?
Just want to know if I can take the pull request.

[2019-01-31 23:40] BenRQ commented on #1029
@MrTantum if you agree, I'll close this ticket as it is a duplicate of #1003

[2019-01-31 23:44] BenRQ commented on #1003
One advice from @NPBruce on Discord on this:

One advice from @scrubbless

[2019-01-31 23:55] EwenDC commented on #1003
@BenRQ I have all of my UI elements on the same anchor, but I'm getting the effect @antontimmermans shows in his pictures. All of the images scale perfectly with the aspect ratio change but the text doesn't scale down at all, overflowing completely. It's frustrating because I'm having enough trouble fitting in the same amount of exposition that the official FFG scenarios have while having the text

[2019-02-01 00:54] NPBruce commented on #1003
Actually that is a good point, the box will scale but the text itself will always be scaled with height. So if text scale is important any graphics around it should also be scaled with height.

[2019-02-01 01:57] EwenDC commented on #1003
@NPBruce The graphics from the FFG app seem to have been made with overflow for different ratios in mind (specifically the background of their intros). They seem to scale theirs by height and have overflow on the sides of the image to account for any extra screen space due to the ratio. Valkyrie should definitely be working this way too, as scaling to fit the whole image in the screen is just guar

[2019-02-01 01:58] redwolf2 commented on #1031
Not yet, but will now.

[2019-02-01 03:55] slycozzolino commented on #977
Done

[2019-02-01 08:12] antontimmermans commented on #1012
I think #993 is not a bug but the result of not really understanding how the mechanism works (i had the same problem when I started writing scenarios). It is behaving as described in the manual. But I do have to admit that it is a little confusing that the selection list behaves as an exclusion list in certain conditions. We have the option to:

1. Improve description in the manual -->close this i

[2019-02-01 08:17] antontimmermans commented on #1003
@BenRQ I changed the title so it better reflects the remaining issue under discussion. Would this be a candidate for 2.2 scope?

[2019-02-01 08:18] MrTantum commented on #1029
Yes it's a duplicate.

[2019-02-01 08:18] #1029 closed

[2019-02-01 09:46] NPBruce commented on #1003
Perhaps the simplest solution is to just letterbox all 16x10 screens. If this support is added valkyrie can also support all resultions, just letterbox to 16x9.

[2019-02-01 16:08] redwolf2 opened #1034 "Polish translation"
I've just noticed that my Polish translation for FILTER_TEXT_NUMBER_OF_FILTERED_SCENARIO is wrong. Please correct it to:
FILTER_TEXT_NUMBER_OF_FILTERED_SCENARIO,Odfiltrowano scenariuszy: {0}

_Originally posted by @chrismaliszewski in https://github.com/NPBruce/valkyrie/issues/1033#issuecomment-459601143_

[2019-02-01 16:30] redwolf2 opened #1035 ""Go Offline", even tough already in "Offline Mode""
Start Scenario -> Click 'Go Offline' -> Back -> Start Scenario. There will again be 'Go Offline' although the app is in the offline mode (at least it acts as it is by no showing proper data). So to go back to online you need to click 'Go Offline' -> 'Go Online'.

## Valkyrie Version

2.2.20190131

_Originally posted by @chrismaliszewski in https://github.com/NPBruce/valkyrie/issues/1033#issuecomme

[2019-02-01 16:32] redwolf2 opened #1036 "Sorting is not kept between Online and Offline Mode"
Sorting is not kept between Online and Offline mode.

I think sorting doesn't work in Offline mode.

_Originally posted by @chrismaliszewski in https://github.com/NPBruce/valkyrie/issues/1033#issuecomment-459646508_

## Valkyrie Version

2.2.20190131

[2019-02-01 16:33] redwolf2 opened #1037 "Improve UI for online and offline mode"
A locally created scenario (named Scenario 1) is not visible in the online mode while it's in offline.
![image](https://user-images.githubusercontent.com/7532602/52111760-7651ba80-2669-11e9-8746-8e09a9dd4272.png)

## Valkyrie Version

2.2.20190131

_Originally posted by @chrismaliszewski in https://github.com/NPBruce/valkyrie/issues/1033#issuecomment-459646508_

[2019-02-01 16:35] redwolf2 opened #1038 "Languages flags not visible in Offline Mode"
In offline mode, languages flags are not visible although filtering by language seems to work.

## Valkyrie Version

2.2.20190131

_Originally posted by @chrismaliszewski in https://github.com/NPBruce/valkyrie/issues/1033#issuecomment-459646508_

[2019-02-01 16:39] Jedevold opened #1039 "MoM Data Files for Linux"
### Description of Problem or Question
I'm trying to run Valkyrie for MoM on Linux. I'm having trouble finding out how to get the data files from the steam app. Since Steam MoM isn't supported on linux I've tried to install it using the steps on this thread :

[https://community.fantasyflightgames.com/topic/227088-linux-support-for-the-app/](url)

The app runs on my computer, but I can't find wher

[2019-02-01 16:40] redwolf2 opened #1040 "Online Mode/Offline Mode needs translation"
Go Online/Offline needs translating.

POLSKI:

[code]

('tryb' means 'mode'),

GERMAN:

[code]

## Valkyrie Version

2.2.20190131 #1033

_Originally posted by @chrismaliszewski in https://github.com/NPBruce/valkyrie/issues/1033#issuecomment-459646508_

[2019-02-01 16:46] redwolf2 commented on #1039
Check out this link, it is for descend, but it should be similar:

https://github.com/NPBruce/valkyrie/issues/584#issuecomment-424091717

[2019-02-01 16:56] #977 closed

[2019-02-01 17:35] Jedevold commented on #1039
That worked! Thanks!

[2019-02-01 17:35] #1039 closed

[2019-02-01 17:39] BenRQ commented on #1037
This is working as designed. You have to switch offline to see local quests.

I'm not saying it's perfect, but showing local quest would delay display a lot as it is.
Asynchronous loading of the full list is the best solution but requires a bit of work.

[2019-02-01 17:54] BenRQ commented on #1036
OK I have reproduced the issue.

[2019-02-01 18:12] BenRQ commented on #1003
Limitation to 16x9 seems to be supported for standalone platform (windows, mac, Linux), but not for Android.
There is however a max aspect ratio in android that I can set to 16.9, but I don't know how it would  behave with a device 16.10 (scaling, or letter box ?).

I can provide a test version here for test on Android if someone has a device in this resolution and wants to test.

[2019-02-01 22:10] DelphiDie commented on #823
Hello @BenRQ,

I retrofitted one of our campaign scenarios as a demo to explain certain things. I'll elaborate on your questions later and refer to the code of this scenario. I tried to keep it as simple as possible.

[MonsterDemo.zip](https://github.com/NPBruce/valkyrie/files/2823531/MonsterDemo.zip)

[2019-02-02 00:08] BenRQ opened #1041 "The 'difficulty stars' are showing higher."
The 'difficulty stars' are showing higher.

A strain in reality is 3 stars but showing as 4.
![screenshot_20190131-212824_valkyrie](https://user-images.githubusercontent.com/32058089/52086808-bb111f00-259f-11e9-8893-07ea037ccb10.jpg)

_Originally posted by @scrubbless in https://github.com/NPBruce/valkyrie/issues/1033#issuecomment-459514276_

[2019-02-02 00:10] BenRQ opened #1042 "Grey play button is confusing"
The grey play button is confusing, like it's not available, maybe a green or blue button may be better. On my phone it was really hard to press, but suspect will be fine on a tablet.

![screenshot_20190131-212824_valkyrie](https://user-images.githubusercontent.com/32058089/52086808-bb111f00-259f-11e9-8893-07ea037ccb10.jpg)

_Originally posted by @scrubbless in https://github.com/NPBruce/valkyrie/i

[2019-02-02 00:11] BenRQ commented on #1042
I'm happy to take and try any proposal on this.
Here is the original file.

![button_play](https://user-images.githubusercontent.com/40794717/52156267-7791e000-2687-11e9-950e-d5b8efb7d9a4.png)

Please keep the aspect ratio.

[2019-02-02 00:14] BenRQ commented on #1037
Good news, I've been able to make asynchronous loading work.
This makes a huge difference in term of responsiveness.

I still don't know how I will merge online and offline list dynamically though.

[2019-02-02 00:20] redwolf2 commented on #1042
![play](https://user-images.githubusercontent.com/4141621/52156497-c8560880-2688-11e9-879c-86ab6b1819cd.png)

[2019-02-02 00:31] redwolf2 commented on #1037
Maybe instead of one button that switches use two and let them act like tab headers, that allow to switch between a online and offline scenario list.

[2019-02-02 00:35] BenRQ commented on #1037
Online and offline have different data structure, different sort method.
It's not simple to merge them.

I like your proposal @redwolf2, the idea of having both mode title displayed, and you select the one you want.
We don't have much space for tabs, but we could still use the top right corner to display the "two modes".
Selected mode would be highlighted somehow.

[2019-02-02 00:36] BenRQ commented on #1037
@redwolf2, try the "sort by author", or "sort by update date".
I'm already using list headers there.

[2019-02-02 00:38] redwolf2 commented on #1037
I will do. If space is a problem, you could consider removing the title entirely. It should be pretty obvious, what this dialog does.

[2019-02-02 00:42] BenRQ commented on #1031
Merged

[2019-02-02 00:42] #1031 closed

[2019-02-02 00:42] redwolf2 commented on #1042
I've seen that and I agree, a "play" button is the most valid symbol to use. The button in the image is more of a "next" button and has some simiarities to a paper plane symbol used for "send".

[2019-02-02 00:48] scrubbless commented on #1042
Could you just update your grey button to green or blue? I'd do it but on my phone ATM!

[2019-02-02 00:50] redwolf2 commented on #1042
![play2](https://user-images.githubusercontent.com/4141621/52157111-e1f94f00-268c-11e9-92d6-314996ee9bbc.png)
![play3](https://user-images.githubusercontent.com/4141621/52157113-e1f94f00-268c-11e9-8f17-6278cb234a4a.png)

I can anso make a blue variant ... one moment

[2019-02-02 00:59] BenRQ commented on #1042
![image](https://user-images.githubusercontent.com/40794717/52157240-e5d9a100-268d-11e9-9b43-0561f07dbcd0.png)

![image](https://user-images.githubusercontent.com/40794717/52157259-04d83300-268e-11e9-95c1-b88df3ae2c69.png)

[2019-02-02 01:00] BenRQ commented on #1042
![image](https://user-images.githubusercontent.com/40794717/52157272-21746b00-268e-11e9-868a-ae3262bf3121.png)

![image](https://user-images.githubusercontent.com/40794717/52157286-3f41d000-268e-11e9-9a65-a3ba1b1c398b.png)

[2019-02-02 01:01] BenRQ commented on #1042
![image](https://user-images.githubusercontent.com/40794717/52157303-55e82700-268e-11e9-92db-fd00b733afc2.png)

[2019-02-02 01:01] redwolf2 commented on #1042
The halo doesn't look as great as expected the non halo ones are better. I will also recreate a round one.

[2019-02-02 01:02] BenRQ commented on #1042
Halo is probably to strong.
I think it would be better with a really dim light, like a small shadow.

The green, is to "fluo" for me :P

[2019-02-02 01:05] redwolf2 commented on #1042
![play8](https://user-images.githubusercontent.com/4141621/52157380-f3dbf180-268e-11e9-973c-97975f537868.png)
![play7](https://user-images.githubusercontent.com/4141621/52157381-f4748800-268e-11e9-9fa1-7afd742c1b33.png)

[2019-02-02 01:10] BenRQ commented on #1042
![image](https://user-images.githubusercontent.com/40794717/52157396-11a95680-268f-11e9-8b18-9e7dfe775b21.png)

![image](https://user-images.githubusercontent.com/40794717/52157404-238af980-268f-11e9-9c92-78fbfea19411.png)

[2019-02-02 01:11] redwolf2 commented on #1042
I like the green one, it pops the best. Here they are with a mild halo.

![play9](https://user-images.githubusercontent.com/4141621/52157509-c2aff100-268f-11e9-87d4-5966111d94d0.png)
![play10](https://user-images.githubusercontent.com/4141621/52157510-c2aff100-268f-11e9-85e2-01ed6339729c.png)

[2019-02-02 01:12] BenRQ commented on #1042
We won't see the dark halo on black background

[2019-02-02 01:13] BenRQ commented on #1042
All this is already way better than my awful grey button.
I let you guys vote and agree on one, or propose even more logos.

I need to sleep, I'll take new capture if required tomorrow.

[2019-02-02 01:16] redwolf2 commented on #1042
![play11](https://user-images.githubusercontent.com/4141621/52157591-7a450300-2690-11e9-8d19-9b5072f36d6f.png)
![play12](https://user-images.githubusercontent.com/4141621/52157592-7a450300-2690-11e9-8e0d-d5dd8c73f8f0.png)

ok, no problem.

[2019-02-02 01:35] DelphiDie commented on #823
Random Monster Group issue 3: Removing randomly spawned groups

For regular monster groups an event can make use of the remove option,  to remove a certain monster group from the monster tracker. The problem with random spawns is pretty much the same as with the defeated trigger, since you can not anticipate which monster type you have to remove.

If this option would also work with the group iden

[2019-02-02 01:43] NPBruce commented on #1003
I was thinking of doing this in Valkyrie not Unity. That way Unity can run at any resolution and it is a step towards dynamic rescaling.

[2019-02-02 01:55] DelphiDie commented on #823
Here are some direct answers to your questions:

Did you give a try to the test version of 2.2 ?
#821 is fixed in it, so you should be able to generate another custom monster with the same traits, but without the risk of spawning duplicates.

This is working fine, but it still requires calling the same spawn event, which means the monster reinforcements can't be placed at different locations.

Doe

[2019-02-02 04:53] chrismaliszewski commented on #1042
Wow, the last green is great, @redwolf2!

[2019-02-02 05:01] chrismaliszewski opened #1043 "'Unable to locate MoM' text is too large"
I'm right after reinstalling my Windows OS so I don't have Steam MoM yet.
I've just opened valkyrie-windows-2.2.201900131 and noticed below:
![image](https://user-images.githubusercontent.com/7532602/52160135-06e4d500-2714-11e9-8827-5721abb2f85d.png)
For some reason, the text has become too big. I don't remember this the issue from before.
It happens in all resolutions, no matter Windowed or not.

[2019-02-02 08:49] Ssid113 opened #1044 "Spam GameObgect. Leak"
### Description of Problem or Question
in the menu choice of scenarios. Spaming UIBG GameObgect.
black square in lower left corner
![screenshot_4](https://user-images.githubusercontent.com/20969762/52162109-f9adf300-26df-11e9-8f3e-11fe8b859981.png)

Noticed spam GameObjects TextSizing. As I understand each text creates an object TextSizing
![screenshot_3](https://user-images.githubusercontent.com/

[2019-02-02 09:06] scrubbless commented on #1042
Yeh that's cool, last green one!

[2019-02-02 12:03] BenRQ commented on #1044
Well spotted, it's now fixed.
There are definitely some optimisations to do still, but that's a first step.

[2019-02-02 12:03] #1044 closed

[2019-02-02 12:10] BenRQ commented on #1042
First green : 👍 to vote
![image](https://user-images.githubusercontent.com/40794717/52164058-9a55e000-26eb-11e9-9108-fb08c83fc689.png)

Second green : 👀 to vote
![image](https://user-images.githubusercontent.com/40794717/52164042-6e3a5f00-26eb-11e9-8bff-a81944e2a60f.png)

[2019-02-02 12:11] BenRQ commented on #1042
I like both 😋

[2019-02-02 12:38] scrubbless commented on #1042
Second green is sharper.

Can we make the download button like that maybe in blue!?

[2019-02-02 12:45] BenRQ commented on #1042
There is also the update button

![button_download](https://user-images.githubusercontent.com/40794717/52164382-d5a6dd80-26f0-11e9-9a31-8c7fc870e7e1.png)
![button_update](https://user-images.githubusercontent.com/40794717/52164383-d63f7400-26f0-11e9-9927-d4bfc15bb3fd.png)

[2019-02-02 12:47] BenRQ commented on #1034
Done